@red: #DD4F48;
@green: #50B16D;
@bg: #25252E;
@black: #111115;

@white: #FFFFFF;
@op06: rgba(255, 255, 255, .6);

@m: 'Montserrat Regular';
@mb: 'Montserrat Bold';
@pr: 'Proxima Nova Regular';
@prb: 'Proxima Nova Bold';
@b: 'Bebas Neue Regular';
@bb: 'Bebas Neue Bold';

.ma {
	margin-left: auto;
	margin-right: auto;
}

.tr {
	transition: .5s;
}

.block {
	height: 50px;
}