mixin play
	<svg width="156" height="170" viewBox="0 0 156 170" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d)">
		<path d="M132.819 69.5186L29.543 10.8413C25.3016 8.43997 20 11.4678 20 16.2706V133.729C20 138.532 25.3016 141.56 29.543 139.159L132.819 80.4814C137.06 77.9746 137.06 71.92 132.819 69.5186Z" fill="#DD4F48"/>
		</g>
		<defs>
		<filter id="filter0_d" x="0" y="0" width="156" height="170" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset dy="10"/>
		<feGaussianBlur stdDeviation="10"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0.866667 0 0 0 0 0.309804 0 0 0 0 0.282353 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		</defs>
		</svg>

//========== ОБ АВТОРЕ ==========
section.about
	.container
		h2.title-2 об авторе
		.about-content
			.about-content__text
				.about-content-header.text-group-30
					h3 Никита Куценко
					p Действующий инвестор, трейдер и портфельный управляющий. Эксперт по инвестиционным продуктам
				.about-content-block
					.about-content__logo.content__logo--so
						img(src="img/so-logo.jpg" srcset="img/so-logo@2x.jpg 2x" width="300" alt="so-logo")
					.text-16
						p Со-основатель международного финансового финтех-стартапа STIPS|Oculus (партнеры IBM). Помогают трейдерам со всего мира агрегировать информацию об&nbsp;активах и принимать правильные торговые решения
					//- a(href="#!").btn.btn-small Перейти
				.block-flex
					.about-content-block.w-50
						.about-content__logo
							img(src="img/author-logo.png" alt="author-logo")
						.text-16
							p Автор образовательных курсов о&nbsp;финансовой грамотности и бесплатного марафона «Путь Инвестора», в котором приняли участие более 4000 человек
						a(href="https://investorway.getcourse.ru/page2" target="_blank").btn.btn-small Попробовать бесплатный модуль
					.about-content-block.w-50
						.about-content__logo
							img(src="img/diplom.jpg" srcset="img/diplom@2x.jpg 2x" alt="diplom")

						.text-16
							p Сертифицированный эксперт и риск&#8209;менеджер по глобальным финансовым рынкам и инвестицонным инструментам (Университет Райз, Хьюстон, США) 
						a(href="#!").popup-open3.btn.btn-small Проверить

			.about-content__video#videoPlay
				.video-text.text-30
					p Рассказываю почему каждый должен заниматься инвестированием
				.video-btn
					+play
					//- img(src="img/play2.png" alt="play")
					.video-duration 0:59
				.video-wrapper
					video#video(poster="img/video-poster.jpg" srcset="img/video-poster@2x.jpg 2x" alt='video')
						source(src="video.mp4" type="video/mp4")
						source(src="video.webm" type="video/webm")
						source(src="video.ogv" type="video/ogg")
		section.quote-block
			.quote-text
				.img-quote
					img(src="img/quote.png" alt="img")
				p.text-60 #[span.text-red За месяц научу вас] эффективно и&nbsp;безопасно инвестировать деньги в&nbsp;фондовый&nbsp;рынок и&nbsp;обеспечивать себя&nbsp;доходом в год в размере

			.super-big
				img(src="img/percent.png" srcset="img/percent@2x.png 2x" alt="img") 
				//- span 13
				//- span 30%
//========== КОНЕЦ ОБ АВТОРЕ ==========
