//========== ОБ АВТОРЕ ==========
section.about
	.container
		h2.title-2 об авторе
		.about-content
			.about-content__text
				.about-content-header.text-group-30
					h3 Никита Куценко
					p Действующий инвестор, трейдер и портфельный управляющий. Эксперт по инвестиционным продуктам
				.about-content-block
					.about-content__logo
						img(src="img/so-logo.png", alt="so-logo")
					.text-16
						p Со-основатель международного финансового финтех-стартапа STIPS|Oculus (партнеры Microsoft). Помогают трейдерам со всего мира агрегировать информацию об активах и принимать правильные торговые решения
					a(href="#!").btn.btn-small Перейти
				.block-flex
					.about-content-block.w-50
						.about-content__logo
							img(src="img/author-logo.png", alt="author-logo")
						.text-16
							p Автор образовательных курсов о&nbsp;финансовой грамотности и бесплатного марафона «Путь Инвестора», в котором приняли участие более 4000 человек
						a(href="#!").btn.btn-small Записаться на марафон
					.about-content-block.w-50
						.about-content__logo
							img(src="img/diplom.png", alt="diplom")
						.text-16
							p Сертифицированный эксперт и риск&#8209;менеджер по глобальным финансовым рынкам и инвестицонным инструментам (Университет Райз, Хьюстон, США) 
						a(href="#!").btn.btn-small Проверить

			.about-content__video
				.video-text.text-30
					p Рассказываю почему каждый должен заниматься инвестированием
				.video-btn
					img(src="img/play2.png", alt="play")
					.video-duration 0:59
				.video-wrapper
		section.quote-block
			.quote-text
				.img-quote
					img(src="img/quote.png", alt="img")
				p.text-60 #[span.text-red За месяц научу вас] эффективно и безопасно инвестировать деньги в фондовый рынок и обеспечивать себя&nbsp;доходом в год в размере

			.super-big 13&nbsp;&mdash;&nbsp;30%
//========== КОНЕЦ ОБ АВТОРЕ ==========
