// Тариф Любитель
.tariff-card.bg-op
    .tariff-card__title
        .text-group-30
            p.text-14 тариф
            h3(itemprop='name') Любитель
            p.text-16 1 месяц обучения
    .tariff-card-desk
        ul.tariff-card-desk__item
            li.text-16.text-bold 7 модулей (+2 бонусных):
            li.text-16.text-offset 30 видеоуроков,
            li.text-16.text-offset 16,5 часов материала,,
            li.text-16.text-offset 12 практических заданий,
            li.text-16.text-offset 10 тестов,
            li.text-16.text-offset дополнительные материалы
    .tariff-card-option
        ul.tariff-card-option__item
            li.post-text.text-16 Электронная рабочая тетрадь для практических заданий,
            li.post-text.text-16 Общий чат с экспертами работает ежедневно,,
            li.post-text.text-16 Доступ в личный кабинет студента курса — 2 месяца,
            li.post-text.text-16.through Учебное пособие на 150 страниц в печатном виде,
            li.post-text.text-16.through Проверка домашних заданий экспертами,
            li.post-text.text-16.through Сертификат об окончании курса,
    .tariff-card-benefits
        p.text-14 ВЫСШАЯ ЦЕННОСТЬ ТАРИФА
        p.text-16.through Доступ в закрытый клуб «Эффективные инвестиции» на 2 месяца с торговыми рекомендациями в конце обучения и чатом выпускников курса
    .tariff-card-extra
        ul.tariff-card-extra__item
            li.post-text.text-16.through 2 месяца бесплатного участия во всех вебинарах, семинарах и уроках,
            li.post-text.text-16.through Личные рекомендации Никиты Куценко по инвестиционной стратегии и обратная связь по дипломной работе,
            li.post-text.text-16.through Дополнительный модуль «Агрессивный прирост капитала» (уроки по IPO и криптовалюте)
    .tariff-card-cost
        p.text-16 Стоимость
        .price-value.price-value--mob.text-green 485 &#8381/#[span.text-30 мес]
        p.post-text.text-16 в рассрочку на 12 месяцев без %
    .tariff-card-fullcost
        p.text-16 Полная стоимость
        .price-value.price-value--mob 5 500 &#8381;
    a.btn.btn-solid.popup-open10(href='#' target='_blank')  Перейти к оплате
.price-card__add
    p #[span.text-bold Для тех, у кого все хорошо<br class="br-mobile"> с&nbsp;самоорганизацией]
    p Кто хочет повысить<br class="br-mobile">  уровень финансовой грамотности&nbsp;и&nbsp;готов самостоятельно искать&nbsp;информацию и&nbsp;набивать «шишки»&nbsp;на&nbsp;практике
// Конец Тариф Любитель