section.content
	.container
		.fix-top-close
			a(href="programms.html").btn Назад
		h2.title-2 Выберите модуль
		.modul-list
			.modul-list__item.modul-list__item-bg
				.modul-list__title
					p.text-20.text-bold Модуль 1
					p.text-16.text-bold.modul-list__lable.modul-list__lable-green Бесплатно
				.modul-list__text
					p.text-16 Инвестиции как способ достижения финансовых целей
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 2
				.modul-list__text
					p.text-16 Строим инвестиционный портфель
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 3
					p.text-16.text-bold.modul-list__lable.modul-list__lable-red Практический
				.modul-list__text
					p.text-16 Механизм принятия инвестиционных решений
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 4
					p.text-16.text-bold.modul-list__lable.modul-list__lable-red Практический
				.modul-list__text
					p.text-16 Разбор основных инструментов фондового рынка
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 5
				.modul-list__text
					p.text-16 Структура и принципы формирования эффективных инвестиционных портфелей
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 6
					p.text-16.text-bold.modul-list__lable.modul-list__lable-red Практический
				.modul-list__text
					p.text-16 Моделируем свой эффективный инвестиционный портфель в программах
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 7
				.modul-list__text
					p.text-16 Психологические особенности инвестиционного процесса
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 8
					p.text-16.text-bold.modul-list__lable.modul-list__lable-green Эксперт +
				.modul-list__text
					p.text-16 Работа с терминалом «Quik»
			.modul-list__item
				.modul-list__title
					p.text-20.text-bold Модуль 9
					p.text-16.text-bold.modul-list__lable.modul-list__lable-green Эксперт +
				.modul-list__text
					p.text-16 Как устроена работа высоко- рискованных и сложных инвестиционных продуктов (фьючерсы, опционы, структурные ноты, форекс-трейдинг и др.)
