section.facts
	.container
		.discount
			h3.title-3 Хотите<br class="br-mobile"> еще скидку?
			.discount-block
				.discount-text
						p Выложить в Instagram (сториз&nbsp;или пост) личный отзыв о&nbsp;прохождении бесплатного 1 модуля курса «Путь Инвестора» и&nbsp;отметьте аккаунт #[span.text-red @ask_kutsenko]
						p Все, кто отметил аккаунт, получат промо-код на скидку в 5% при покупке полной версии курса. Вы популяризируйте знания — я&nbsp;вас награждаю деньгами!
				.discount-percent
						p.green-text -5%