section.facts
	.container
		h2.title-2 Зачем инвестиро&shy;вать в&nbsp;фондовый рынок
		.facts-text
			p.text-20 Каждый хочет жить счастливую жизнь в достатке и&nbsp;благополучии.
			p.text-20 Финансы — это ключ к счастью. Они открывают двери<br class="br-mobile">к хорошему образованию,<br> свободному перемещению по&nbsp;миру, качественной медицине и достижению<br> материальных целей.
			p.text-20 Но почему-то никто не обучает нас финансовой грамотности — ни в школе,<br> ни в университете, ни дома.
		.statistics
			p.text-20.text-bold Инвестированием занимаются
			.grid-row
				.col-8
					.statistics-block
						.statistics-item__inner
							.statistics-item.statistics-block__percent
								p.white 52%
								p.text-20 американцев
						.statistics-item__inner
							.statistics-item.statistics-block__percent
								p.white 39%
								p.text-20 японцев
						.statistics-item__inner
							.statistics-item.statistics-block__percent
								p.white 10%
								p.text-20 китайцев
						.statistics-item__inner
							.statistics-item.statistics-block__percent
								p.red 0,8%
								p.text-20 россиян
				.col-4
					.text-box
						p.text-16.text-bold Сравните цифры и вы поймете,<br> почему одни живут хорошо,<br> а другие — плохо
						a(href="https://bcs-express.ru/novosti-i-analitika/vovlechennost-naseleniia-mira-v-investitsionnyi-protsess" target="_blank").btn.btn-small Подробнее
		.dividends
			p.text-20 Инвестор получает с акций крупных компаний дивиденды. Например:
			.grid-row.grid-row--swipe
				.col-8
					.card-color__block.card-color--50
						.card-color.card-color__green
							p.text-16.bold Сбербанк
							span.percent 8,93%
							p.text-16 годовых в рублях
						.card-color.card-color__blue
							p.text-16.bold Газпром
							span.percent 5,25%
							p.text-16 в рублях
						.card-color.card-color__red
							p.text-16.bold Coca-cola
							span.percent 2,98%
							p.text-16 в долларах
						.card-color.card-color__white
							p.text-16.bold Apple
							span.percent 0,75%
							p.text-16 в долларах
			.grid-row.grid-column
				.col-8
					.text-box
						p.text-20 Дивиденды &mdash; инвестиционный доход, который в перспективе может в разы превышать заработную плату и даже позволить вам досрочно уйти на пенсию при&nbsp;сохранении высокого уровня жизни. За 7-10 лет инвестирования обычный человек может выйти на&nbsp;пассивный доход $800-$1300 в мес.
				.col-4
					.factoid-money
						p.text-70.text-bold.text-green  $800—1300
						p.text-16.text-bold пассивного дохода в месяц может получить обычный человек за 7—10 лет инвестирования

		.conclusion
			p.text-20.text-bold Отсюда вывод:
			p.mb-120.pl-30 Чем раньше научились инвестировать, тем больше имеете прибыль
			.factoid-money.factoid-money__mob
				p.text-70.text-bold.text-green  $800—1300
				p.text-16.text-bold пассивного дохода в месяц может получить обычный человек<br class="br-mobile"> за 7—10 лет инвестирования	
		.conclusion-2
			.grid-row
				.col-8
					p.text-20 Сегодня фондовый рынок доступен как никогда &mdash; инвестируйте в крупные компании России и мира с&nbsp;мобильного телефона в приложении брокера: Сбербанк, Тинькофф, ВТБ Инвестиции и др.
					p.text-20 А поддержка государства в&nbsp;виде налоговых льгот на инвестирование, дает вам гарантированную доходность от 13% годовых.
		.compared
			p.text-20.text-bold Сравните сами
				.grid-row
					.col-8
						.compared.compared-block
							.compared-block.compared-block__percent
								p.green-text 13%
								p.text-16 гарантированная&nbsp;доходность от&nbsp;инвестиций
								.compared__item__round от
							.compared-block.compared-block__percent
								p.white 7%
								p.text-16 реальная инфляция (обесценивание&nbsp;денег)
							.compared-block.compared-block__percent
								p.white 5%
								p.text-16 средний процент<br class="br-mobile"> банковского вклада
						p.text-16.text-opacity Приведены средние данные за год в рублях, доходность в валюте — непредсказуемая	
					.col-4
						.text-box
							p.text-16.text-bold Российское законодательство предусматривает специальные налоговые льготы на прибыль от&nbsp;инвестирования
							a(href="https://www.moex.com/msn/tax-exemption" target="_blank").btn.btn-small Подробнее
		.conclusion.mt-60
			p.text-20.text-bold Отсюда вывод:
			p.mb-120.pl-30 Инвестиции приносят прибыль&nbsp;и защищают ваши деньги от обесценивания
		p.text-60 #[span.text-red Никто кроме вас самих не построит ваше финансовое благополучие.]<br>Пора брать жизнь в&nbsp;свои руки и&nbsp;заняться безопасным и&nbsp;эффективным инвестированием на&nbsp;фондовом рынке




