mixin plus
    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.5">
    <path d="M0.372667 17.9016C0.141768 17.6707 -0.0013072 17.352 9.00373e-06 16.9998C1.49799e-07 16.2954 0.57096 15.7245   1.27531   15.7245L32.7247 15.7249C33.429 15.7249 34 16.2959 34 17.0002C34 17.7046 33.4291 18.2755 32.7245 18.2757L1.27556 18.2753C0.923167 18.2742 0.603345 18.1323 0.372667 17.9016Z" fill="white"/>
    <path d="M16.0986 33.6276C15.8677 33.3967 15.7249 33.0782 15.726 32.7258L15.7243 1.27552C15.7245 0.57095 16.2954 -8.85383e-06 16.9998 1.03709e-10C17.7041 8.85404e-06 18.2751 0.570982 18.2753 1.27556L18.2755 32.7247C18.2755 33.429 17.7046 34 17.0002 34C16.6478 33.9989 16.3282 33.8571 16.0986 33.6276Z" fill="white"/>
    </g>
    </svg>

section.faq
    .container
        .faq-content
            h2.title-2 Часто задаваемые вопросы
            #accordion.faq-accordion
                .question
                    #headingOne.question-header.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                        .text-block
                            h5.title-5 В какое время проходят занятия? Я могу смотреть вечером?
                        .accordion-icon
                            +plus
                    #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-xl-12
                                    p Да, можете смотреть в любое удобное вам время. Доступ к урокам открывается в день старта и далее каждый пн. открывается модулями по 3-10 уроков. Все ученики работают потоком (так реально проверять ДЗ и давать обратную связь каждому). Вы смотрите видео-уроки в любое удобное для вас время, задаете вопросы куратору по теме урока, общаетесь в чате студентов
                .question
                    #headingTwo.question-header.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        .text-block
                            h5.title-5 Имеет ли смысл проходить обучение, если я не гражданин РФ?
                        .accordion-icon
                            +plus
                    #collapseTwo.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-xl-12
                                    p Разумеется, нет никакой разницы откуда вы. На курсах учатся люди из США, Европы, Азии и всех стран СНГ. Полученные знания применимы в любой стране и в любое время (рынки то одни и те же). Также на учебе есть блок как инвестировать нерезидентам в акции российских компаний.
                .question
                    #headingThree.question-header.collapsed(data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                        .text-block
                            h5.title-5 Что я получу на выходе? Что смогу после учебного курса? Торговать?
                        .accordion-icon
                            +plus
                    #collapseThree.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-xl-12
                                    p Вы получаете глубокие фундаментальные знания об устройстве фондового рынка, его циклах, стратегии составления инвестиционного портфеля с учетом ваших финансовых целей и задач. Научитесь понимать, какие ценные бумаги нужно покупать и какие продавать в зависимости от ситуации на рынке (проводить балансировку инвест. портфеля). Поймете, как не уделяя много времени стабильно получать прибыль из рынка и создать капитал “навсегда”.
                .question
                    #headingFour.question-header.collapsed(data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                        .text-block
                            h5.title-5 Я совсем ничего не понимаю пока в инвестировании, но разобраться хочется. Я гуманитарий. Как думайте, смогу осилить курс ?
                        .accordion-icon
                            +plus
                    #collapseFour.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-xl-12
                                    p Да, можете смотреть в любое удобное вам время. Доступ к урокам открывается в день старта и далее каждый пн. открывается модулями по 3-10 уроков. Все ученики работают потоком (так реально проверять ДЗ и давать обратную связь каждому). Вы смотрите видео-уроки в любое удобное для вас время, задаете вопросы куратору по теме урока, общаетесь в чате студентов
                .question
                    #headingFive.question-header.collapsed(data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                        .text-block
                            h5.title-5 Почему вам можно доверять? Какое у вас образование?
                        .accordion-icon
                            +plus
                    #collapseFive.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                        .text-paragraph
                            .row
                                .col-xl-12
                                    p У меня 2 высших образования:
                                        span Уральская государственная юридическая академия (специальность юриспруденция)
                                        span Уральский Федеральный Университет (Специалист по связям с общественностью в органах гос. власти)
                                    p Аттестованный специалист фондового рынка России
                                    p Имею международные сертификаты: риск-менеджера, трейдера и эксперта по глобальным финансовым рынкам (Университет RISE, США).



