.footer
	.container
		.btn Kutsenko
		.footer-flex
			.left-col
				.text-group
					.title-5 Присоединяйтесь к моим пабликам
					p Делюсь полезной информацией о фондовом рынке и инвестициях
			.right-col   
				.text-group
					.title-5 Если остались вопросы по курсу или программе, пишите в мессенджеры
		.footer-flex.footer-flex__links
			.left-col
				a(href="#") Инстаграм
				a(href="#") Фейсбук
				a(href="#") Вконтакте
				a(href="#") Канал в Телеграме
			.right-col       
				a(href="#") Вотсап
				a(href="#") Вайбер
				a(href="#") Телеграм
		.footer-flex.footer-flex__about
			.copyright
				span &#169; 2019&#8212;2020 Kutsenko
			.privacy-policy
				a(href='#') Политика конфиденциальности

  

