.footer
	.container
		.logo Kutsenko
		.footer-flex
			.left-col
				.text-group
					.title-5 Присоединяйтесь к моим пабликам
					p Делюсь полезной информацией о фондовом рынке и инвестициях
					nav.social
						a(href="#").social-item
							i.fab.fa-instagram
						a(href="#").social-item
							i.fab.fa-facebook-f 
						a(href="#").social-item
							i.fab.fa-vk
						a(href="#").social-item
							i.fab.fa-telegram
					.title-5 Если остались вопросы по курсу или программе, пишите в мессенджеры
					nav.social
					a(href="#").social-item
						i.fab.fa-whatsapp
					a(href="#").social-item
						i.fab.fa-viber
					a(href="#").social-item
						i.fab.fa-telegram-plane
			.right-col
				.details-author
					p ИП Куценко Никита Олегович
					p ИНН 860408700802 
					p ОГРН ИП 320665800111086
					p e-mail: <a href="mailto:help@askkutsenko.info">help@askkutsenko.info</a>
				.privacy-policy
					a(href='#') Политика конфиденциальности
					a(href='#') Договор оферты	 					
		.disclaimer
			p Инвестиционные результаты прошлых периодов не гарантирую доходности в будущем. Все решения об инвестировании средств должны приниматься без учета давления со стороны заинтересованных лиц, в соответствии с целями и возможностями инвестора. Никакие упоминания каких-либо компаний на сайтах, принадлежащих Куценко Никите, не являются рекламой или попыткой очернить деловую репутацию. Любые совпадения фактов и упоминаний случайны. Под словом «инвестиции» имеется в виду вложение денег инвестором в активы, которые подлежат регулированию законодательством Российской Федерации о рынке ценных бумаг. Услуги представляются по договору-оферте. Консультационные услуги и обучающие курсы не несут в себе руководства к действию и/или принуждение к инвестированию денег в какие-либо активы, они являются информационным ресурсом. Решение о размещении денег инвестор принимает самостоятельно.Предлагаемые вниманию решения не являются индивидуальной инвестиционной рекомендацией.Копирование сайта запрещено. Инвестиции на фондовом рынке не дают обещаний и гарантий доходностей. 				
		.footer-flex.footer-flex__about
			.copyright
				span &#169; 2019&#8212;2020 Kutsenko
			
		
		


  

