footer.footer
	.container
		.logo Kutsenko
		.footer-content
			.left-col
				.text-group
					.text-group__head
						.title-5 Присоединяйтесь к моим пабликам
						p Делюсь полезной<br class='br-mobile'> информацией о&nbsp;фондовом рынке&nbsp;и инвестициях
					nav.social-block
						a(href="https://www.instagram.com/ask_kutsenko/" target="_blank").link-border Инстаграм
						//- a(href="#").link-border Фейсбук
						//- a(href="#").link-border Вконтакте
						//- a(href="#").link-border Канал в Телеграме
				.details-author.details-author--desktop
					p ИП Куценко Никита Олегович
					p ОГРН ИП 320665800111086
					p Эл. почта для связи: <a href="mailto:help@askkutsenko.info">help@askkutsenko.info</a>
			.right-col
				.text-group__head
					.title-5 Если остались вопросы по курсу или программе, пишите в мессенджеры
				nav.social-block
					a(href="https://wa.me/19506455472").link-border Вотсап
					//- a(href="#").link-border Вайбер
					a(href="tg://t.me/ask_kutsenkobot").link-border Телеграм
				.details-author.details-author--mobile
					p ИП Куценко Никита Олегович
					p ОГРН ИП 320665800111086
					p Эл. почта для связи:<a href="mailto:help@askkutsenko.info">help@askkutsenko.info</a>	
				.privacy-policy
					a(href='#!').link-border.popup-open1 Политика обработки персональных данных
					a(href='#!').link-border.popup-open2 Договор оферты	 					
		//- .disclaimer
		//- 	p Инвестиционные результаты прошлых периодов не гарантирую доходности в будущем. Все решения об инвестировании средств должны приниматься без учета давления со стороны заинтересованных лиц, в соответствии с целями и возможностями инвестора. Никакие упоминания каких-либо компаний на сайтах, принадлежащих Куценко Никите, не являются рекламой или попыткой очернить деловую репутацию. Любые совпадения фактов и упоминаний случайны. Под словом «инвестиции» имеется в виду вложение денег инвестором в активы, которые подлежат регулированию законодательством Российской Федерации о рынке ценных бумаг. Услуги представляются по договору-оферте. Консультационные услуги и обучающие курсы не несут в себе руководства к действию и/или принуждение к инвестированию денег в какие-либо активы, они являются информационным ресурсом. Решение о размещении денег инвестор принимает самостоятельно.Предлагаемые вниманию решения не являются индивидуальной инвестиционной рекомендацией.Копирование сайта запрещено. Инвестиции на фондовом рынке не дают обещаний и гарантий доходностей. 				
		.footer-bottom
			.copyright-text
				span &#169; 2019&#8212;2020 Kutsenko
			
		
		


  

