mixin greenArrow
	<svg width="105" height="142" viewBox="0 0 105 142" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M104.144 50.3278L54.5679 0.85498C53.4256 -0.284993 51.574 -0.284993 50.4317 0.85498L0.856721 50.3278C-0.285574 51.4677 -0.285574 53.3156 0.856721 54.4556L14.064 67.6376C14.6125 68.1849 15.3555 68.4929 16.1322 68.4929C16.9073 68.4929 17.6518 68.1849 18.2003 67.6376L39.4578 46.4262V139.081C39.4578 140.692 40.7683 142 42.383 142H62.6181C64.2328 142 65.5433 140.692 65.5433 139.081V46.4276L86.7979 67.639C87.8949 68.7337 89.8372 68.7337 90.9341 67.639L104.143 54.4571C104.691 53.9097 105 53.1668 105 52.3932C105.001 51.6196 104.693 50.8751 104.144 50.3278Z" fill="#50B16D"/>
		</svg>
section.for-whom
	.container
		h2.title-2.bottom-line курс подойдет
		.for-whom-content
			.for-whom-block
				.for-whom-item
					p.text-20.text-bold Тем, кто хочет получать пассивный доход,<br>  а не заниматься трейдингом и спекуляциями
					p.text-16 Многие из вас слышали, что «у кого-то» есть «какой-то» пассивный доход. Пришло время расставить все точки над «i» и показать вам как он формируется
				.for-whom-item.for-whom-item__flex
					.for-whom-item__text
						.for-whom-title
							p.text-20.text-bold Кто стремится улучшить<br> свое материальное положение
							.decore-arrow.decore-arrow__mob
								+greenArrow
						p.text-16  Инвестиции созданы для того, чтобы люди могли легче совершать крупные покупки, путешествовать и обеспечивать достойное будущее своим детям.
					.decore-arrow.decore-arrow__desk
						+greenArrow
				.for-whom-item.for-whom-item--bg
					p.text-20.text-bold Кто устал от кредитов и&nbsp;займов 
					p.text-16 На фондовом рынке существуем ряд надежных инвестиционных инструментов, с гарантированным доходом выше банковского депозита в 2 раза (например, облигации федерального займа). Это поможет достигать финансовых целей в 2 раза быстрее.
				.for-whom-item
					p.text-20.text-bold Кто&nbsp;хочет&nbsp;понять&nbsp;как&nbsp;работает фондовый рынок
					p.text-16  Чтобы начать заниматься инвестициями, нужно понимать его основы. Это как начать учить букварь перед тем, как читать и писать. Без&nbsp;знаний устройства фондового рынка вы не сможете открыть для себя мир инвестиций 


			.for-whom__warning
				p #[span.text-red Курс НЕ подойдет приверженцам<br class="br-desk">легкой наживы: ] постоянным участникам хайп&#8209;проектов, финансовых пирамид и&nbsp;прочих незаконных способов «быстрого» заработка в интернете