// ========== ШАПКА ==========
header.header
	.header-bg
		img(src="img/header.png", alt="photo")
	.container
		.logo Kutsenko
		.header-title
			h2 Практический онлайн&#8209;курс для новичков<br><span> сентябрь — октябрь 2020 года</span>
			h1.title-1 Путь <br> Инвес&shy;тора
			p.text-60 #[span.text-red За месяц научу вас] инвестировать в&nbsp;фондовый рынок, достигать финансовых целей и&nbsp;формировать источники пассивного дохода
		
		.benefits
			.benefits-item.text-group-30
				h3 Обучение с нуля
				p Курс разработан для тех, кто ничего не понимает в инвестициях и фондовом рынке. Обучение длится месяц и занимает около 1 часа в день. Для работы с курсом понадобится компьютер и доступ в интернет
			.benefits-item.text-group-30
				h3 Без «воды»
				p Простой и понятный язык. Сложная финансовая терминология разъясняется. Информация подается максимально сжато, чтобы сократить время обучения. Только суть и максимум практических заданий

// ==========  КОНЕЦ ШАПКИ ==========
		
