// ========== ШАПКА ==========
.fix-top-menu.page-programms-btn.offcet-60
	//- a(href="#price").btn.btn-red Стоимость
	a(href="#price").btn.btn-red.btn-pr &#8381;
	a(href="programms.html").btn.btn-red Программа курса
	
header.header
	.header-bg
		picture
			img(src="img/header.png" srcset="img/header@2x.png 2x ", alt="photo" width="973")
	.container
		.logo
			svg(width="250" height="60" viewbox="0 0 250 60" fill="none" xmlns="http://www.w3.org/2000/svg")
				rect(opacity="0.6" x="0.5" y="0.5" width="249" height="59" rx="4.5" stroke="white")
				path(d="M35.27 40H37.67L32.18 28.57L37.49 19H35.12L29.54 29.14V19H27.2V40H29.54V32.95L30.77 30.88L35.27 40ZM56.5782 19H54.2682V34.93C54.2682 38.11 55.7382 40.24 58.9482 40.24C62.1882 40.24 63.6582 38.11 63.6582 34.93V19H61.4682V35.05C61.4682 36.94 60.7182 38.08 59.0382 38.08C57.3282 38.08 56.5782 36.94 56.5782 35.05V19ZM86.2998 40V21.13H90.1698V19H80.1198V21.13H83.9898V40H86.2998ZM111.18 18.79C108.03 18.79 106.53 20.8 106.53 24.04C106.53 29.95 113.55 30.4 113.55 35.08C113.55 36.97 112.77 38.08 111.09 38.08C109.41 38.08 108.63 36.97 108.63 35.08V33.76H106.44V34.96C106.44 38.14 107.94 40.21 111.15 40.21C114.36 40.21 115.89 38.14 115.89 34.96C115.89 29.05 108.84 28.6 108.84 23.89C108.84 22.03 109.56 20.92 111.24 20.92C112.92 20.92 113.64 22.03 113.64 23.92V24.61H115.86V24.04C115.86 20.86 114.36 18.79 111.18 18.79ZM135.272 28.3V21.13H141.572V19H132.932V40H141.572V37.87H135.272V30.4H140.402V28.3H135.272ZM160.813 23.02L166.183 40H168.613V19H166.543V34.18L161.683 19H158.713V40H160.813V23.02ZM194.088 40H196.488L190.998 28.57L196.308 19H193.938L188.358 29.14V19H186.018V40H188.358V32.95L189.588 30.88L194.088 40ZM212.909 34.93C212.909 38.11 214.499 40.21 217.709 40.21C220.949 40.21 222.539 38.11 222.539 34.93V24.07C222.539 20.86 220.949 18.79 217.709 18.79C214.499 18.79 212.909 20.86 212.909 24.07V34.93ZM215.219 23.95C215.219 22.06 216.029 20.92 217.709 20.92C219.419 20.92 220.199 22.06 220.199 23.95V35.05C220.199 36.97 219.419 38.08 217.709 38.08C216.029 38.08 215.219 36.97 215.219 35.05V23.95Z" fill="white")

		.header-title
			h2 Практический онлайн&#8209;курс для&nbsp;новичков<br><span> 1 месяц обучения. Старт 7 потока 6 сентября!</span>
			h1.title-1 Путь <br> Инвес&shy;тора
			p.text-60 #[span.text-red За месяц научу вас] инвестировать в&nbsp;фондовый рынок, достигать финансовых целей и&nbsp;формировать источники пассивного дохода

		.benefits
			.benefits-item.text-group-30
				h3 Обучение с нуля
				p Курс разработан для тех, кто ничего не понимает в инвестициях и фондовом рынке. Обучение длится месяц и занимает около 1 часа в день. Для работы с курсом понадобится компьютер и доступ в интернет
			.benefits-item.text-group-30
				h3 Без «воды»
				p Простой и понятный язык. Сложная финансовая терминология разъясняется. Информация подается максимально сжато, чтобы сократить время обучения. Только суть и максимум практических заданий

// ==========  КОНЕЦ ШАПКИ ==========

