header.header
	.header-bg
		img(src="img/header.png", alt="photo")
	.container
		a(href="#").logo Kutsenko
		.header-title
			h2 Практический онлайн-курс для новичков<br> сентябрь — октябрь 2020 года
			h1.title-1 Путь <br> Инвестора
			p.text-60 #[span.text-red За месяц научу вас] инвестировать в&nbsp;фондовый рынок, достигать финансовых целей и формировать источники пассивного дохода
		
