//========== ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ==========
.popup-fade.popup-fade-1
	.popup
		a.popup-close(href="#!") Закрыть
		.mofal-text 
			p Текст политики

//========== ДОГОВОР ОФЕРТЫ ==========
.popup-fade.popup-fade-2
	.popup
		a.popup-close2(href="#!") Закрыть
		.mofal-text 
			p Текст договора