mixin check
	svg(width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M12.8168 24.742C12.543 25.0634 12.0696 25.0879 11.7646 24.7965L0.237683 13.7779C-0.067244 13.4865 -0.0805017 12.9961 0.207896 12.6881L3.88045 8.76875C4.16902 8.46079 4.65456 8.4474 4.95948 8.73867L11.2562 14.7573C11.5611 15.0487 12.0346 15.0242 12.3084 14.7028L24.6099 0.26713C24.8837 -0.0542246 25.3682 -0.0909157 25.6862 0.185748L29.7355 3.70569C30.0537 3.98218 30.09 4.47151 29.8161 4.79287L12.8168 24.742Z" fill="#50B16D")
mixin times
	<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g opacity="0.3">
		<path d="M2.05691 40C1.53 40 1.00309 39.7996 0.602758 39.3963C-0.200919 38.5926 -0.200919 37.2897 0.602758 36.486L36.4869 0.602742C37.2906 -0.200914 38.5936 -0.200914 39.3972 0.602742C40.2009 1.4064 40.2009 2.70933 39.3972 3.51349L3.51357 39.3963C3.11023 39.7971 2.58332 40 2.05691 40Z" fill="white"/>
		<path d="M37.9436 40C37.4167 40 36.8903 39.7996 36.4894 39.3963L0.602758 3.51349C-0.200919 2.70933 -0.200919 1.4064 0.602758 0.602742C1.40643 -0.200914 2.7094 -0.200914 3.51357 0.602742L39.3972 36.486C40.2009 37.2897 40.2009 38.5926 39.3972 39.3963C38.9939 39.7971 38.4675 40 37.9436 40Z" fill="white"/>
		</g>
		</svg>
.popup-fade.popup-fade-4.popup-full
	.popup.popup-large.popup-scroll-detect
		.popup-close4
			+times
		.container
			.modul-block.modul-block__modal
				.modul-block__head.speicial-offset
					p.subtitle Бесплатно
					.title-3 Модуль 1
				.modul-block__body
					.text-group-30
						h3.text-30 Инвестиции как&nbsp;способ&nbsp;достижения<br>финансовых целей
						p В&nbsp;рамках&nbsp;марафона&nbsp;«Путь&nbsp;Инвестора»
					.lesson-block
						.lesson.speicial-offset.mt-0
							.left-col
								.text-group
									h4 Урок 1. Почему важно начать&nbsp;свой путь инвестора как можно раньше?
									p Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в&nbsp;2&nbsp;раза&nbsp;быстрее. Выясним&nbsp;структуру работы фондового рынка.
							.right-col
								.sale#saleInfo
									span.percent %%
									p Сложный процент — прибыль, которая&nbsp;суммируется с основной суммой вклада и&nbsp;в&nbsp;дальнейшем уже&nbsp;сама&nbsp;производит&nbsp;новую&nbsp;прибыль. Это та самая магия, которая делает&nbsp;людей&nbsp;богатыми

							.left-col
								.home-work
									h5.title-5 Домашняя работа
									.home-work__task
										p Пройти тест;
										p Открыть брокерский счет и&nbsp;завести 1000&nbsp;&#8381;
											span.chek-icon
												+check
							.lesson.lesson-2
								.left-col
									.text-group
										h4 Урок 2. Виды финансовых инструментов на&nbsp;фондовом&nbsp;рынке
										p Подробно изучим Акции, Облигации&nbsp;и&nbsp;Фонды&nbsp;как&nbsp;основные инструменты инвестора на фондовом рынке.
									.home-work
										h5.title-5 Домашняя работа
										.home-work__task
											p Пройти тест
							.lesson.lesson-3
								.left-col
									.text-group
										h4 Урок 3. Стратегии инвестирования в акции
										p Разберем ТОП-5 пассивных стратегий инвестирования в&nbsp;фондовый рынок, а именно:
										ul
											li Покупку дивидендных акций;
											li Покупку акций под дивиденды и&nbsp;их дальнейшая продажа;
											li Равномерное усредненное инвестирование;
											li Следование индексам через&nbsp;ETF&nbsp;фонды;
											li Поиск недооцененных акций.
									.percent-200
										span.text-green на #[span 200%]
										p больше доходности дают данные&nbsp;стратегии&nbsp;по&nbsp;сравнению с активными хедж-фондам
									.home-work
										h5.title-5 Домашняя работа
										.home-work__task
											p Пройти тест
							.lesson.lesson-4
								.left-col
									.text-group
										h4 Урок 4. Разбор торгового терминала брокера. Практическое занятие
										p На практике разберем как&nbsp;устроено&nbsp;приложение&nbsp;брокера и вместе купим Акцию,<br>Облигацию и ETF.
									.home-work
										h5.title-5 Домашняя работа
										.home-work__task
											p.chek-icon--20 Купить свою первую акцию (облигацию, фонд)
												span.chek-icon
													+check
							.lesson-benefits
								.left-col
									.text-group
										h4 После&nbsp;прохождения первого модуля вы&nbsp;сможете:
										ul
											li Разбираться&nbsp;в&nbsp;принципах работы&nbsp;фондового&nbsp;рынка и его субъектов;
											li Отличать основные финансовые&nbsp;инструменты: Акции,&nbsp;Облигации&nbsp;и&nbsp;Фонды;
											li Работать&nbsp;по&nbsp;ТОП-5&nbsp;стратегиям на фондовом рынке, которые&nbsp;дают&nbsp;доходность на 200% больше,<br>чем активные&nbsp;хедж-фонды;
											li Самостоятельно&nbsp;без&nbsp;труда осуществлять&nbsp;покупку ценных бумаг в&nbsp;приложении&nbsp;брокера

							.modul-footer#modul-footer
								a(href="https://investorway.getcourse.ru/page2" target="_blank")#floatingBtn.btn.btn-solid Попробовать бесплатно
								.modul-footer__flex
									.left-col
										p.text-16 Прохождение&nbsp;бесплатного&nbsp;модуля не&nbsp;обязывает&nbsp;вас&nbsp;к&nbsp;покупке&nbsp;платной части&nbsp;курса.&nbsp;Я&nbsp;хочу,&nbsp;чтобы&nbsp;перед покупкой,&nbsp;вы&nbsp;были&nbsp;уверены&nbsp;в&nbsp;том, что&nbsp;курс&nbsp;действительно&nbsp;вам&nbsp;подойдет
