.modul-block
	.title-3 Модуль 1
	.label-free.title-2 Бесплатно
	.text-group-30
		h3.text-30 Инвестиции как способ достижения<br>финансовых целей
		p В рамках марафона «Путь Инвестора»
	.lesson-block
		.lesson
			.left-col
				.text-group
					h4 Урок 1. Почему важно начать свой путь инвестора как можно раньше?
					p Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в 2 раза быстрее. Выясним структуру работы фондового рынка.
			.right-col
				span %%
				p Сложный процент — прибыль, которая суммируется с основной суммой вклада и в дальнейшем уже сама производит новую прибыль. Это та самая магия, которая делает людей богатыми
		.btn.btn-red Развернуть полное описание бесплатного модуля
		.modul-block__hidden
			.left-col
				.home-work
					h5.title-5 Домашняя работа
					.home-work__task
						p Пройти тест;
						p.chek-icon Открыть брокерский счет и завести 1000
			.lesson
				.left-col
					.text-group
						h4 Урок 2. Виды финансовых инструментов на фондовом рынке
						p Подробно изучим Акции, Облигации и Фонды как основные инструменты инвестора на фондовом рынке.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
			.lesson
				.left-col
					.text-group
						h4 Урок 3. Стратегии инвестирования в акции
						p Разберем ТОП-5 пассивных стратегий инвестирования в фондовый рынок, а именно:
						ul
							li Покупку дивидендных акций;
							li Покупку акций под дивиденды и их дальнейшая продажа;
							li Равномерное усредненное инвестирование;
							li Следование индексам через ETF фонды;
							li Поиск недооцененных акций.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
				.right-col
					span.green на 200%
					p больше доходности дают данные стратегии по сравнению с активными хедж-фондами
			.lesson
				.left-col
					.text-group
						h4 Урок 4. Разбор торгового терминала брокера. Практическое занятие
						p На практике разберем как устроено приложение брокера и вместе купим Акцию, Облигацию и ETF.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p.chek-icon Купить свою первую акцию (облигацию, фонд)
			.lesson-benefits
				.left-col
					.text-group
						h4 После прохождения первого модуля вы сможете:
						ul
							li Разбираться в принципах работы фондового рынка и его субъектов;
							li Отличать основные финансовые инструменты: Акции, Облигации и Фонды;
							li Работать по ТОП-5 стратегиям на фондовом рынке, которые дают доходность на 200% больше, чем активные хедж-фонды;
							li Самостоятельно без труда осуществлять покупку ценных бумаг в приложении брокера
				.right-col
					.cub-img 
						img(src="img/cup.png", alt="cup")
			.modul-footer
				.btn.btn-solid Попробовать бесплатный модуль
				.footer-flex
					.left-col
						p Прохождение бесплатного модуля не обязывает вас к покупке платной части курса. Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет
					.right-col
						.btn Свернуть
