//========== ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ==========
.popup-fade.popup-fade-1
	.popup
		a.popup-close(href="#!") Закрыть
		.mofal-text 
			h3 Согласие на обработку персональных данных
			p Утверждено Индивидуальным предпринимателем Куценко Никита Олегович 20 августа 2020 г.
			h5 Политика в отношении обработки персональных данных
			h5 1. Общие положения
			p 1.1. Настоящая Политика Индивидуального предпринимателя Куценко Никита Олегович в отношении обработки персональных данных (далее - Политика) разработана во исполнение требований п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее - Закон о персональных данных) в целях обеспечения защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
			p 1.2. Политика действует в отношении всех персональных данных, которые обрабатывает Индивидуальный предприниматель Куценко Никита Олегович (далее - Оператор, ИП Куценко Н.О.).
			p 1.3. Настоящая Политика распространяется на данные, полученные на сайтах или мобильных приложениях, используемых Оператором или принадлежащих ему (далее - Сайты).
			p 1.4. Политика распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до, так и после утверждения настоящей Политики.
			p 1.5. Во исполнение требований ч. 2 ст. 18.1 Закона о персональных данных настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет на Сайте Оператора.
			p 1.6. Основные понятия, используемые в Политике:
			p персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);
			p оператор персональных данных (оператор) - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
			p обработка персональных данных - любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка персональных данных включает в себя в том числе:
			ul
				li &ndash; сбор;
				li &ndash; запись;
				li &ndash; систематизацию;
				li &ndash; накопление;
				li &ndash; хранение;
				li &ndash; уточнение (обновление, изменение);
				li &ndash; извлечение;
				li &ndash; использование;
				li &ndash; передачу (распространение, предоставление, доступ);
				li &ndash; обезличивание;
				li &ndash; блокирование;
				li &ndash; удаление;
				li &ndash; уничтожение;
			p автоматизированная обработка персональных данных - обработка персональных данных с помощью средств вычислительной техники;
			p распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц;
			p предоставление персональных данных - действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
			p блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
			p уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных;
			p обезличивание персональных данных - действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных;
			p информационная система персональных данных - совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств;
			p трансграничная передача персональных данных - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу;
			p сайты - любые веб-страницы, интерактивные функции, приложения, виджеты, блоги, плагины социальных сетей, а также онлайн и офлайн предложения, которые ссылаются на настоящую Политику.
			p 1.7. Основные права и обязанности Оператора.
			p 1.7.1. Оператор имеет право:
			p 1.7.1.1. Самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами;
			p 1.7.1.2. Поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Законом о персональных данных;
			p 1.7.1.3. В случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных.
			p 1.7.2. Оператор обязан:
			p 1.7.2.1. Организовывать обработку персональных данных в соответствии с требованиями Закона о персональных данных;
			p 1.7.2.2. Отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;
			p 1.7.2.3. Сообщать в уполномоченный орган по защите прав субъектов персональных данных (Федеральную службу по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)) по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса.
			p 1.8. Основные права субъекта персональных данных.
			p 1.8.1. Субъект персональных данных имеет право:
			p 1.8.1.1. Получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;
			p 1.8.1.2. Требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;
			p 1.8.1.3. Выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;
			p 1.8.1.4. Обжаловать в Роскомнадзоре или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных.
			p 1.9. Контроль за исполнением требований настоящей Политики осуществляется уполномоченным лицом, ответственным за организацию обработки персональных данных у Оператора.
			p 1.10. Ответственность за нарушение требований законодательства Российской Федерации и нормативных актов ИП Куценко Н.О. в сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.
			h5 2. Правовые основания обработки персональных данных, категории субъектов персональных данных
			p 2.1. Правовым основанием обработки персональных данных является совокупность нормативных правовых актов, во исполнение которых и в соответствии с которыми Оператор осуществляет обработку персональных данных, в том числе, но не ограничиваясь:
			ul
				li &ndash; Конституция Российской Федерации;
				li &ndash; Гражданский кодекс Российской Федерации;
				li &ndash; Трудовой кодекс Российской Федерации;
				li &ndash; Налоговый кодекс Российской Федерации;
				li &ndash; Семейный кодекс Российской Федерации,
				li &ndash; Федеральный закон от 06.12.2011 № 402-ФЗ «О бухгалтерском учете»;
				li &ndash; Федеральный закон от 15.12.2001 № 167-ФЗ «Об обязательном пенсионном страховании в Российской Федерации»;
				li &ndash; Федеральный закон от 01.04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования»;
				li &ndash; Федеральный закон от 27.07.2006 № 152-ФЗ «О персональных данных»;
				li &ndash; Федеральный закон 07.02.1992 № 2300-1 «О защите прав потребителей»;
				li &ndash; Иные нормативные правовые акты, регулирующие отношения, связанные с деятельностью Оператора.
			p 2.2. Правовым основанием обработки персональных данных также являются:
			ul
				li &ndash; договоры, заключаемые между Оператором и субъектами персональных данных;
				li &ndash; согласие субъектов персональных данных на обработку их персональных данных;
				li &ndash; локальные акты Оператора, регулирующие отношения, связанные с деятельностью Оператора.
			p 2.3. Субъектами персональных данных, обрабатываемых Оператором, являются:
			ul
				li &ndash; кандидаты для приема на работу к Оператору;
				li &ndash; работники и бывшие работники Оператора;
				li &ndash; члены семьи работников Оператора, в пределах определяемых законодательством Российской Федерации, если сведения о них предоставляются работником;
				li &ndash; контрагенты Оператора (физические лица);
				li &ndash; представители/работники контрагентов Оператора (юридических лиц);
				li &ndash; потенциальные и существующие клиенты, пользователи Сайта (физические лица, достигшие совершеннолетнего возраста).
			p 2.4. Оператор не собирает и не обрабатывает персональные данные лиц, не достигших 18 лет. Если Оператору станет известно, что получены персональные данные от лица, не достигшего совершеннолетнего возраста, Оператор в кратчайшие сроки удалит эту информацию.
			h5 3. Цели сбора персональных данных
			p 3.1. Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
			p 3.2. Обработке подлежат только персональные данные, которые отвечают целям их обработки.
			p 3.3. Обработка Оператором персональных данных осуществляется в следующих целях:
			p 3.3.1. Обеспечение соблюдения Конституции Российской Федерации, федеральных законов и иных нормативных правовых актов Российской Федерации;
			p 3.3.2. Осуществление возложенных на Оператора законодательством Российской Федерации функций, полномочий и обязанностей в соответствии с федеральными законами, указанными в разделе 2 Политики, локальными актами Оператора, регулирующими отношения, связанные с деятельностью Оператора;
			p 3.3.3. Привлечение и отбор кандидатов на работу у Оператора;
			p 3.3.4. В отношении работников и бывших работников Оператора:
			ul
				li &ndash; ведение кадрового делопроизводства;
				li &ndash; содействие в трудоустройстве, получении образования и продвижении;	
				li &ndash; контроль количества и качества выполняемой работы;	
				li &ndash; обеспечение сохранности имущества;
				li &ndash; организация постановки на индивидуальный (персонифицированный) учет в системе обязательного пенсионного страхования;
				li &ndash; заполнение и передача в органы исполнительной власти и иные уполномоченные организации требуемых форм отчетности;
				li &ndash; расчет и начисление заработной платы;
				li &ndash; учет рабочего времени;
				li &ndash; пользование льготами, предусмотренными Трудовым кодексом Российской Федерации, Налоговым кодексом Российской Федерации, федеральными законами, а также локальными актами Оператора;
				li &ndash; организация деловых поездок (командировок);
				li &ndash; оформление доверенностей (в том числе для представления интересов Оператора перед третьими лицами);
				li &ndash; соблюдение пропускного режима в помещениях Оператора;
				li &ndash; добровольного страхования жизни, здоровья и/или от несчастных случаев;
			p 3.3.5. В отношении членов семьи работников Оператора:
			ul
				li &ndash; исполнение требований законодательства Российской Федерации;
				li &ndash; предоставление дополнительных льгот;
				li &ndash; участие в корпоративных мероприятиях;
			p 3.3.6. Осуществление предпринимательской деятельности по предоставлению услуг включая, но не ограничиваясь, консультационные услуги по вопросам финансового посредничества, услуги страховых агентов и брокеров, образовательные услуги:
			ul
				li &ndash; заключение, исполнение и прекращение гражданско-правовых договоров с физическими лицами, в т. ч. заключаемых дистанционным способом на Сайте;
				li &ndash; предоставление доступа физическим лицам к сервисам (функционалу), информации и/или материалам, содержащимся на Сайте Оператора;
				li &ndash; обработка заказов и уточнение деталей заказа;
				li &ndash; рассмотрение возможностей дальнейшего сотрудничества;
				li &ndash; анализ посещения Сайта Оператора с помощью сервисов интернет-статистики для улучшения качества Сайта и его содержания;
				li &ndash; направление маркетинговых сообщений о новых продуктах и услугах, специальных предложениях и различных событиях посредством почтовой рассылки, рассылки по электронной почте, новостной рассылки, SMS-рассылки, push-уведомлений или по телефону;
				li &ndash; взаимодействие при регистрации на Сайте Оператора, при обращении с вопросами или комментариями;
				li &ndash; выставление счетов для оплаты услуг Оператора, возврат оплаты;
				li &ndash; доставка заказов, обработка возвратов;
				li &ndash; ведение бухгалтерского учета;
				li &ndash; взаимодействие с уполномоченными представителями юридических лиц, действующих на основании доверенности;
				li &ndash; оформление доверенностей для представления интересов Оператора перед третьими лицами.
			p 3.3.7. Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
			h5 4. Объем и категории обрабатываемых персональных данных
			p 4.1. Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки, предусмотренным в разделе 3 Политики. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.
			p 4.2. Оператор может обрабатывать следующие категории персональных данных указанных ниже субъектов:
			p 4.2.1. Кандидатов для приема на работу к Оператору:
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; пол;
				li &ndash; гражданство;
				li &ndash; дата и место рождения;
				li &ndash; контактные данные;
				li &ndash; сведения об образовании, опыте работы, квалификации;
				li &ndash; иные персональные данные, сообщаемые кандидатами в резюме и сопроводительных письмах;
			p 4.2.2. Работников и бывших работников Оператора:
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; пол;
				li &ndash; гражданство;
				li &ndash; дата и место рождения;
				li &ndash; изображение (фотография);
				li &ndash; паспортные данные;
				li &ndash; адрес регистрации по месту жительства;
				li &ndash; адрес фактического проживания;
				li &ndash; контактные данные;
				li &ndash; индивидуальный номер налогоплательщика;
				li &ndash; страховой номер индивидуального лицевого счета (СНИЛС);
				li &ndash; сведения об образовании, квалификации, профессиональной подготовке и повышении квалификации;
				li &ndash; семейное положение, наличие детей, родственные связи;
				li &ndash; сведения о трудовой деятельности, в том числе наличие поощрений, награждений и (или) дисциплинарных взысканий;
				li &ndash; данные о регистрации брака;
				li &ndash; сведения о воинском учете;
				li &ndash; сведения об инвалидности;
				li &ndash; сведения об удержании алиментов;
				li &ndash; сведения о доходе с предыдущего места работы;
				li &ndash; иные персональные данные, предоставляемые работниками в соответствии с требованиями трудового законодательства;
			p 4.2.3. Членов семьи работников Оператора:
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; степень родства;
				li &ndash; год рождения;
				li &ndash; иные персональные данные, предоставляемые работниками в соответствии с требованиями трудового законодательства;
			p 4.2.4. Контрагентов Оператора (физических лиц):
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; дата и место рождения;
				li &ndash; паспортные данные;
				li &ndash; адрес регистрации по месту жительства;
				li &ndash; контактные данные;
				li &ndash; индивидуальный номер налогоплательщика;
				li &ndash; реквизиты для оплаты;
				li &ndash; иные персональные данные, предоставляемые контрагентами (физическими лицами), необходимые для заключения и исполнения договоров;
			p 4.2.5. Представителей/работников контрагентов Оператора:
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; паспортные данные;
				li &ndash; контактные данные;
				li &ndash; замещаемая должность;
				li &ndash; иные персональные данные, предоставляемые представителями/работниками контрагентов, необходимые для заключения и исполнения договоров;
			p 4.2.6. Потенциальных и существующих клиентов, пользователей Сайта (физических лиц, достигших совершеннолетнего возраста), включая, но не ограничиваясь:
			ul
				li &ndash; фамилия, имя, отчество;
				li &ndash; номер мобильного телефона;
				li &ndash; адрес электронной почты;	
				li &ndash; адрес доставки;
				li &ndash; IP-адрес;
				li &ndash; платежные данные;
				li &ndash; история заказов;
				li &ndash; дополнительные сведения, предусмотренные, формами для оформления онлайн заказов, заявок, а также обратной связи, размещенными на Сайте.
			p Перечень, предлагаемых Оператором услуг можно найти на сайтах https://askkutsenko.info и их поддоменах, на которых может осуществляться сбор и обработка обезличенных данных о посетителях (в т. ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
			p Сайты могут содержать ссылки на иные веб-ресурсы, где может находиться полезная и интересная для пользователей Сайтов информация, в том числе ссылки на такие ресурсы как: https://www.instagram.com/@ask_kutsenko/. При этом действие настоящей Политики не распространяется на такие иные сайты. Пользователям, переходящим по ссылкам на другие сайты, рекомендуется ознакомиться с политиками об обработке персональных данных, размещенными на таких сайтах.
			p 4.3. Обработка Оператором биометрических персональных данных (сведений, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность) не осуществляется.
			p 4.4. Оператором не осуществляется обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, за исключением случаев, предусмотренных законодательством Российской Федерации.
			h5 5. Порядок и условия обработки персональных данных
			p 5.1. Обработка персональных данных осуществляется Оператором в соответствии с требованиями законодательства Российской Федерации.
			p 5.2. Обработка персональных данных осуществляется с согласия субъектов персональных данных на обработку их персональных данных, а также без такового в случаях, предусмотренных законодательством Российской Федерации.
			p 5.3. Обработка персональных данных в целях продвижения товаров, работ, услуг путем осуществления прямых контактов с потенциальными клиентами с помощью средств связи, допускается только при условии предварительного согласия субъекта персональных данных.
			p 5.4. Оператор осуществляет как автоматизированную, так и неавтоматизированную обработку персональных данных.
			p 5.5. К обработке персональных данных допускается ИП Куценко Н.О., работники Оператора, в должностные обязанности которых входит обработка персональных данных.
			p 5.6. Обработка персональных данных осуществляется путем:
			ul
				li &ndash; получения персональных данных в устной и письменной форме непосредственно от субъектов персональных данных;
				li &ndash; получения персональных данных из общедоступных источников;
				li &ndash; внесения персональных данных в журналы, реестры и информационные системы Оператора;
				li &ndash; получения персональных данных при заполнении субъектами соответствующих форм на Сайте и посредством направления электронных писем на адрес электронной почты askkutsenko@info.ru. заполняя которые и/или отправляя свои персональные данные Оператору, субъект выражает свое согласие с данной Политикой;
				li &ndash; использования иных способов обработки персональных данных.
			p 5.7. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты askkutsenko@info.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
			p 5.8. В случае выявления неточностей в персональных данных, пользователь Сайта может актуализировать их самостоятельно, путем направления Оператору уведомления на адрес электронной почты askkutsenko@info.ru с пометкой «Актуализация персональных данных».
			p 5.7. Оператор обрабатывает обезличенные данные о пользователе Сайта в случае, если это разрешено в настройках браузера пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript). Субъект выражает согласие на принятие использования файлов «cookie» и похожих технологий посредством «cookie»-баннера, всплывающего окна или схожих средств, размещенных на Сайте.
			p Большинство веб-браузеров разрешают использование «cookie», однако можно изменить настройки для отказа от работы с «cookie» или отслеживания пути их рассылки. При этом некоторые ресурсы могут работать некорректно, если работа «cookie» в браузере будет запрещена.
			p При этом «cookie» и другие мониторинговые технологии не дают возможность автоматически получать персональные данные. Если пользователь Сайта по своему усмотрению предоставляет свои персональные данные, например, при отправке электронного письма или при заполнении формы обратной связи, то только тогда запускаются процессы автоматического сбора подробной информации для удобства пользования Сайтом и/или для совершенствования взаимодействия с пользователями.
			p 5.8. Не допускается раскрытие третьим лицам и распространение персональных данных без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.
			p 5.9. Передача персональных данных органам дознания и следствия, в Федеральную налоговую службу, Пенсионный фонд Российской Федерации, Фонд социального страхования и другие уполномоченные органы исполнительной власти и организации осуществляется в соответствии с требованиями законодательства Российской Федерации.
			p 5.10. Оператор принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, распространения и других несанкционированных действий, в том числе:
			ul
				li &ndash; определяет угрозы безопасности персональных данных при их обработке;
				li &ndash; принимает локальные нормативные акты и иные документы, регулирующие отношения в сфере обработки и защиты персональных данных;
				li &ndash; назначает лиц, ответственных за обеспечение безопасности персональных данных;
				li &ndash; создает необходимые условия для работы с персональными данными;
				li &ndash; организует учет документов, содержащих персональные данные;
				li &ndash; организует работу с информационными системами, в которых обрабатываются персональные данные;
				li &ndash; хранит персональные данные в условиях, при которых обеспечивается их сохранность и исключается неправомерный доступ к ним;
				li &ndash; организует обучение работников Оператора, осуществляющих обработку персональных данных.
			p 5.11. Оператор осуществляет обработку (хранение) персональных данных в форме, позволяющей определить субъекта персональных данных. Сроки обработки персональных данных определены с учетом:
			ul
				li &ndash; установленных целей обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором;
				li &ndash; сроков действия договоров с субъектами персональных данных и согласий субъектов персональных данных на обработку их персональных данных;
				li &ndash; сроков исковой давности;
				li &ndash; сроков, определенных Приказом Минкультуры России от 25.08.2010 № 558 «Об утверждении «Перечня типовых управленческих архивных документов, образующихся в процессе деятельности государственных органов, органов местного самоуправления и организаций, с указанием сроков хранения» (Зарегистрировано в Минюсте России 08.09.2010 № 18380).
			p 5.12. При сборе персональных данных, в том числе посредством информационно-телекоммуникационной сети Интернет, Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации, за исключением случаев, указанных в Законе о персональных данных.
			h5 6. Актуализация, исправление, удаление, уничтожение и обезличивание персональных данных, ответы на запросы субъектов  на доступ к персональным данным
			p 6.1. Подтверждение факта обработки персональных данных Оператором, правовые основания и цели обработки персональных данных, а также иные сведения, указанные в ч. 7 ст. 14 Закона о персональных данных, предоставляются Оператором субъекту персональных данных или его представителю при обращении либо при получении письменного запроса субъекта персональных данных или его представителя.
			p В предоставляемые сведения не включаются персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных.
			p Текст запроса должен содержать:
			ul
				li &ndash; номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе;
				li &ndash; сведения, подтверждающие участие субъекта персональных данных в отношениях с Оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных Оператором;
				li &ndash; подпись субъекта персональных данных или его представителя.
			p Запрос может быть направлен в форме электронного документа на адрес электронной почты askkutsenko@info.ru с пометкой «Информация об обработке персональных данных» и подписан электронной подписью в соответствии с законодательством Российской Федерации.
			p Если в обращении (запросе) субъекта персональных данных не отражены в соответствии с требованиями Закона о персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему направляется мотивированный отказ.
			p Право субъекта персональных данных на доступ к его персональным данным может быть ограничено в соответствии с ч. 8 ст. 14 Закона о персональных данных, в том числе если доступ субъекта персональных данных к его персональным данным нарушает права и законные интересы третьих лиц.
			p 6.2. В случае выявления неточных персональных данных при обращении субъекта персональных данных или его представителя либо по их запросу или по запросу Роскомнадзора Оператор осуществляет блокирование персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения указанного запроса на период проверки, если блокирование персональных данных не нарушает права и законные интересы субъекта персональных данных или третьих лиц.
			p В случае подтверждения факта неточности персональных данных Оператор на основании сведений, представленных субъектом персональных данных или его представителем либо Роскомнадзором, или иных необходимых документов уточняет персональные данные в течение семи рабочих дней со дня представления таких сведений и снимает блокирование персональных данных.
			p 6.3. В случае выявления неправомерной обработки персональных данных при обращении (запросе) субъекта персональных данных или его представителя либо Роскомнадзора Оператор осуществляет блокирование неправомерно обрабатываемых персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения запроса.
			p 6.4. Оператор прекращает обработку персональных данных в следующих случаях:
			ul
				li &ndash; при наступлении условий прекращения обработки персональных данных, указанных в настоящем пункте;
				li &ndash; по истечении сроков обработки (хранения) персональных данных, указанных в пункте 5.11 раздела 5 настоящей Политики;
				li &ndash; по требованию субъекта персональных данных, если обрабатываемые Оператором персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
				li &ndash; в случае выявления неправомерной обработки персональных данных, если обеспечить правомерность обработки персональных данных невозможно;
				li &ndash; в случае отзыва субъектом персональных данных согласия на обработку его персональных данных или истечения срока действия такого согласия (если персональные данные обрабатываются Оператором исключительно на основании согласия субъекта персональных данных);
				li &ndash; в случае исключения Оператора из Единого государственного реестра индивидуальных предпринимателей.
			p 6.5. При наступлении условий прекращения обработки персональных данных, указанных в пункте 6.4 настоящего раздела персональные данные подлежат уничтожению, если иное не предусмотрено федеральным законом.
			p 6.6. Хранение Данных после прекращения их обработки допускается только после их обезличивания.
			p 6.7. Оператором применяются методы обезличивания персональных данных, указанные в Приказе Роскомнадзора от 05.09.2013 № 996 «Об утверждении требований и методов по обезличиванию персональных данных» (Зарегистрировано в Минюсте России 10.09.2013 № 29935).
			h5 7. Заключительные положения
			p 7.1. Настоящая Политика является локальным нормативным актом ИП Куценко Н.О. Общедоступность настоящей Политики обеспечивается публикацией на Сайтах Оператора.
			p 7.2. Настоящая Политика может быть пересмотрена в любом из следующих случаев:
			ul
				li &ndash; при изменении законодательства Российской Федерации в области обработки и защиты персональных данных;
				li &ndash; в случаях получения предписаний от контролирующих органов;
				li &ndash; по решению Оператора;
				li &ndash; при изменении целей и сроков обработки персональных данных;
				li &ndash; при изменении организационной структуры, структуры информационных и/или телекоммуникационных систем (или введении новых);
				li &ndash; при применении новых технологий обработки и защиты персональных данных (в т. ч. передачи, хранения);
				li &ndash; при появлении необходимости в изменении процесса обработки персональных данных у Оператора.
			p 7.3. В случае неисполнения положений настоящей Политики Оператор и его работники несут ответственность в соответствии с действующим законодательством Российской Федерации.
			p 7.4. Контроль исполнения требований настоящей Политики оставляю за собой.	


//========== ДОГОВОР ОФЕРТЫ ==========
.popup-fade.popup-fade-2
	.popup
		a.popup-close2(href="#!") Закрыть
		.mofal-text 
			h3 Договор оферты
			p Публичный договор-оферта об оказании услуг обучающего консалтинга Индивидуальный предприниматель Куценко Никита Олегович, именуемый в дальнейшем – Исполнитель, публикует настоящее предложение о заключении договора на оказание услуг обучающего консалтинга, условия которого приведены ниже, адресованное любому физическому лицу, достигшему совершеннолетнего возраста (в случае принятия настоящего предложения), именуемому в дальнейшем Заказчик, вместе именуемые Стороны, а по отдельности Сторона.
			p Настоящее предложение, согласно пункту 2 статьи 437 Гражданского кодекса Российской Федерации (далее - ГК РФ), является публичной офертой. Настоящий публичный договор-оферта (далее - Договор) вступает в силу с даты размещения в сети Интернет на сайте https://askkutsenko.info (далее - Сайт Исполнителя) по адресу https://askkutsenko.info/oferta, и действует до момента отзыва Договора Исполнителем.  
			p Исполнитель вправе в любое время по своему усмотрению изменить, дополнить условия Оферты (настоящего Договора) или отозвать ее. Измененные Исполнителем условия вступают в силу с даты их размещения в сети Интернет по адресу https://askkutsenko.info/oferta, если иной срок не указан Исполнителем при таком размещении. 
			p Акцептом (безусловным принятием) условий настоящей Оферты (моментом заключения Договора), в соответствии с пунктами 1 и 3 статьи 438 Гражданского Кодекса Российской Федерации, считается факт оплаты Заказчиком Услуг, выбранных Заказчиком в соответствии с п. 1.1 настоящего Договора и предоставляемых Исполнителем в соответствии с условиями настоящего Договора, при условии получения Исполнителем заказа на Услугу от Заказчика через сайт Исполнителя. Договор считается заключенным без подписания в каждом конкретном случае, т.к. акцепт оферты приравнивается к заключению Договора на указанных ниже условиях. 
			p Договор, заключенный посредством акцепта настоящей оферты, регламентируется нормами гражданского законодательства о договоре присоединения (статья 428 ГК РФ), поскольку его условия определены Исполнителем в настоящей оферте и могут быть приняты любым лицом не иначе как путем присоединения к предложенному Договору в целом. При этом в соответствии с пунктом 3 статьи 434 и пунктом 3 статьи 438 Гражданского Кодекса Российской Федерации настоящий Договор признается заключенным Сторонами в письменной форме. 
			p Заказчик обязан полностью ознакомиться с настоящим документом до момента внесения оплаты. 
			h5 1. Предмет договора 
			p 1.1. Заказчик поручает и обязуется оплатить, а Исполнитель принимает на себя обязательства оказать услуги обучающего консалтинга по теме: «Путь Инвестора» в виде предоставления Заказчику соответствующей теоретической и практической информации в объеме, указанном на Сайте Исполнителя и выбранном Заказчиком при оплате по тарифам, размещенным на Сайте Исполнителя (далее – Услуги). 
			p 1.2. Услуги оказываются с применением дистанционных технологий с использованием текстовых, графических аудио-видео материалов. Услуги оказываются путем использования глобальной сети Интернет и иных средств электросвязи и телекоммуникаций, программного обеспечения и баз данных Исполнителя. 
			p 1.3. Услуги включают в себя: 
			ul 
				li &ndash; предоставление доступа к авторским материалам на тему, указанную в пункте
			p 1.1 Договора, разработанным Исполнителем, размещенным в закрытой части Сайта Исполнителя на период, указанный в описании Услуги, размещенном на Сайте Исполнителя; 
			ul 
				li &ndash; предоставление доступа к авторским материалам Исполнителя на тему, указанную в пункте 1.1 Договора на бумажном и электронном носителях, без ограничения их использования по времени, при выборе соответствующего тарифа, предполагающего их отправку Заказчику; 
				li &ndash; выполнение практических и теоретических заданий в период оказания Услуг по теме, указанной в пункте 1.1 Договора; 
				li &ndash; взаимодействие с Исполнителем в форме обратной связи;
				li &ndash; предоставление доступа к дополнительным авторским материалам
			p Исполнителя, при выборе соответствующего тарифа. 
			p 1.4. Исполнитель самостоятельно определяет общий концепт, формат, тип и объем оказываемых Услуг. 
			p 1.5. Указанные в пункте 1.1 Договора Услуги носят консультативный характер и никоим образом не являются образовательными или иными, требующими от Исполнителя наличия специального разрешения (лицензии), не сопровождаются итоговой аттестацией, присвоением какой-либо квалификации, выдачей документа об образовании и не являются инвестиционной рекомендацией. 
			p 1.6. Срок оказания Услуг по настоящему Договору определяется датой, к которой Исполнитель должен приступить к их оказанию. Информация о такой дате размещается на Сайте Исполнителя и является общедоступной. 
			h5 2. Условия оплаты и порядок расчетов 
			p 2.1. Стоимость Услуг по Договору определяется по тарифам Исполнителя, размещенным на Сайте Исполнителя. Тарифные планы являются официальными документами Исполнителя и публикуются на сайте Исполнителя. 
			p 2.2. Исполнитель имеет право по своему усмотрению вносить изменения в действующие Тарифы. 
			p 2.3. Исполнитель не может менять стоимость оплаченных услуг для конкретного Заказчика в случае, если тот уже принял условия Исполнителя и произвел оплату Услуг в установленном настоящим Договором порядке. 
			p 2.4. Договор между Исполнителем и Заказчиком считается заключенным, а обязательство Заказчика по оплате считается исполненным с даты зачисления оплаты Услуг на расчетный счет Исполнителя. Для платежей, проведенных через систему Paypal, моментом оплаты является принятие Исполнителем уведомления о поступлении платежа. 
			p 2.5. Порядок оплаты Услуг включает выбор Заказчиком тарифа и порядка внесения платежа: единовременно либо на условиях рассрочки. 
			p 2.6. При внесении платежа на условиях рассрочки договор считается заключенным при внесении первого платежа. 
			p 2.7. Стороны пришли к соглашению, что Услуги оплачиваются на условиях предварительной оплаты. Порядок внесения платежа по каждому из действующих тарифов, сроки оплаты и условия рассрочки размещаются Исполнителем на Сайте Исполнителя. 
			p 2.8. Оплата производится в рублях по тарифам, действующим на момент оплаты. 
			p 2.9. Оплата принимается от Заказчика в безналичном порядке на счет Исполнителя, указанный в настоящем Договоре через платежные системы, поддерживаемые сервисом Исполнителя. Возможные способы оплаты публикуются на сайте Исполнителя. 
			p 2.10. Заказчик самостоятельно несет ответственность за правильность производимых им платежей. 
			p 2.11. Исполнитель оставляет за собой право в отказе от предоставления Услуг в случае не поступления денежных средств на расчетный счет Исполнителя в сроки, указанные в пункте 2.7 Договора. 
			p 2.12. В случае осуществления возврата оплаченных денежных средств, по основаниям, предусмотренным настоящим Договором, возврат производится по тем же реквизитам, по которым был получен платеж, если в требовании Заказчиком не указано иное. Возврат производится в течение 30 банковских дней с даты получения от Заказчика соответствующего требования по электронной почте. 
			h5 3. Права и обязанности Сторон 
			p 3.1. Исполнитель обязан: 
			p 3.1.1. Своевременно и качественно оказать Услуги, предусмотренные в п. 1.1. настоящего Договора, в соответствии с объемом, соответствующим тарифу, выбранному Заказчиком; 
			p 3.1.2. Самостоятельно подготовить текстовые, графические аудио- и видео- материалы, необходимые для оказания Услуги, разместить их в закрытой части Сайта Исполнителя; 
			p 3.1.3. Предоставить доступ Заказчику к текстовым, графическим аудио-видео материалам, размещенным в закрытой части Сайта Исполнителя, направив на адрес электронной почты Заказчика ссылку с указанием адреса размещения материалов; 
			p 3.1.4. Выслать Заказчику методические материалы на бумажном носителе по адресу, указанному при регистрации на Сайте Исполнителя, при выборе соответствующего тарифа, предполагающего их отправку Заказчику. Отправка производиться Исполнителем через АО «Почта России» не позднее, чем за 3 календарныхдня до даты начала оказания Услуг при условии отсутствия задолженности у Заказчика по оплате Услуг. В случае поступления оплаты после указанного срока, отправка будет производится в течении 2 (двух) рабочих дней с даты, указанной в пункте 2.4 Договора. Отправка осуществляется по территории Российской Федерацииускоренной почтой. Почтовые расходы включены в стоимость Услуги. Исполнитель не несет ответственности за несвоевременное получение материалов Заказчиком не по вине Исполнителя; 
			p 3.1.5. Доставка за пределы РФ оплачиваются Заказчиком в соответсвии с тарифами курьерской службы. Выбор курьерской службы согласуется между Заказчиком и Исполнителем путем телефонного звонка, либо электронной переписке. Доставка за пределы РФ оплачиваются Заказчиком в соответсвии с тарифами курьерской службы. Выбор курьерской службы согласуется между Заказчиком и Исполнителем путем телефонного звонка, либо электронной переписке. Исполнитель выставляет индивидуальную ссылку на оплату за доставку за пределы РФ по электронной почте. Заказчик оплачивает сумму полностью.
			p 3.1.6. Заранее предупредить Заказчика о независящих от Исполнителя обстоятельствах, которые создают невозможность оказания Услуг в установленный в настоящей Оферте срок; 
			p 3.1.7. Оперативно устранить технические неполадки в случае их возникновения либо предоставить альтернативный вариант доступа к консультационным материалам; 
			p 3.1.8. В течении 2 (двух) месяцев с даты, указанной в пункте 1.6 настоящего Договора выслать Заказчику текстовые, графические аудио- и видео- материалы, доступ к которым был предоставлен в электронном виде в период оказания Услуг. Материалы высылаются на электронном носителе по адресу, указанному при регистрации на Сайте Исполнителя, при выборе соответствующего тарифа, предполагающего их отправку Заказчику. Отправка производиться Исполнителем через АО «Почта России» при условии отсутствия задолженности у Заказчика по оплате Услуг. Отправка осуществляется по территории Российской Федерации ускоренной почтой. Почтовые расходы включены в стоимость Услуги. Исполнитель не несет ответственности за несвоевременное получение материалов Заказчиком не по вине Исполнителя; 
			p 3.1.9. Обеспечить защиту персональных данных, предоставленных Заказчиком при заполнении соответствующих форм на Сайте Исполнителя и посредством направления электронных писем на адрес электронной почты help@askkutsenko.info
			p 3.2. Заказчик обязан: 
			p 3.2.1. Предоставить Исполнителю достоверную информацию (в электронной форме) при регистрации на Сайте Исполнителя, а именно: 
			ul
				li &ndash; фамилию, имя, отчество; 
				li &ndash; номер мобильного телефона; 
				li &ndash; адрес электронной почты; 
				li &ndash; адрес доставки; 
				li &ndash; дополнительные сведения, предусмотренные, формами для оформления заказа, а также обратной связи, размещенными на Сайте Исполнителя; 
			p 3.2.2. Предоставить согласие на обработку персональных данных при регистрации на Сайте, получение от Исполнителя информационных сообщений в любой форме (посредством почтовой рассылки, рассылки по электронной почте, новостной рассылки, SMS-рассылки, push-уведомлений или по телефону); 
			p 3.2.3. Оплатить Услугу Исполнителя в полном объеме в соответствии с выбранным тарифом и порядком оплаты до даты начала оказания Услуг; 
			p 3.2.4. В случае изменения информации, указанной при оформлении заказа, незамедлительно направить Исполнителю уведомление на адрес электронной почты askkutsenko@info.ru с пометкой «Актуализация персональных данных»; 
			p 3.2.5. Выполнять практические и теоретические задания в период оказания Услуг. 
			p 3.2.6. Не передавать свое право доступа (данные по авторизации) к программному обеспечению третьим лицам, а также не опубликовывать в общем доступе глобальной сети Интернет персональные ссылки для пользования Услугой; 
			p 3.2.7. Не разглашать конфиденциальную информацию и иные данные, предоставленные Исполнителем в связи с исполнением настоящего Договора; 
			p 3.2.8. Не распространять (публиковать, размещать в сети Интернет, копировать, передавать и перепродавать третьим лицам) в коммерческих или некоммерческих целях материалы, предоставляемые Исполнителем в рамках настоящего Договора, а также не создавать на основе данных материалов информационные продукты и не использовать указанные материалы иным образом, кроме личного использования; 
			p 3.2.9. Не использовать технические ресурсы Исполнителя для массовой рассылки электронных сообщений коммерческого, рекламного и иного характера, не согласованных (не запрошенных) с получателем информации по электронной почте или в группы телеконференций («спам»). Запрещается рассылка «спама» через ресурсы, не принадлежащие Исполнителю, в том случае, если в сообщении указаны координаты (адрес сайта, электронной почты и т.д.), поддерживаемые Исполнителем. 
			p 3.3. Исполнитель вправе: 
			p 3.3.1. Оказывать Услуги лично либо с привлечением третьих лиц, отвечая за их действия перед Заказчиком; 
			p 3.3.2. Определять самостоятельно методику и формат оказания Услуг, порядок предоставления доступа к материалам; 
			p 3.3.3. В любой момент изменять даты оказания услуг, время, их стоимость и условия настоящего Договора в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте Исполнителя; 
			p 3.3.4. Отказать Заказчику в предоставлении Услуг и вернуть уплаченные Заказчиком денежные средства без объяснения причин; 
			p 3.3.5. Ограничить доступ Заказчику к каждому последующему блоку консультаций при отсутствии со стороны Заказчика обратной связи в виде не исполнения обязательств, указанных в подпункте 3.2.5 пункта 3.2 настоящего Договора, без возврата оплаты. При этом доступ ко всем блокам консультаций открывается для самостоятельного изучения по окончании консультаций, которые проводятся по общему графику, размещенному в первом блоке консультаций, на срок указанный в описании услуг; 
			p 3.3.6. Не обращать внимание на запросы, обращения и письма, которые не содержат реквизитов обращающегося (ФИО, контактные данные); 
			p 3.3.7. Отказать в участии в консультационном мероприятии лицу, не прошедшему регистрацию на Сайте Исполнителя; 
			p 3.3.8. Добавить электронный адрес Заказчика и номер телефона, указанные при регистрации, в свой список рассылки. Заказчик имеет право отказаться от писем, присылаемых Исполнителем, перейдя по ссылке, указанной в электронном письме. 
			p 3.3.9. Обязанности Исполнителя ограничиваются условиями настоящей оферты. 
			p 3.4. Заказчик вправе: 
			p 3.4.1. Требовать от Исполнителя предоставления информации по вопросам, касающимся организации и обеспечения надлежащего исполнения Услуг; 
			p 3.4.2. Отказаться от услуг Исполнителя при условии предварительного уведомления Исполнителя не позднее, чем за три календарных дня до даты, указанной в пункте 1.6 настоящего Договора и потребовать возврата денежных средств, уплаченных Исполнителю. Уведомление направляется на адрес электронной почты Исполнителя askkutsenko@info.ru с указанием в теме письма «Отказ от услуг». 
			p В случае одностороннего отказа Заказчика от Услуг Исполнителя менее, чем за три календарных дня до даты, указанной в пункте 1.6 настоящего Договора произведенная оплата не возвращается; 
			p 3.4.3. Инициировать пересмотр сроков оказания Услуг в конкретном отдельно взятом случае, направив на адрес электронной почты Исполнителя askkutsenko@info.ru заявку о согласовании переноса участия в консультационном мероприятии в соответствии с графиком консультаций Исполнителя по соответствующей теме. Заявка направляется до даты, указанной в пункте 1.6 настоящего Договора либо в процессе оказания услуг, но не позднее даты открытия доступа ко второму блоку консультаций согласно общему расписанию графика проведения консультаций, размещенному в первом блоке консультаций. В теме письма указывается «Согласование пересмотра сроков оказания услуг»; 
			p 3.4.4. Расторгнуть настоящий Договор в одностороннем порядке в случае не предоставления Услуг Исполнителем после даты, указанной в пункте 1.6 настоящего Договора в течение свыше 31 календарного дня, предварительно уведомив об этом Исполнителя и потребовать возврата денежных средств, уплаченных Исполнителю. Уведомление направляется на адрес электронной почты Исполнителя askkutsenko@info.ru с указанием в теме письма «Отказ от услуг». 
			h5 4. Порядок и сроки оказания Услуг 
			p 4.1. Для заказа Услуг Заказчик самостоятельно проходит этап регистрации на Сайте Исполнителя через специальную форму расположенную по адресу https://askkutsenko.info по кнопке регистрации. 
			p 4.2. На этапе регистрации Заказчик должен: 
			p 4.2.1. Принять и подтвердить оферту Исполнителя, расположенную по адресу https://askkutsenko.info/oferta, которая является неотъемлемой частью согласия Заказчика с правилами оказания Услуг; 
			p 4.2.2. Оплатить полностью или частично Услуги Исполнителя, в зависимости от выбранного тарифа и порядка внесения платежа;
			p 4.2.3. Предоставить согласие на обработку персональных данных, получение от Исполнителя информационных сообщений в любой форме (посредством почтовой рассылки, рассылки по электронной почте, новостной рассылки, SMS-рассылки, push-уведомлений или по телефону). 
			p 4.3. Для удачного прохождения процедуры регистрации, факт регистрации должен быть подтвержден Исполнителем, о чем Заказчику будет направлено официальное уведомление по электронной почте. 
			p 4.4. Процедура регистрации завершается при соблюдении требований, предусмотренных подпунктах 4.2 - 4.3 Договора. 
			p 4.5. Не позднее чем за 3 календарных дней до даты, указанной в пункте 1.6 настоящего Договора Исполнитель высылает Заказчику методические материалы на бумажном носителе по адресу, указанному при регистрации на Сайте Исполнителя, при выборе соответствующего тарифа, предполагающего их отправку Заказчику. Отправка производится в порядке и на условиях, указанных в подпункте 3.1.4 пункта 3.1 Договора. 
			p 4.6. Не позднее чем за один календарный день до даты, указанной в пункте 1.6 настоящего Договора Исполнитель направляет на адрес электронной почты Заказчика ссылку с указанием адреса размещения текстовых, графических, аудио-видео материалов, по которой он должен пройти и авторизоваться. 
			p 4.7. Доступ Заказчику к каждому блоку консультаций предоставляется поэтапно при наличии со стороны Заказчика обратной связи в виде выполнения практических и теоретических заданий Исполнителя. Отсутствие обратной связи со стороны Заказчика рассматривается Исполнителем как не посещение консультационного мероприятия. При отсутствии обратной связи со стороны заказчика Исполнитель ограничивает доступ Заказчику к каждому последующему блоку консультаций, при этом оплата за Услуги не возвращается. По завершении консультаций в соответствии с общим графиком их проведения, размещенным в первом блоке консультаций, Исполнитель открывает Заказчику доступ ко всем текстовым, графическим аудио- и видео- консультационным материалам, на период, указанный в описании Услуг, для самостоятельной работы с ними; 
			p 4.8. В течении 2 (двух) месяцев с даты, указанной в пункте 1.6 настоящего Договора Исполнитель высылает Заказчику текстовые, графические аудио- и видео- материалы, доступ к которым был предоставлен в электронном виде в период оказания Услуг, при выборе соответствующего тарифа, предполагающего их отправкуЗаказчику. Отправка производится в порядке и на условиях, указанных в подпункте 3.1.7 пункта 3.1 Договора. 
			p 4.9. Информация, размещаемая на Сайте Исполнителя, является результатом интеллектуальной деятельности Исполнителя, и все имущественные и личные неимущественные права на такую информацию, принадлежат Исполнителю, до тех пор, пока не будет установлено иное. При этом у Заказчика не возникает, каких-либо исключительных прав на результат интеллектуальной деятельности Исполнителя, выраженной в графической, текстовой, аудио-видео форме, размещаемой на Сайте Исполнителя. 
			p 4.10. Услуги, которые не состоялись из-за технических неполадок, в случае их возникновения, переносятся Исполнителем на срок их устранения. 
			p 4.11. Сдача-приемка услуг производится в следующем порядке: 
			p 4.11.1. В течение 3 (трех) месяцев с даты, указанной в пункте 1.6 Заказчик уведомляет Исполнителя об имеющихся претензиях посредством передачи сообщения на электронную почту Исполнителя help@askkutsenko.info; 
			p 4.11.2. В случае отсутствия претензий со стороны Заказчика по истечении срока, указанного в подпункте 4.11.1 Договора, Услуги считаются оказанными Исполнителем надлежащем образом и принятыми Заказчиком; 
			p 4.11.3. По истечении срока, указанного в подпункте 4.11.1 Договора, претензии Заказчика относительно недостатков Услуг, в том числе, по количеству (объему), стоимости и качеству не принимаются. 
			h5 5. Ответственность Сторон 
			p 5.1. Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации. Ответственность Исполнителя регулируется Федеральным Законом РФ № 2300-1 от 07.02.1992 «О защите прав потребителей», а также нормами Гражданского Кодекса РФ о возмездном оказании услуг. 
			p 5.2. Исполнитель не несет ответственности в случае ненадлежащего оказания Услуг, если ненадлежащее исполнение явилось следствием недостоверности, недостаточности или несвоевременности предоставленных Заказчиком сведений, а также вследствие других нарушений условий настоящего Договора со стороны Заказчика. 
			p 5.3. В случаях, если Заказчик, по причинам, не зависящим от Исполнителя, не посетил консультационное мероприятие и не уведомил Исполнителя о своем желании отказаться от предоставления Услуг в порядке, указанном в подпункте 3.4.2 пункта 3.4 настоящего Договора или не направил Исполнителю заявку о согласовании пересмотра сроков оказания Услуг, в порядке, указанном в подпункте 3.4.3 пункта 3.4 настоящего Договора, то Услуга считается оказанной надлежащим образом и оплаченные Исполнителю денежные средства возврату не подлежат. 
			p 5.4. Исполнитель не несет ответственности за несоответствие предоставленной услуги ожиданиям Заказчика и/или за его субъективную оценку, такое несоответствие ожиданиям и/или отрицательная субъективная оценка не являются основаниями считать услуги оказанными не качественно, или не в согласованном объеме. 
			p 5.5. Исполнитель не несет ответственности за вред, причиненный Заказчику, в случае ненадлежащего исполнения им обязательств по настоящему Договору, нарушения требований Исполнителя. 
			p 5.6. Исполнитель не несет ответственность за убытки или упущенную выгоду, возникшую у Заказчика в результате технических проблем при работе программного обеспечения. 
			p 5.7. Оплачивая услуги Исполнителя по договору Оферты, Заказчик соглашается с условиями данного Договора и с тем, что он не в праве требовать от Исполнителя какой-либо компенсации морального, материального вреда или вреда, причиненного Заказчику как в течение срока действия настоящего Договора, так и по истечении срока его действия, за исключением случаев, прямо предусмотренных законодательством. 
			p 5.8. Совокупная ответственность Исполнителя по договору Оферты, по любому иску или претензии в отношении договора Оферты или его исполнения, ограничивается стоимостью Услуг, оплаченных Заказчиком по договору Оферты. 
			p 5.9. Исполнитель не несет ответственности за регистрационные данные, которые были указаны Заказчиком при взаимодействии с информационным полем Сайта в процессе регистрации заказа.
			p 5.10. В случае выявления нарушения авторских прав Исполнителя, путем незаконного размещения в публичном доступе в сети Интернет материалов, Исполнитель имеет право требовать изъятия таких материалов, по первому требованию. 
			p 5.11. В случае, если Заказчик присваивает изображение, презентацию, картинки, текст, видео и т.п., Исполнитель имеет право в судебном порядке потребовать от Заказчика возмещение ущерба в размере 50 000 (Пятьдесят тысяч) рублей и запрещения продолжения плагиата Заказчиком. 
			p 5.12. В случае, если Заказчик умышленно распространяет видеозаписи, документы и иной контент, предоставленный Исполнителем в рамках исполнения настоящего Договора, Исполнитель вправе взыскать с Заказчика штраф в размере 100 000 (Сто тысяч) рублей. Исполнитель также имеет право обратиться в правоохранительные органы для выяснения ID Заказчика (его компьютера) для предъявления претензии. 
			p 5.13. Не вступая в противоречие с указанным выше, Стороны освобождается от ответственности за частичное или полное неисполнение обязательств по настоящему Договору в случае, если такое неисполнение явилось следствием непреодолимой силы, то есть чрезвычайных и неотвратимых обстоятельств, не зависящих от воли Сторон. 
			p Понятием обстоятельств непреодолимой силы (форс-мажорных обстоятельств) охватываются внешние и чрезвычайные события, отсутствовавшие во время заключения настоящего Договора и наступившие помимо воли и желания Сторон, действия которых Стороны не могли предотвратить мерами и средствами, которые оправданно и целесообразно ожидать от добросовестно действующей Стороны. К подобным обстоятельствам Стороны относят: чрезвычайные (т.е. находящиеся вне разумного контроля Сторон) и непредотвратимые при данных условиях обстоятельства, включая военные действия, массовые беспорядки, стихийные бедствия, забастовки, технические сбои функционирования аппаратно-программного обеспечения, пожары, взрывы и иные техногенные катастрофы, действия (бездействие) государственных и муниципальных органов, повлекшие невозможность выполнения Сторонами своих обязательств по настоящему Договору. 
			p 5.14. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана незамедлительно (не позднее чем в 15-дневный срок с момента наступления) известить другую Сторону о наступлении этих обстоятельств. Извещение должно содержать сведения о характере обстоятельств и оценку их влияния на возможность исполнения Стороной своих обязательств по Договору. Несвоевременное извещение Стороной о наступлении обстоятельств, освобождающих ее от ответственности, влечет для нее, утрату права ссылаться на такие обстоятельства. 
			p 5.15. Все споры или разногласия, возникающие между Сторонами по Договору или в связи с ним, разрешаются путем переговоров между ними. 
			p 5.16. Если Стороны не придут к соглашению путем переговоров, все споры рассматриваются в претензионном порядке. Исполнитель обязуется рассмотреть претензию, оформленную в порядке предусмотренном пунктом 4.11 Договора, в течении 30 (тридцати) календарных дней с даты ее получения. 
			p 5.17. В случае невозможности разрешения разногласий путем переговоров или в претензионном порядке, заинтересованная Сторона вправе передать спор на рассмотрение в суд общей юрисдикции по месту нахождения Исполнителя. Споры между Сторонами разрешаются в соответствии с действующим законодательством Российской Федерации. 
			h5 6. Срок действия, пролонгация, изменение, расторжение Договора 
			p 6.1. Настоящий Договор вступает в силу с момента акцепта и действует до момента исполнения Сторонами своих обязательств. 
			p 6.2. Сроки исполнения обязательств продлеваются на время действия обстоятельств непреодолимой силы (форс-мажор), указанных в пункте 5.11 настоящего Договора. Если обстоятельства непреодолимой силы действуют более 3 месяцев любая из сторон вправе отказаться в одностороннем порядке от дальнейшего выполнения обязательств по настоящему Договору, причем ни одна из сторон не может требовать от другой стороны возмещения убытков. Обстоятельства непреодолимой силы, если это возможно, должны быть подтверждены свидетельствами, выдаваемыми компетентными органами или организациями, представляемыми Стороной, ссылающейся на обстоятельства непреодолимой силы, по требованию другой Стороны. 
			p 6.3. Заказчик соглашается и признает, что внесение изменений в настоящую Оферту влечет за собой внесение этих изменений в заключенный и действующий между Заказчиком и Исполнителем Договор, если иное не определено Исполнителем при внесении изменений в настоящую Оферту и эти изменения в Договор вступают в силу одновременно с вступлением в силу таких изменений в Оферту. 
			p 6.4. В случае нарушения Заказчиком сроков оплаты услуг Исполнитель имеет право расторгнуть настоящий Договор в одностороннем порядке. 
			p 6.5. В случае не предоставления Услуг Исполнителем после даты начала оказания Услуг в течение свыше 31 календарного дня, Заказчик вправе расторгнуть настоящий Договор в одностороннем порядке, предварительно уведомив об этом Исполнителя, а Исполнитель обязан вернуть уплаченные денежные средства Заказчиком по настоящему Договору. При этом Заказчик не может претендовать на сумму, превышающую уплаченные Заказчиком денежные средства. 
			h5 7. Заключительные положения 
			p 7.1. Настоящий Договор, включая приложения к нему, перечень которых указан в разделе 8 настоящего Договора, представляет собой полную договоренность между Заказчиком и Исполнителем. Исполнитель и Заказчик принимают на себя обязательства по исполнению условий Договора только в том объеме, которыйуказан в настоящем Договоре. 
			p 7.2. Акцептуя настоящий договор, Заказчик:
			ul
				li &ndash; фамилию, имя, отчество; дает согласие на сбор, обработку, использование, хранение своих персональных данных в соответствии с политикой обработки персональных данных Сайта Исполнителя, расположенной по адресу https://askkutsenko.info/confidential. В случае отзыва Заказчиком вышеуказанного согласия, Исполнитель удаляет их из своей базы данных. Каждое последующее обращение Заказчика к Исполнителю за предоставлением Услуг считается первым. В данном случае действие скидок на стоимость Услуг и/или рекламных акций на данного Заказчика не распространяется; 
				li &ndash; выражает своё согласие на получение маркетинговой информации от Исполнителя, распространяемой по сетям связи в целях и случаях, когда необходимость такого согласия предусмотрена законодательством о рекламе. 
			p 7.3. Заказчик заключает Договор добровольно, при этом Заказчик: 
			ul
				li &ndash; ознакомился с условиями Оферты; 
				li &ndash; полностью понимает предмет Оферты и Договора; 
				li &ndash; утверждает, что суть, объем обязательств, которые устанавливаются для каждой из Сторон настоящим Договором, ясны ему в полной мере; 
				li &ndash; полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора; 
				li &ndash; обладает всеми правами и полномочиями, необходимыми для заключения исполнения Договора. 
			p 7.4. Стороны согласовали, что каждой из них была предоставлена полная и достоверная информация относительно данных изложенных в положениях настоящего Договора. 	
			p 7.5. При несогласии с положениями настоящего соглашения (частично или в целом), лицо, выразившее такую волю, не имеет право использовать информационное поле и целевые сервисы, предлагаемые на Сайте Исполнителя. 
			p 7.6. Оформленный Заказчиком на Сайте Исполнителя Заказ, является неотъемлемой частью настоящего Договора. Все приложения являются неотъемлемой частью к настоящему Договору. 
			p 7.7. В случае, если какие-либо условия Приложений или Дополнительных Соглашений к договору Оферты противоречат условиям Оферты, положения Оферты будут преобладать. 
			p 7.8. Если какое-либо из условий Оферты признано недействительным или незаконным, или не может вступить в силу в соответствии с действующим законодательством РФ, такое удаляется из Оферты и заменяется новым положением, максимально отвечающим изначальным намерениям, содержащимся в Оферте, при этом остальные положения Оферты (договора Оферты) не меняются и остаются в силе. 
			p 7.9. Вопросы, не урегулированные настоящим Договором, Приложениями к нему, регулируются действующим законодательством Российской Федерации. 
			h5 8. Перечень приложений 
			p 8.1. Приложение 1: Описание Услуг (https://askkutsenko.info/opisanieuslug); 
			p 8.2. Приложение 2: Тарифы (https://askkutsenko.info/tariffs). 
			p 9. Адреса и реквизиты Исполнителя 
			p ИП КУЦЕНКО НИКИТА ОЛЕГОВИЧ
			p Адрес для корреспонденции: help@askkutsenko.info

//========== карусель сертификатов ==========
.popup-fade.popup-fade-3
	.popup
		.popup-close3 +
		.popup-content
			.sertificates-slider.owl-carousel
				.slider-item
					img(src="img/sertificates/sert1.jpg", alt="img")
				.slider-item
					img(src="img/sertificates/sert2.jpg", alt="img")
				.slider-item
					img(src="img/sertificates/sert3.jpg", alt="img")





					

