.modul-block
	.modul-block__head.speicial-offset
		.title-3 Модуль 1
		.label-free.title-2 Бесплатно
		.text-group-30
			h3.text-30 Инвестиции как способ достижения<br>финансовых целей
			p В рамках марафона «Путь Инвестора»
	.lesson-block
		.lesson.speicial-offset.mt-0
			.left-col
				.text-group
					h4 Урок 1. Почему важно начать свой путь инвестора как можно раньше?
					p Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в 2 раза быстрее. Выясним структуру работы фондового рынка.
			.right-col
				.sale#saleInfo
					span.percent %%
					p Сложный процент — прибыль, которая суммируется с основной суммой вклада и&nbsp;в&nbsp;дальнейшем уже сама производит новую прибыль. Это та самая магия, которая делает людей богатыми
		
		.modul-block__hidden.speicial-offset
			.left-col
				.home-work
					h5.title-5 Домашняя работа
					.home-work__task
						p Пройти тест;
						p.chek-icon Открыть брокерский счет и завести 1000&nbsp;&#8381;
			.lesson
				.left-col
					.text-group
						h4 Урок 2. Виды финансовых инструментов на&nbsp;фондовом рынке
						p Подробно изучим Акции, Облигации и Фонды как основные инструменты инвестора на фондовом рынке.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
			.lesson.lesson-3
				.left-col
					.text-group
						h4 Урок 3. Стратегии инвестирования в акции
						p Разберем ТОП-5 пассивных стратегий инвестирования в фондовый рынок, а именно:
						ul
							li Покупку дивидендных акций;
							li Покупку акций под дивиденды и их дальнейшая продажа;
							li Равномерное усредненное инвестирование;
							li Следование индексам через ETF фонды;
							li Поиск недооцененных акций.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
				.right-col
					.percent-200
						span.text-green на #[span 200%]
						p больше доходности дают данные стратегии по сравнению с активными хедж-фондами
			.lesson
				.left-col
					.text-group
						h4 Урок 4. Разбор торгового терминала брокера. Практическое занятие
						p На практике разберем как устроено приложение брокера и вместе купим Акцию, Облигацию и ETF.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p.chek-icon Купить свою первую акцию (облигацию, фонд)
			.lesson-benefits
				.left-col
					.text-group
						h4 После прохождения первого модуля вы сможете:
						ul
							li Разбираться в принципах работы фондового рынка и его субъектов;
							li Отличать основные финансовые инструменты:<br>Акции, Облигации и Фонды;
							li Работать по ТОП-5 стратегиям на фондовом рынке, которые дают доходность на 200% больше, чем активные хедж-фонды;
							li Самостоятельно без труда осуществлять покупку ценных бумаг в&nbsp;приложении брокера
				.right-col
					.cub-img
						img(src="img/cup.png", alt="cup")
			.modul-footer
				.btn.btn-solid Попробовать бесплатный модуль
				.modul-footer__flex
					.left-col
						p.text-16 Прохождение бесплатного модуля не обязывает вас к покупке платной части курса.<br> Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет
					.right-col
						.btn.btn-small.btn-closeModul Свернуть
	.speicial-offset
		.btn.btn-red.btn-allModul Развернуть полное описание бесплатного модуля