//========== ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ==========
.popup-fade.popup-fade-1
	.popup
		a.popup-close(href="#!") Закрыть
		.mofal-text 
			.modal-text__title 
				h3 Согласие на обработку персональных данных
				p #[span УТВЕРЖДЕНО] Индивидуальным предпринимателем Куценко Никита Олегович 20 августа 2020 г.



//========== ДОГОВОР ОФЕРТЫ ==========
.popup-fade.popup-fade-2
	.popup
		a.popup-close2(href="#!") Закрыть
		.mofal-text 
			p Текст договора