//========== Модуль 1 мобилки ==========

//- .popup-fade.popup-fade-4
//- 	.popup
//- 		.popup-close4 +
//- 		.popup-content
.container
	.modul-block.modul-block__modal
		.modul-block__head.speicial-offset
			p.subtitle Бесплатно
			.title-3 Модуль 1
			.text-group-30
				h3.text-30 Инвестиции как&nbsp;способ&nbsp;достижения<br>финансовых целей
				p В&nbsp;рамках&nbsp;марафона&nbsp;«Путь&nbsp;Инвестора»
		.lesson-block
			.lesson.speicial-offset.mt-0
				.left-col
					.text-group
						h4 Урок 1. Почему важно начать&nbsp;свой путь инвестора как можно раньше?
						p Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в&nbsp;2&nbsp;раза&nbsp;быстрее. Выясним&nbsp;структуру работы фондового рынка.
				.right-col
					.sale#saleInfo
						span.percent %%
						p Сложный процент — прибыль, которая&nbsp;суммируется с основной суммой вклада и&nbsp;в&nbsp;дальнейшем уже&nbsp;сама&nbsp;производит&nbsp;новую&nbsp;прибыль. Это та самая магия, которая делает&nbsp;людей&nbsp;богатыми

				.left-col
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест;
							p.chek-icon Открыть брокерский счет и&nbsp;завести 1000&nbsp;&#8381;
				.lesson.lesson-2
					.left-col
						.text-group
							h4 Урок 2. Виды финансовых инструментов на&nbsp;фондовом&nbsp;рынке
							p Подробно изучим Акции, Облигации&nbsp;и&nbsp;Фонды&nbsp;как&nbsp;основные инструменты инвестора на фондовом рынке.
						.home-work
							h5.title-5 Домашняя работа
							.home-work__task
								p Пройти тест
				.lesson.lesson-3
					.left-col
						.text-group
							h4 Урок 3. Стратегии инвестирования в акции
							p Разберем ТОП-5 пассивных стратегий инвестирования в&nbsp;фондовый рынок, а именно:
							ul
								li Покупку дивидендных акций;
								li Покупку акций под дивиденды и их дальнейшая продажа;
								li Равномерное усредненное инвестирование;
								li Следование индексам через&nbsp;ETF фонды;
								li Поиск недооцененных акций.
						.percent-200
							span.text-green на #[span 200%]
							p больше доходности дают данные стратегии по сравнению с активными хедж-фондам	
						.home-work
							h5.title-5 Домашняя работа
							.home-work__task
								p Пройти тест
					//- .right-col
					//- 	.percent-200
					//- 		span.text-green на #[span 200%]
					//- 		p больше доходности дают данные стратегии по сравнению с активными хедж-фондами
				.lesson
					.left-col
						.text-group
							h4 Урок 4. Разбор торгового терминала брокера. Практическое занятие
							p На практике разберем как&nbsp;устроено&nbsp;приложение&nbsp;брокера и вместе купим Акцию, Облигацию и ETF.
						.home-work
							h5.title-5 Домашняя работа
							.home-work__task
								p.chek-icon Купить свою первую акцию (облигацию, фонд)
				.lesson-benefits
					.left-col
						.text-group
							h4 После&nbsp;прохождения первого модуля вы&nbsp;сможете:
							ul
								li Разбираться&nbsp;в&nbsp;принципах работы&nbsp;фондового&nbsp;рынка и его субъектов;
								li Отличать основные финансовые&nbsp;инструменты: Акции,&nbsp;Облигации&nbsp;и&nbsp;Фонды;
								li Работать&nbsp;по&nbsp;ТОП-5&nbsp;стратегиям на фондовом рынке, которые&nbsp;дают&nbsp;доходность на 200% больше,<br>чем активные&nbsp;хедж-фонды;
								li Самостоятельно&nbsp;без&nbsp;труда осуществлять&nbsp;покупку ценных бумаг в&nbsp;приложении&nbsp;брокера
					//- .right-col
					//- 	.cub-img
					//- 		img(src="img/cup.png" alt="cup")
				.modul-footer
					a(href="https://investorway.getcourse.ru/page2" target="_blank").btn.btn-solid Попробовать бесплатно
					.modul-footer__flex
						.left-col
							p.text-16 Прохождение бесплатного модуля не обязывает вас к покупке платной части курса.<br> Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет









