mixin check
	svg(width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M12.8168 24.742C12.543 25.0634 12.0696 25.0879 11.7646 24.7965L0.237683 13.7779C-0.067244 13.4865 -0.0805017 12.9961 0.207896 12.6881L3.88045 8.76875C4.16902 8.46079 4.65456 8.4474 4.95948 8.73867L11.2562 14.7573C11.5611 15.0487 12.0346 15.0242 12.3084 14.7028L24.6099 0.26713C24.8837 -0.0542246 25.3682 -0.0909157 25.6862 0.185748L29.7355 3.70569C30.0537 3.98218 30.09 4.47151 29.8161 4.79287L12.8168 24.742Z" fill="#50B16D")
	

.modul-block
	.modul-block__head.speicial-offset
		.title-3 Модуль 1
		//- .label-free.title-2 Бесплатно
		.label-free
			img(src="img/free.png"  srcset="img/free@2x.png 2x", alt="label" width="539")
		.text-group-30
			h3.text-30 Инвестиции как&nbsp;способ&nbsp;достижения<br>финансовых целей
			p В рамках марафона <br class="br-mobile"> «Путь Инвестора»
	.lesson-block
		.lesson.speicial-offset.mt-0
			.left-col
				.text-group
					h4 Урок 1. Почему важно начать свой путь инвестора как можно раньше?
					p Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в 2 раза быстрее. Выясним структуру работы фондового рынка.
			.right-col
				.sale#saleInfo
					span.percent %%
					p Сложный процент — прибыль, которая суммируется с основной суммой вклада и&nbsp;в&nbsp;дальнейшем уже сама производит новую прибыль. Это та самая магия, которая делает людей богатыми
		
		.modul-block__hidden.speicial-offset
			.left-col
				.home-work
					h5.title-5 Домашняя работа
					.home-work__task
						p Пройти тест;
						p.chek-icon Открыть брокерский счет и завести 1000&nbsp;&#8381;
							span 
								+check
			.lesson
				.left-col
					.text-group
						h4 Урок 2. Виды финансовых инструментов на&nbsp;фондовом рынке
						p Подробно изучим Акции, Облигации и Фонды как основные инструменты инвестора на фондовом рынке.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
			.lesson.lesson-3
				.left-col
					.text-group
						h4 Урок 3. Стратегии инвестирования в акции
						p Разберем ТОП-5 пассивных стратегий инвестирования в фондовый рынок, а именно:
						ul
							li Покупку дивидендных акций;
							li Покупку акций под дивиденды и их дальнейшая продажа;
							li Равномерное усредненное инвестирование;
							li Следование индексам через ETF фонды;
							li Поиск недооцененных акций.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p Пройти тест
				.right-col
					.percent-200
						span.text-green на #[span 200%]
						p больше доходности дают данные стратегии по сравнению с активными хедж-фондами
			.lesson
				.left-col
					.text-group
						h4 Урок 4. Разбор торгового терминала брокера. Практическое занятие
						p На практике разберем как устроено приложение брокера и вместе купим Акцию, Облигацию и ETF.
					.home-work
						h5.title-5 Домашняя работа
						.home-work__task
							p.chek-icon Купить свою первую акцию (облигацию, фонд)
								span 
									+check
			.lesson-benefits
				.left-col
					.text-group
						h4 После прохождения первого модуля вы сможете:
						ul
							li Разбираться в принципах работы фондового рынка и его субъектов;
							li Отличать основные финансовые инструменты:<br>Акции, Облигации и Фонды;
							li Работать по ТОП-5 стратегиям на фондовом рынке, которые дают доходность на 200% больше, чем активные хедж-фонды;
							li Самостоятельно без труда осуществлять покупку ценных бумаг в&nbsp;приложении брокера
				.right-col
					.cub-img
						img(src="img/cup.png", alt="cup")
			.modul-footer
				a(href="https://investorway.getcourse.ru/page2" target="_blank").btn.btn-solid Попробовать бесплатный модуль
				.modul-footer__flex
					.left-col
						p.text-16 Прохождение бесплатного модуля не обязывает вас к покупке платной части курса.<br> Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет
					.right-col
						.btn.btn-small.btn-closeModul Свернуть
	.speicial-offset
		.btn.btn-green.btn-allModul Развернуть полное описание бесплатного модуля
		.btn.btn-green.btn-modulModal.popup-open4 Описание модуля