mixin close
	<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
	<g opacity="0.3">
	<path d="M2.05691 40C1.53 40 1.00309 39.7996 0.602758 39.3963C-0.200919 38.5926 -0.200919 37.2897 0.602758 36.486L36.4869 0.602742C37.2906 -0.200914 38.5936 -0.200914 39.3972 0.602742C40.2009 1.4064 40.2009 2.70933 39.3972 3.51349L3.51357 39.3963C3.11023 39.7971 2.58332 40 2.05691 40Z" fill="white"/>
	<path d="M37.9436 40C37.4167 40 36.8903 39.7996 36.4894 39.3963L0.602758 3.51349C-0.200919 2.70933 -0.200919 1.4064 0.602758 0.602742C1.40643 -0.200914 2.7094 -0.200914 3.51357 0.602742L39.3972 36.486C40.2009 37.2897 40.2009 38.5926 39.3972 39.3963C38.9939 39.7971 38.4675 40 37.9436 40Z" fill="white"/>
	</g>
	</svg>

.popup-fade.popup-fade-10
	.popup
		.popup-close
			+close
		.modal-content
			script(id='6dd84b541eee50b6e13d91fc3e0a69301f24a004' src='https://investorway.getcourse.ru/pl/lite/widget/script?id=354772')

.popup-fade.popup-fade-11
	.popup
		.popup-close
			+close
		.modal-content
			script(id='0c482cb4b7aa7efb1115ce5eb5368a7b9a726505' src='https://investorway.getcourse.ru/pl/lite/widget/script?id=369800')

.popup-fade.popup-fade-12
	.popup
		.popup-close
			+close
		.modal-content
			script(id='93037df56f78603d9c087ebbdb06ff7ef80f4902' src='https://investorway.getcourse.ru/pl/lite/widget/script?id=369802')

//.popup-fade.popup-fade-13
//	.popup
//		.popup-close
//			+close
//		.modal-content
//			script(id='103ffdb98beb99a7b3f6363716c1349dffbb7c0f' src='https://investorway.getcourse.ru/pl/lite/widget/script?id=414461')

//========== ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ==========
.popup-fade.popup-fade-1
	.popup
		.popup-close
			+close
		.modal-text 
			h3 Согласие на обработку персональных данных
			.scroll-wrapper
				//p Утверждено Индивидуальным предпринимателем Куценко Никита Олегович 20 августа 2020 г.
				h5 Политика в отношении обработки персональных данных
				h5 1. Основные понятия
				p 1.1. Политика обработки персональных данных (далее — Политика) действует в отношении всех персональных данных, которые Индивидуальный предприниматель Куценко Татьяна Викторовна (далее — Оператор) получает от клиентов, использующих сервисы сайта askkutsenko.info (далее — Пользователи и Сайт соответственно).
				p 1.2.  В случае несогласия с условиями Политики Пользователь должен немедленно прекратить любое использование Сайта. Оператор самостоятельно организует и осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия, совершаемые с персональными данными.
				p В Политике понятия используются в следующих значениях:
				ul
					li 1) Персональные данные - это любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу.
					li 2) Оператор - это Индивидуальный предприниматель Куценко Татьяна Викторовна, расположенный по адресу РФ, г. Екатеринбург ул. Юмашева, дом 15, кв. 175
					li 3) ) Обработка персональных данных - это любое действие или совокупность действий с персональными данными, совершаемых с использованием средств автоматизации или без их использования, Обработка персональных данных включает в себя, в том числе: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
					li 4) Автоматизированная обработка персональных данных - это обработка персональных данных с помощью средств вычислительной техники.
					li 5) Распространение персональных данных - это действия, направленные на раскрытие персональных данных неопределенному кругу лиц.
					li 6) Предоставление персональных данных - это действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.
					li 7) Блокирование персональных данных - это временное прекращение обработки персональных данных (за исключением случаев, когда обработка необходима для уточнения персональных данных).
					li 8) Использование персональных данных - это действия (операции) с персональными данными, совершаемые Оператором в целях принятия решений или совершения иных действий, порождающих юридические последствия в отношении субъекта персональных данных или других лиц либо иным образом затрагивающих права и свободы субъектов персональных данных или других лиц.
					li 9) Уничтожение персональных данных - это действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.
					li 10) Обезличивание персональных данных - это действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.
					li 11) Информационная система персональных данных - это совокупность содержащихся в базах данных  персональных данных и обеспечивающих их обработку информационных технологий и технических средств.
					li 12) Файлы cookie - это Данные Пользователя, которые автоматически передаются Оператору в процессе использования Сайта с помощью установленного на устройстве Пользователя программного обеспечения. К файлам cookie относятся IP-адрес, информация о браузере и виде операционной системы устройства Пользователя, технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сайту, иные действия, совершаемые на Сайте.

				h5 2. Цели обработки персональных данных
				p 2.1. Оператор может обрабатывать персональные данные Пользователей в следующих целях:
				p 2.1.1. Регистрация Пользователя на Сайте.
				p 2.1.2. Идентификация Пользователя на Сайте для Оператора.
				p 2.1.3. Отображение профиля Пользователя для иных Пользователей Сайта в целях поддержания коммуникации, в том числе при оказании услуг дистанционным способом.
				p 2.1.4. Установление и поддержание связи между Пользователем и Оператором, консультирование по вопросам оказания услуг.
				p 2.1.5. Исполнение Оператором обязательств перед Пользователем по соглашениям, заключенным с  Оператором. Исполнение обязательств, в частности, включает в себя информирование о дате и времени проведения занятий (в том числе путем обзвона и направления смс-сообщений); направление документов об освоении образовательной программы и т.д.
				p 2.1.6. Направление Пользователю сообщений рекламного характера; таргетирование рекламных материалов, предоставление информации об услугах, оказываемых Оператором. Направление сообщений рекламного характера и предоставление информации может осуществляться как Оператором, так и третьими лицами, которые принимают участие в оказании услуг Пользователем. Сообщения рекламного характера могут направляться на адрес электронной почты и номер мобильного телефона Пользователя, в том числе с использованием сервисов WhatsApp, Viber, Telegram.
				p 2.1.7. Размещение в официальных группах социальных сетей и иных сообществах Оператора в сети Интернет, прочих рекламных и информационных источниках:
				ul
					li &ndash; фото- и видео- материалов, полученных в процессе оказания услуг;
					li &ndash; оставленных Пользователем комментариев об услугах, оказываемых Оператором;
				p 2.1.8. Улучшение качества обслуживания Пользователей и модернизация Сайта Оператора путем обработки запросов и заявок от Пользователя
				p 2.1.9. Статистические и иные исследования на основе обезличенной информации, предоставленной Пользователем.
				p 2.1.10. Для любой иной цели, определенной Оператором.
				p 2.2. Конкретный объем персональных данных, обрабатываемых в указанных выше целях, определен в Разделе 4 настоящей Политики.
				h5 3. Условия и порядок предоставления согласия на обработку персональных данных Оператором
				p 3.1. . Оператор не проверяет предоставляемые Пользователем персональные данные. В связи с этим Оператор исходит из того, что при предоставлении персональных данных на Сайте Пользователь:
				p 3.1.1. Является дееспособным лицом.
				p 3.1.2. Указывает достоверную информацию о себе или о представляемом недееспособном лице (п. 3.1.1) в объемах, необходимых для использования Сайта. Пользователь самостоятельно  поддерживает предоставленные персональные данные в актуальном состоянии. Последствия предоставления Пользователем недостоверной или недостаточной информации определены в Пользовательском соглашении.
				p 3.1.3. Осознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для других Пользователей Сайта, может быть скопирована и распространена такими Пользователями.
				p 3.2. Пользователь принимает условия Политики и дает Оператору информированное и осознанное согласие на обработку своих персональных в следующем порядке:
				p 3.2.1. При регистрации на Сайте — для персональных данных, которые Пользователь предоставляет Оператору:
				ul
					li &ndash; путем заполнения формы для регистрации, расположенной в сети Интернет по адресу askkutsenko.info;
					li &ndash; путем авторизации с использованием персональных данных, указанных Пользователем в социальных сетях или электронных сервисах;
				p 3.2.2. При внесении или изменении персональных данных — для персональных данных, которые Пользователь предоставляет при редактировании или дополнении информации.
				p 3.2.3. При любом использовании Сайта – для Файлов cookies.
				p 3.2.4. При использовании любого иного способа передачи персональных данных (в том числе, посредством сообщения в телефонном разговоре, переписке с лицом, представляющем интересы Оператора) – для всех персональных данных, переданных Оператору,  а также для персональных данных, которые Пользователь предоставляет при редактировании или дополнении информации.
				p 3.3. Согласие Пользователя на обработку его персональных данных Оператором действует в течение 5 (пяти) лет.
				h5 4. Персональные данные, обрабатываемые Оператором
				p 4.1. К персональным данным, обрабатываемым Оператором, относятся: фамилия, имя, отчество Пользователя; телефон, адрес электронной почты Пользователя;данные, указанные в аккаунте любой социальной сети Пользователя; изображение Пользователя; дата рождения Пользователя;
				p 4.2. Пол, семейное положение, место работы Пользователя, место проживания Пользователя; файлы cookie; копии любых документов Пользователя;
				p 4.2.1. Иные сведения, сообщенные Пользователем Оператору в любой доступной для Сторон форме.
				h5 5. Порядок и условия обработки персональных данных
				p 5.1. Обработка персональных данных Пользователя производится Оператором с использованием баз данных на территории Российской Федерации.
				p 5.2. Персональные данные обрабатываются с использованием автоматизированных систем, за исключением случаев, когда происходит неавтоматизированная обработка персональных данных.
				p 5.3. Обработка персональных данных Пользователя включает совершение Оператором следующих действий: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.
				p 5.4. Хранение персональных данных Пользователей осуществляется на электронных и материальных носителях.
				p 5.5. Распространение персональных данных может осуществляться Оператором исключительно в следующих случаях:
				p 5.5.1. При обработке персональных данных с целью отображения профиля Пользователя для иных Пользователей Сайта для поддержания коммуникации, в том числе при оказании услуг дистанционным способом. В этом случае персональные данные Пользователя могут быть доступны другим Пользователям Сайта.
				p 5.5.2. При обработке персональных данных в иных целях, определенных Оператором.
				p 5.6. Оператор вправе передавать персональные данные Пользователей своим уполномоченным лицам, которые обеспечивают оказание услуг Пользователям. Персональные данные Пользователей предоставляются уполномоченным лицам в объеме, необходимом и достаточном для выполнения их функций.
				p Оператор вправе передавать персональные данные третьим лицам. Перечень разрешенных третьим лицам способов обработки персональных данных: сбор, систематизация, накопление, хранение, использование, передача, распространение, обезличивание, удаление, уничтожение.
				p 5.7. Уничтожение персональных данных осуществляется в следующих случаях:
				ul
					li &ndash; поступление от Пользователя отзыва согласия на обработку персональных данных;
					li &ndash; получение от Пользователя требования об уничтожении персональных данных;
					li &ndash; истечение срока действия согласия.
				h5 6. Меры, принимаемые Оператором для защиты персональных данных
				p 6.1. Оператор принимает необходимые и достаточные правовые, организационные и технические меры для защиты информации, предоставляемой Пользователями, от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
				h5 7. Права Пользователей
				p 7.1. Пользователь вправе:
				p 7.1.1 По своему усмотрению предоставлять Оператору персональные данные для их обработки на условиях, указанных в Политике;
				p 7.1.2. Самостоятельно вносить изменения и исправления в свои персональные при условии, что такие изменения и исправления содержат актуальную и достоверную информацию;
				p 7.1.3. Удалять персональные данные;
				p 7.1.4. Обращаться к Оператору с требованиями, в том числе об уточнении персональных данных; о блокировке или уничтожении персональных данных, если такие данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки;
				h5 8. Обращения Пользователей
				p 8.1. Пользователь вправе направлять Оператору запросы и требования относительно использования его персональных данных. Обращение может быть направлено следующими способами:
				p 8.1.1. В письменной форме по адресу Оператора;
				p 8.1.2. В форме электронного документа (скан-, фотокопия документа). Документ должен быть направлен с адреса электронной почты Пользователя, указанного им при регистрации на Сайте или в Договоре в качестве уполномоченного адреса электронной почты.
				h5 8. Изменение Политики
				p 9.1. Оператор оставляет за собой право вносить изменения в Политику по своему усмотрению, в том числе в случаях, когда это вызвано изменениями законодательства или Условий использования сервисов Сайта.
				p 9.2. Новая редакция Политики вступает в силу с момента ее размещения в соответствующем разделе сайта Оператора. Продолжение пользования Сайтом или его сервисами после публикации новой редакции Политики означает принятие Политики и ее условий Пользователем. В случае несогласия с условиями Политики Пользователь должен незамедлительно прекратить использование Сайта и его сервисов.
				h5 10. Сведения об Операторе
				p Наименование: Индивидуальный предприниматель Куценко Татьяна Викторовна
				p ИНН: 667011109889
				p Российская Федерация, 620014, СВЕРДЛОВСКАЯ ОБЛ, Г ЕКАТЕРИНБУРГ, УЛ ЮМАШЕВА, дом 15, кв. 175
				h5 Банковские реквизиты
				p Расчётный счет: №  40802810200002131589
				p Название банка: АО «Тинькофф Банк»
				p БИК:044525974
				p Адрес банка: 127287, г. Москва, ул. Хуторская 2-я, д. 38А, стр. 26
				p Корр. счет: 30101810145250000974
				p ОГРН 321665800080311
				p ИНН 7710140679
				p E-mail: help@askkutsenko.info





//========== ДОГОВОР ОФЕРТЫ ==========
.popup-fade.popup-fade-2
	.popup
		.popup-close2
			+close
		.modal-text 
			h3 Договор оферты
			.scroll-wrapper
				h5 1. Общие положения
				p 1.1. Данный документ является публичной Офертой Индивидуального предпринимателя Куценко Татьяны Викторовны, (далее именуемый - «Исполнитель») и содержит все существенные условия по оказанию информационно-консультационных услуг (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).
				p 1.2. Любое физическое лицо, посетившее сайт askkutsenko.info, имеющее намерение приобрести информационно-консультационную услугу, и оплатить получение информационно-консультационной услуги, становится Заказчиком.
				p 1.3. Термины и определения:
				ul 
					li 1) Исполнитель – Индивидуальный предприниматель Куценко Татьяна Викторовна
					li 2) Заказчик – любое дееспособное физическое лицо, посетившее Сайт и имеющее намерение приобрести участие в Тренинге и использующее для этого сервисы Сайта.
					li 3) Участие в тренинге – приобретение курса дистанционных мероприятий с использованием трансляции в сети Интернет (вебинары, трансляции, видеоматериалы, тематические курсы и т.п.) согласно расписанию, размещенному на сайте Исполнителя: askkutsenko.info
					li 4) Сайт – информационный ресурс, размещенный в сети Интернет по адресу: askkutsenko.info и открытый для свободного доступа.
					li 5) Иные ресурсы Исполнителя – askkutsenko.info
					li 6) Сервисы сайта – интерфейс сайта, дающий возможность Заказчику самостоятельно выбирать и приобретать Участие в курсе, Тариф, а также получать персональные уведомления на электронную почту или телефон и пользоваться другими услугами.
					li 7) Тариф – тип получения доступа к материалам, согласно ценовым и иным условиям, отраженным на Сайте.
					li 8) Персональные данные - любая информация, относящаяся к прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных)
				h5 2. Предмет оферты
				p 2.1. Исполнитель предоставляет услуги по настоящему Договору в следующем виде:
				p 2.1.1. Доступ к курсу дистанционных мероприятий с использованием трансляции в сети Интернет (вебинары, видеоматериалы, трансляции, тематические курсы и т.п.) согласно расписанию и инструкции, размещенных на сайте Исполнителя.
				p 2.1.2. Доступ к записи мероприятий, предоставляемых в электронном виде с помощью сети  Интернет с ограниченным сроком доступа к указанным записям.
				p 2.2. Исполнитель имеет право в любой момент изменять расписание и порядок предоставляемых мероприятий и условия настоящей публичной Оферты в одностороннем порядке без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте Исполнителя не менее чем за один день до их ввода в действие.
				p 2.3. Услуги по данному договору оказываются дистанционно (онлайн), средствами телекоммуникации в сроки, указанные в описании выбранного предложения на сайте askkutsenko.info.
				p 2.4. Доступ к мероприятиям, вебинарам, видеоматериалам, иным объектам интеллектуального права Исполнителя предоставляется Заказчику на основании исключительной лицензии, действующей в период существования у Исполнителя исключительных прав на соответствующие мероприятия, вебинары, видеоматериалы, иные объекты интеллектуального права, в соответствии с п. 3.1.2. настоящего Договора.  Стоимость предоставления Исполнителем такой лицензии включена в п.4.1. настоящего Договора. Исключительная лицензия предоставлена Заказчику только с правом ознакомления и использования материалов самостоятельно без права полного или частичного копирования, распространения, опубликования, воспроизведения, трансляции и иного использования.
				p 2.5. Услуга по настоящему Договору считается выполненной, если Исполнителем предоставлен доступ ко всем материалами мероприятиям, указанным на сайте, согласно расписанию в пределах срока  п. 3.1.2. настоящего Договора.
				p 2.6. При оказании услуг Исполнителем не реализуется ни одна из образовательных программ, предусмотренных Положением о лицензировании образовательной деятельности, утвержденным Постановлением Правительства РФ от 28.10.2013 №966.
				h5 3. Права и обязанности Сторон 
				p 3.1. Исполнитель обязуется:
				p 3.1.1. Создать условия для получения информационно-консультационных услуг Заказчиком, довести до сведения Заказчика расписание представляемых мероприятий, видеоматериалов и т.д.
				p 3.1.2. Обеспечить Заказчику доступ в личный кабинет на сайте Исполнителя askkutsenko.info или в личный кабинет, расположенный на сайте  специальной обучающей платформы GetCourse на три месяца с момента открытия.
				p 3.1.3. Сохранять конфиденциальную информацию, полученную от Заказчика, при оказании информационно-консультационных услуг по настоящему Договору.
				p 3.1.4. Соблюдать требования законодательства, касающиеся обработки, передачи и защиты персональных данных Заказчика.
				p 3.2. Заказчик обязуется:
				p 3.2.1. После выбора Тарифа оказываемых услуг, принятия настоящей публичной оферты и оплаты услуг как в части, так и полностью, в зависимости от условий Тарифа, выбранного Заказчиком на сайте askkutsenko.info в размере стоимости информационно-консультационных услуг по настоящему Договору:
				ul
					li &ndash; придерживаться рекомендуемого расписания мероприятий;
					li &ndash; выполнять рекомендации и требования Исполнителя, изложенные в курсе вебинаров и мероприятий;
					li &ndash; изучить всю предложенную Исполнителем информацию по вебинарам и видеоматериалам согласно порядку изложения, который указан Исполнителем в течение всего курса проведения мероприятий.
					li &ndash; пропущенные онлайн-трансляции Заказчик восполняет самостоятельно, просматривая видеозаписи по интернет-ссылке, присланной ему на электронную почту, указанную при регистрации. Заказчик обязан просмотреть все записи пропущенных трансляций до начала следующей онлайн-трансляции, которую он будет посещать.
				p 3.2.2. Предоставить Исполнителю актуальную и достоверную информацию для направления Заказчику информационных материалов, а также для оперативной связи с Заказчиком в рамках оказания услуг по настоящему Договору;
				p 3.2.3. Не осуществлять записи (скачивание записей, скриншоты, фотографирование записей и иные способы сохранения информации, предоставляемой Исполнителем в рамках всего курса проводимых мероприятий) проводимых вебинаров, консультаций и иных мероприятий, проводимых Исполнителем в рамках оказания услуг по настоящему договору.
				p 3.2.4. Заказчику запрещается передавать реквизиты доступа к ресурсу для получения информационно-консультационных услуг третьим лицам, а также совместное с третьими лицами получение услуг.
				p 3.2.5. При обучении по тарифам, включающих поддержку преподавателя, в случае непонимания пройденного материала Заказчик обязан предупредить об этом преподавателя связавшись с администрацией школы по электронной почте.
				p 3.3. Исполнитель вправе:
				p 3.3.1. Изменять в одностороннем порядке график проведения консультаций с уведомлением Заказчика согласно п. 2.2.4 настоящего Договора;
				p 3.3.2. Отказаться от оказания услуг Заказчику, предоставившему Исполнителю недостоверные данные, а также Заказчику, нарушающему условия раздела 6 настоящего Договора;
				p 3.3.3. Услуги, предусмотренные настоящим договором оказываются Исполнителем лично Заказчику.
				p 3.3.4. Исполнитель оставляет за собой право привлекать для оказания услуг в соответствии с настоящим Договором третьих лиц. При этом Исполнитель не несет ответственность за действия третьих лиц при оказании услуг, а также за качество оказываемых третьими лицами услуг.
				p 3.3.5. Осуществлять контроль проводимых мероприятий в рамках оказания услуг по настоящему Договору.
				p 3.3.6. Проводить анкетирование Заказчика, в том числе запрашивать отзывы о проводимых мероприятиях, размещать результаты анкетирования и отзывы в сети «Интернет» с соблюдением всех мер по обработке, передаче и защите персональных данных, предусмотренных действующим законодательством.
				p 3.4. Заказчик имеет право:
				p 3.4.1. Отказаться от исполнения настоящего договора в соответствии с условиями настоящего Договора, при условии оплаты Исполнителю фактически оказанных им услуг на момент такого отказа в течении 3-х дней с момента поступления оплаты. В этом случае, Исполнитель обязуется вернуть оплату по договору в течение 10 (десяти) календарных дней.
				p 3.4.2. Обеспечить соблюдение прохождения курса мероприятий, согласно расписанию мероприятий, размещенному в личном кабинете Заказчика.
				p 3.4.3. В   случае невозможности прохождения мероприятий по какой-либо причине в установленный расписанием срок, Заказчик обязуется известить Исполнителя о невозможности обучения, а также выполнить свои обязательства по прохождению курса мероприятий в иной срок в течение предоставленного доступа к курсу.
				p 3.5. Для получения результата оказания Услуги, предусмотренной настоящим Договором, а также для достижения любой иной цели Заказчик обязуется вступать в правоотношения исключительно с Исполнителем.
				p Заказчик не вправе  в целях получения результата оказания Услуги, а также для достижения любой иной цели вступать в обособленные правоотношения с любыми работниками Исполнителя, исполняющими свои обязательства в соответствии с трудовым законодательством, (а также со всеми третьими лицами, оказывающими Исполнителю услуги различного рода и любыми иными лицами, привлекаемыми Исполнителем к осуществлению различного рода обязанностей), действующими от своего имени.
				p 3.6. За нарушение п.3.5. настоящего Договора Заказчик несет ответственность в размере 100 000 (Сто тысяч) рублей, подлежащих к уплате в пользу Исполнителя.

				h5 4. Стоимость услуг и порядок оплаты
				p 4.1. Стоимость информационно-консультационных услуг по настоящему договору указана на официальном сайте Исполнителя: askkutsenko.info, причем стоимость 1 модуля составляет 4444 рублей, 2 модуля составляет 4444 рублей, 3 модуля составляет 4444 рублей, 4 модуля составляет 4444 рублей, 5 модуля составляет 4444 рублей, 6 модуля составляет 4444 рублей, 7 модуля составляет 4444 рублей, 8 модуля составляет 4444 рублей, 9 модуля составляет 4444 рублей.
				p 4.2. Оплата выбранной услуги производится Заказчиком путем перечисления денежных средств на расчетный счет Исполнителя, указанный на Сайте Исполнителя без предварительного выставления счета.
				p Способы оплаты:
				ul
					li 1. Оплата банковской картой Visa/Mastercard
					li 2. Рассрочка Мандарин
					li 3. Рассрочка АктивКредит
					li 4. Сервисы Apple Pay/Google Pay
				p 4.3. Моментом исполнения обязательства Заказчика по оплате, а также заключением настоящего Договора считается зачисление денежных средств на расчетный счет Исполнителя.
				p 4.4. Информационно-консультационные услуги считаются оказанными с надлежащим качеством и в срок при отсутствии в письменном виде претензий Заказчика на следующий день, после наступления окончания срока оказания услуг по обучению.
				p 4.5. Исполнитель вправе устанавливать различные скидки от стоимости оказываемых услуг и специальные предложения на Пакеты Услуг, которые действуют ограниченное время. В таком случае Заказчик соглашается с условиями специальных предложений, выражая свой акцепт путём оплаты выбранного Пакета по специальной цене (со скидкой). Информация о скидках, специальных предложениях и времени их действия размещается Исполнителем на одном Сайте. В случае окончания срока действия скидки, специального предложения, Заказчик не вправе требовать от Исполнителя заключения с ним договора на специальных условиях. Во всяком случае стоимость Услуг определяется на дату их оплаты Заказчиком
				p 4.6. Заказчик вправе осуществить оплату выбранной услуги в следующем порядке:
				p 4.6.1. В порядке внесения 100 % предоплаты в размере стоимости выбранного тарифа до момента начала оказания комплекса услуг (вебинаров). В таком случае Стороны договорились считать 40% от суммы предоплаты задатком.
				p 4.6.2. В порядке рассрочки внесения платежей в размере и в периоды, согласованные Сторонами. В таком случае Стороны договорились считать сумму в размере 40% от цены Договора, перечисленную Заказчиком в пользу Исполнителя согласованными Сторонами периодичными платежами, (или, например, первый платеж в размере ____________) задатком.
				h5 5. Условия и порядок возврата денежных средств
				p 5.1. Заказчик пользуется всеми правами потребителя в соответствии с действующим законодательством Российской Федерации, регулирующим отношения по возмездному оказанию услуг.
				p 5.2. Заказчик в случае оказания ему услуги ненадлежащего качества вправе воспользоваться правами, предусмотренными ст.22 Закона РФ «О защите прав потребителей», исключительно в случаях, когда нарушение его прав произошло по вине Исполнителя и при доказанности указанного обстоятельства.
				p 5.3.  Возврат денежных средств, оплаченных 100% Исполнителем  на основании претензии Заказчика о ненадлежащем качестве, с приведенными в ней фактами вины Исполнителя за некачественно оказанную услугу по обучению, в случае согласия Исполнителя с предъявленной претензией,  с учетом фактически понесенных Исполнителем затрат и с правом удержания задатка, производится по следующей системе:
				ul
					li &ndash; После открытия 1 модуля, с момента официального старта - в размере 75% от стоимости обучения;
					li &ndash; После открытия 2 модуля, с момента официального старта - в размере 65% от стоимости обучения;
					li &ndash; После открытия 3 модуля, с момента официального старта - в размере 60 % от стоимости обучения;
					li &ndash; После открытия 4 модуля, с момента официального старта - в размере 50 % от стоимости обучения;
					li &ndash; После открытия 5 модуля, с момента официального старта - в размере 40 % от стоимости обучения;
					li &ndash; После открытия 6 модуля, с момента официального старта - в размере 30 % от стоимости обучения;
					li &ndash; После открытия 7 модуля, с момента официального старта - в размере 25 % от стоимости обучения;
					li &ndash; После открытия 8 модуля, с момента официального старта - в размере 20 % от стоимости обучения;
					li &ndash; После открытия 9 модуля, с момента официального старта - в размере 10 % от стоимости обучения;
				p 5.4. Принимая решение о возврате, Исполнитель вправе удержать часть стоимости Услуг для возмещения фактических затрат, которые он понес на момент получения заявления о возврате.
				p К фактическим затратам Исполнителя относятся расходы, совершенные на момент получения заявления о возврате, в частности:
				ul
					li &ndash; стоимость предоставленных Заказчику обучающих материалов и проведенных на момент получения заявления о возврате вебинаров;
					li &ndash; оплата услуг привлеченных третьих лиц;
					li &ndash; заработная плата куратора, участвующего в обучающей программе и проверке домашних заданий;
					li &ndash; расходы на использованное Исполнителем в процессе обучения ПО или оплату услуг третьих лиц;
					li &ndash; стоимость бонусных материалов (по цене на момент приобретения курса);
					li &ndash; комиссии банковских, кредитных организаций и соответствующих платежных систем за осуществление возврата денежных средств.
				p Конкретная сумма фактических затрат для каждого случая определяется Исполнителем самостоятельно, но не может быть менее 12% от стоимости Услуг.
				p В том случае, если Заказчик не использовал предоставленные материалы, не участвовал без уважительных причин, подтвержденных документально, на вебинарах, организованных Исполнителем, стоимость таких материалов и услуг также подлежит включению в состав расходов Исполнителя, в связи с обстоятельствами, не зависящими от воли Исполнителя.

				p 5.5. Все претензии по качеству оказываемой услуги должны направляться Заказчиком в адрес Исполнителя посредством подачи заявки в службу поддержки: help@askkutsenko.info. Срок рассмотрения претензии (-ий) Заказчика Исполнителем составляет 10 (дней) дней (в том числе претензий, содержащих требование о возврате денежных средств) с момента поступления претензии в адрес Исполнителя, по истечении которого Исполнителем принимается одно из следующих решений:
				ul
					li 1) о несогласии с претензией и об отказе в возврате денежных средств, либо
					li 2) о согласии с претензией и об удовлетворении требования о возврате денежных средств.
				p 5.6. В случае принятия решения Исполнителем о возврате денежных средств, Денежные средства возвращаются Заказчику путем их:
				ul
					li &ndash; зачисления на банковскую карту Заказчика в банк, с которого был совершен платеж.
				p Сторонами безоговорочно принимается, что окончательное решение о способе возврата денежных средств остается в каждом конкретном случае на усмотрение Исполнителя.
				p 5.7. Денежные средства зачисляются на банковскую карту Заказчика в течение 30 (тридцати) рабочих дней с момента принятия решения о возврате средств.
				p 5.8. При оформлении возврата денежных средств Исполнитель удерживает также стоимость понесенных издержек в размере до 15% от возвращаемой суммы в пользу уплаты комиссионных сборов за перечисление денежных средств и компенсации убытков. Заказчик, оформивший возврат денежных средств, лишается права на получение каких- либо услуг от Исполнителя в будущем.
				h5 6. Особые условия
				p 6.1. Исполнитель оставляет за собой право закрыть доступ Заказчика к ресурсу для получения информационно-консультационных услуг без возврата денежных средств в случае нарушения правил поведения на ресурсах Исполнителя (официальный сайт, официальные группы в социальных сетях, чатах, созданных как с использованием мессенджеров, так и в ресурсах сети «Интернет», канал Youtube), а именно: разжигание межнациональных конфликтов, отвлечение других участников от прохождения курса мероприятий, спам, размещение рекламы, нецензурные высказывания, хамство, оскорбление администраторов, служебного персонала или участников.
				p 6.2. Заказчику запрещается распространять (публиковать, размещать на Интернет-сайтах, копировать, передавать или перепродавать третьим лицам, осуществлять записи, скачивание записей, фотографирование записей проводимых вебинаров, консультаций и иных мероприятий, проводимых Исполнителем в рамках оказания услуг по настоящему договору, делать и распространять скриншоты мероприятий, в т.ч. вебинаров, а также переписку участников курса мероприятий) в коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику информацию и материалы, полученные в рамках настоящего договора, создавать на ее  основе информационные продукты, а также использовать эту информацию каким-либо иным образом, кроме как для личного пользования.
				p 6.3. Исполнитель не несет ответственности за невозможность оказания услуг Заказчику по причинам, не зависящим от Исполнителя, а именно: нарушение работы Интернет-канала, оборудования или программного обеспечения со стороны Заказчика.
				p 6.4. В случае, если до даты, указанной на сайте Исполнителя, Заказчиком не внесена 100% оплата за оказываемые услуги, в размере выбранного тарифа информационно-консультационных услуг (тарифы размещены на Сайте), Исполнитель вправе ограничить в предоставлении доступа к оказываемым услугам до момента 100% оплаты услуг Заказчиком, а в случае, если указанная оплата не будет внесена в течение 10 (десяти) календарных дней с момента ограничения доступа Заказчику, Исполнитель вправе отказаться от оказания услуг ввиду нарушения Заказчиком условий настоящего Договора, а денежные средства, уплаченные Заказчиком зачесть в качестве оплаты фактически оказанных услуг по настоящему Договору.
				p 6.5. Настоящий договор вступает в силу с момента акцепта Заказчиком и действует в течение 1 года.
				h5 7. Ответственность сторон по договору
				p 7.1. За нарушение п.п.  3.2.3., 3.2.4., 6.2 настоящего договора, Заказчик обязуется выплатить в пользу Исполнителя неустойку в размере полной стоимости приобретенного им доступа к Программе по настоящему Договору, в течение 5 дней, с момента обнаружения исполнителем данного нарушения.
				p 7.2. За нарушения условий исключительной лицензии, предусмотренных п.2.4 . настоящего Договора, Заказчик обязуется выплатить в пользу Исполнителя неустойку в размере полной стоимости приобретенной приобретенного им доступа к Программе по настоящему Договору.
				p 7.3. Ответственность сторон регулируется действующим законодательством Российской Федерации.
				p 7.4. Все споры и разногласия Сторон по настоящему Договору будут разрешаться в обязательном досудебном претензионном порядке. Срок рассмотрения претензии составляет 10 (десять) рабочих дней с момента ее получения Стороной.
				p 7.5. В случае невозможности урегулирования спора в досудебном порядке, он передается на рассмотрение в суд в соответствии с подведомственностью по месту нахождения Истца.
				h5 8. Гарантии качества информационной услуги
				p 8.1. Заказчик, принимая условия настоящей Оферты, принимает на себя также риск неполучения прибыли и риск возможных убытков, связанных с использованием знаний, умений и навыков, полученных Заказчиком в ходе оказания Информационной услуги.
				p 8.2. Исполнитель не гарантирует успешность применения полученных знаний, умений и навыков, а также получение Заказчиком услуги определенной прибыли (дохода) с их использованием (реализацией) в определенном либо неопределенном будущем. Исполнитель не несет ответственности за неполучение прибыли (дохода), получение прибыли (дохода) ниже ожиданий Заказчика, а также за прямые и косвенные убытки Заказчика, поскольку успешность использования Заказчиком полученных знаний, умений и навыков зависит от многих известных и неизвестных Исполнителю факторов: целеустремленности, трудолюбия, упорства, уровня интеллектуального развития, творческих способностей Заказчика, других его индивидуальных качеств и персональных характеристик, что принимается обеими сторонами.
				p 8.3. Исполнитель в ходе оказания Информационной услуги вправе требовать у Заказчика выполнения заданий - определенных действий Заказчика, планируемых и поручаемых Исполнителем. Задания направляются Заказчику посредством электронной связи: на электронную почту либо иным способом, оговариваемым отдельно в каждом случае.
				p 8.4. Неисполнение либо ненадлежащее исполнение Заказчиком заданий является для Исполнителя основанием для отказа в возврате денежных средств, выплаченных Заказчиком Исполнителю, чем бы ни обосновывалось требование Заказчика, что безоговорочно принимается сторонами.
				p 8.5. Прием к рассмотрению претензий Заказчика с требованием о возврате денежных средств прекращается по истечении 14 (четырнадцати) календарных дней с момента начала обучающего курса (то есть, получения сведений доступа к закрытой зоне проведения семинара), что безоговорочно принимается сторонами.
				p 8.6. Претензии с требованием о возврате денежных средств, внесенных в качестве оплаты за онлайн-вебинар, ввиду неявки, опоздания, возникших не по вине Заказчика, Исполнителем не рассматриваются.
				p 8.7 В случае обоюдно принятой или любой иной договоренности о возврате денежных средств Исполнителем Заказчику, возврат средств производится по завершению обучения, в оговоренные сторонами сроки.
				h5 9. Персональные данные
				p 9.1.Принимая условия настоящей Оферты, Заказчик дает свое согласие на обработку Исполнителем предоставленных Заказчиком персональных данных, совершаемую с использованием средств автоматизации, и без использования средств автоматизации, включая сбор, запись, систематизацию, накопление, хранение, уточнение, извлечение, использование, передачу, предоставление, обезличивание, блокирование, удаление, уничтожение данных с целью выполнения Исполнителем своих обязательств, предусмотренных настоящим договором, а также с целью выполнения требований законодательства РФ.
				p 9.2.Срок использования предоставленных Заказчиком персональных данных - бессрочно.
				p 9.3.Заказчик вправе удалить данные о себе, обратившись с письменным или по электронной почте уведомлением к Исполнителю.
				p 9.4. Заказчик дает согласие на получение информационных рассылок и рекламных материалов от Исполнителя на адрес электронной почты и контактный телефон, указанные Заказчиком при регистрации на Сайте.
				p Согласие на получение информационных рассылок и рекламных материалов может быть отозвано Заказчиком в любое время путем направления Исполнителю соответствующего уведомления.
				p 9.5. Заказчик дает свое согласие на использование его изображения в качестве фотографии Заказчика (аватара) Исполнителем на безвозмездной основе.
				h5 10. Реквизиты исполнителя
				p Индивидуальный предприниматель Куценко Татьяна Викторовна
				p ИНН 667011109889 / ОГРНИП 321665800080311
				p Наименование банка: АО "Тинькофф Банк"
				p БИК: 044525974
				p Город: Москва
				p Корр. счет: 30101810145250000974
				p e-mail: help@askkutsenko.info


//========== карусель сертификатов ==========
.popup-fade.popup-fade-3
	.popup
		.popup-close3 
			+close
		.popup-content
			.sertificates-slider.owl-carousel
				.slider-item
					img(src="img/sertificates/sert1.jpg" alt="img")
				.slider-item
					img(src="img/sertificates/sert2.jpg" alt="img")
				.slider-item
					img(src="img/sertificates/sert3.jpg" alt="img")

