// ========== СТОИМОСТЬ ==========
section.price
	.container
		.header-group
			.sale-icon
				span &ndash; 25%
			h4.head-4.text-green предпродажа
			h2.title-2 Стоимость обучения
		//===== тариф Бесплатно
		.tariff-item.block-flex
			.price-card
				.text-group-30
					h3 Бесплатный
					p Включает полный первый модуль платного курса.<br> 4 урока, 2 теста и&nbsp;2&nbsp;практических&nbsp;задания
				
				.footer-group.block-flex
					.price-value.text-green 0 &#8381;
					a(href="https://investorway.getcourse.ru/page2" target="_blank").btn.btn-red Начать обучение
			.price-card__info
				p #[span.text-red Прохождение бесплатного <br class="br-mobile"> модуля не обязывает вас <br class="br-mobile"> к покупке платной части курса.] <br class="br-mobile"> Я хочу, чтобы перед покупкой, вы&nbsp;были уверены в том, что курс действительно вам подойдет
		//===== тариф Любитель
		.tariff-item.tariff-item--bg.block-flex
			.price-card
				.text-group-30
					h3 Любитель
					p В стоимость входят 7 модулей учебной программы, без&nbsp;проверки домашних заданий
				
				.footer-group.block-flex
					.price-value.price-value--mob 3750 &#8381;
						span.old-price 5000 &#8381;
					a(href="https://investorway.getcourse.ru/page3" target="_blank").btn.btn-red Перейти к оплате
			.price-card__info
				p #[span.text-red Для тех, у кого все хорошо<br class="br-mobile">  с самоорганизацией.] <br class="br-mobile">  Кто хочет повысить уровень финансовой грамотности и готов самостоятельно искать информацию и набивать «шишки» на практике
		
		//===== тариф Эксперт
		h3.title-3.text-green.tariff-item--title Рекомендую
		.tariff-item.block-flex
			.price-card
				.text-group-30
					h3 Эксперт
					p 9 модулей учебной программы (включая 2 продвинутых модуля, которых нет в тарифе «Любитель»). Домашние задания проверяет автор курса и квалифицированные кураторы
				
				.footer-group.footer-group--proff.block-flex
					.price-value.price-value--mob 5625 &#8381;
						span.old-price 7500 &#8381;
					a(href="https://investorway.getcourse.ru/page5" target="_blank").btn.btn-green К оплате
			.price-card__info
				p #[span.text-green Для тех, кому важна групповая<br class="br-mobile">  активность и обратная связь <br class="br-mobile"> от автора курса.] Кто хочет заложить прочный фундамент своей финансовой свободы и знать все нюансы, позволяющие на старте избежать ошибок новичков
		
		//===== тариф Профессионал
		.tariff-item.block-flex
			.price-card.price-card--black
				.text-group-30
					h3 Профессионал
					p 9 модулей учебной программы, домашние задания проверяет автор курса и кураторы. В стоимость также входят 3 личные консультации с автором (скайпом, по 1 часу каждая)
				
				.footer-group.footer-group--proff.block-flex
					.price-value.price-value--mob 11 250 &#8381;
						span.old-price 15000 &#8381;
					a(href="https://investorway.getcourse.ru/page4" target="_blank").btn.btn-red К оплате
			.price-card__info
				p #[span.text-red Для тех, кому важен персональный подход автора курса и личная передача опыта.]   Рекомендуется будущим инвесторам, чей инвестиционный портфель на старте более 1 млн. ₽
				 


// ========== КОНЕЦ СТОИМОСТЬ ==========