// ========== СТОИМОСТЬ ==========
section.price
	.container
		.header-group
			.sale-icon
				span 25%
			h4.head-4.text-green предпродажа
			h2.title-2 Стоимость обучения

		.tariff-item
			.price-card
				.text-group-30
					h3 Бесплатный
					p Включает полный первый модуль платного курса. 4 урока, 2 теста и 2 практических задания
			

// ========== КОНЕЦ СТОИМОСТЬ ==========