mixin apple
	<svg width="124" height="80" viewBox="0 0 124 80" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="124" height="80" rx="10" fill="white"/>
		<path d="M32.8101 25.8991C31.7319 27.1827 30.0067 28.1951 28.2815 28.0504C28.0658 26.3149 28.9105 24.471 29.8989 23.3321C30.9771 22.0124 32.864 21.0723 34.3916 21C34.5713 22.8078 33.8704 24.5794 32.8101 25.8991ZM34.3736 28.3939C31.8757 28.2493 29.7371 29.8221 28.5511 29.8221C27.347 29.8221 25.532 28.4662 23.5552 28.5024C20.9853 28.5385 18.5952 30.0029 17.2834 32.3349C14.5877 36.999 16.5825 43.9049 19.1883 47.7012C20.4642 49.5814 21.9917 51.6422 24.0044 51.5699C25.9093 51.4976 26.6641 50.3225 28.9644 50.3225C31.2826 50.3225 31.9475 51.5699 33.9603 51.5338C36.0449 51.4976 37.3568 49.6537 38.6327 47.7736C40.0883 45.6403 40.6814 43.5614 40.7173 43.4529C40.6814 43.4167 36.6918 41.8801 36.6559 37.2521C36.6199 33.3834 39.8008 31.5395 39.9445 31.431C38.1475 28.7555 35.344 28.4662 34.3736 28.3939ZM48.8042 23.1513V51.3349H53.1531V41.6993H59.1733C64.6724 41.6993 68.5361 37.903 68.5361 32.4072C68.5361 26.9115 64.7443 23.1513 59.3171 23.1513H48.8042ZM53.1531 26.8392H58.1669C61.9408 26.8392 64.0973 28.8639 64.0973 32.4253C64.0973 35.9867 61.9408 38.0295 58.149 38.0295H53.1531V26.8392ZM76.4792 51.5519C79.2108 51.5519 81.7447 50.1598 82.8948 47.9543H82.9846V51.3349H87.0101V37.3064C87.0101 33.2388 83.7754 30.6175 78.7974 30.6175C74.1789 30.6175 70.7645 33.275 70.6387 36.9267H74.5563C74.8798 35.1912 76.4792 34.0523 78.6716 34.0523C81.3313 34.0523 82.8229 35.2997 82.8229 37.5956V39.1503L77.3957 39.4757C72.3459 39.7831 69.6144 41.862 69.6144 45.4776C69.6144 49.1294 72.4358 51.5519 76.4792 51.5519ZM77.6473 48.2074C75.3291 48.2074 73.8555 47.0866 73.8555 45.3692C73.8555 43.5975 75.2752 42.5671 77.9888 42.4044L82.8229 42.0971V43.6879C82.8229 46.3273 80.5945 48.2074 77.6473 48.2074ZM92.3834 59C96.6245 59 98.6192 57.373 100.362 52.4377L108 30.8887H103.579L98.4575 47.5385H98.3676L93.246 30.8887H88.6994L96.0674 51.4072L95.672 52.6546C95.0071 54.7697 93.9289 55.5833 92.006 55.5833C91.6645 55.5833 90.9996 55.5471 90.7301 55.5109V58.8915C90.9816 58.9638 92.0599 59 92.3834 59Z" fill="#111115"/>
		</svg>

mixin google
	<svg width="124" height="80" viewBox="0 0 124 80" fill="none" xmlns="http://www.w3.org/2000/svg">
		<rect width="124" height="80" rx="10" fill="white"/>
		<path d="M58.8744 40.5655V51.7038H55.2925V24.1972H64.7923C65.9263 24.1738 67.0537 24.3722 68.1095 24.7809C69.1653 25.1896 70.1286 25.8005 70.9439 26.5784C71.7673 27.3091 72.4226 28.2052 72.8659 29.2065C73.3091 30.2078 73.5299 31.2911 73.5135 32.3835C73.5371 33.4818 73.3196 34.5722 72.8761 35.5799C72.4326 36.5875 71.7734 37.4887 70.9439 38.2215C69.2827 39.7842 67.2322 40.5648 64.7923 40.5633H58.8744V40.5655ZM58.8744 27.5836V37.1856H64.8813C65.5398 37.2049 66.1952 37.0883 66.8055 36.8434C67.4157 36.5985 67.9675 36.2307 68.4254 35.7634C68.8809 35.3265 69.243 34.804 69.4903 34.2266C69.7375 33.6493 69.8649 33.0289 69.8649 32.4022C69.8649 31.7754 69.7375 31.1551 69.4903 30.5777C69.243 30.0004 68.8809 29.4778 68.4254 29.0409C67.9732 28.5638 67.4234 28.187 66.8124 27.9353C66.2014 27.6837 65.5432 27.5631 64.8813 27.5814H58.8744V27.5836Z" fill="#5F6368"/>
		<path d="M81.7674 32.2676C84.4149 32.2676 86.5047 32.9655 88.0368 34.3612C89.569 35.757 90.3343 37.6707 90.3328 40.1023V51.7009H86.9066V49.0893H86.7509C85.2677 51.24 83.2951 52.3154 80.833 52.3154C78.7313 52.3154 76.973 51.7009 75.558 50.4719C74.8789 49.9078 74.3361 49.2014 73.9689 48.4041C73.6017 47.6068 73.4195 46.7388 73.4355 45.8632C73.4355 43.9159 74.1816 42.3672 75.6737 41.2172C77.1658 40.0672 79.1577 39.4908 81.6495 39.4879C83.7764 39.4879 85.528 39.8719 86.9044 40.64V39.8324C86.9085 39.2355 86.7778 38.6452 86.5219 38.1043C86.266 37.5634 85.8913 37.0854 85.4249 36.7051C84.4777 35.8621 83.2433 35.4021 81.9676 35.4168C79.9668 35.4168 78.3835 36.2493 77.2177 37.9143L74.0629 35.9545C75.7983 33.4966 78.3664 32.2676 81.7674 32.2676ZM77.1331 45.94C77.1307 46.3897 77.2373 46.8334 77.444 47.2343C77.6506 47.6351 77.9514 47.9814 78.3212 48.2444C79.1134 48.8591 80.0967 49.1847 81.1044 49.1661C82.6159 49.1636 84.0648 48.5701 85.1335 47.5158C86.32 46.4141 86.9133 45.1214 86.9133 43.6379C85.7965 42.76 84.2391 42.3211 82.2413 42.3211C80.7863 42.3211 79.573 42.6671 78.6015 43.3592C77.6204 44.0614 77.1331 44.9151 77.1331 45.94Z" fill="#5F6368"/>
		<path d="M110 32.8828L98.0395 59.9993H94.3419L98.7804 50.5113L90.9158 32.8828H94.8091L100.493 46.4027H100.571L106.1 32.8828H110Z" fill="#5F6368"/>
		<path d="M44.4 38.1641C44.4014 37.0873 44.3091 36.0124 44.1241 34.9512H29.0178V41.0369H37.67C37.493 42.0089 37.1182 42.9354 36.5684 43.7607C36.0186 44.586 35.305 45.2928 34.4708 45.8388V49.7891H39.6345C42.658 47.0392 44.4 42.9726 44.4 38.1641Z" fill="#4285F4"/>
		<path d="M29.0179 53.6073C33.3406 53.6073 36.9804 52.2072 39.6346 49.793L34.4708 45.8427C33.0336 46.8039 31.1826 47.3526 29.0179 47.3526C24.8397 47.3526 21.2934 44.5742 20.0253 40.8301H14.7058V44.9012C16.0391 47.5182 18.0834 49.7183 20.6107 51.2556C23.138 52.793 26.0487 53.6072 29.0179 53.6073Z" fill="#34A853"/>
		<path d="M20.0251 40.8299C19.3547 38.8681 19.3547 36.7436 20.0251 34.7818V30.7109H14.7057C13.5841 32.9124 13 35.3421 13 37.8059C13 40.2697 13.5841 42.6993 14.7057 44.9008L20.0251 40.8299Z" fill="#FBBC04"/>
		<path d="M29.0179 28.2562C31.3023 28.2194 33.5096 29.0709 35.1627 30.6266L39.7347 26.1163C36.8356 23.43 32.9949 21.9552 29.0179 22.001C26.0487 22.0012 23.138 22.8154 20.6107 24.3529C18.0834 25.8904 16.0391 28.0906 14.7058 30.7078L20.0253 34.7792C21.2934 31.0349 24.8397 28.2562 29.0179 28.2562Z" fill="#EA4335"/>
		</svg>

mixin docs
	<svg width="60" height="80" viewBox="0 0 60 80" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M60 21.9118V74.8464C60 77.6931 57.6089 80 54.6633 80H5.33672C2.38885 80 8.21894e-09 77.6931 8.21894e-09 74.8464V5.1536C-0.000161794 2.30688 2.38869 0 5.33672 0H37.3097L60 21.9118Z" fill="#518EF8"/>
		<path d="M45.3401 40.1641H14.6582V43.4564H45.3401V40.1641Z" fill="white"/>
		<path d="M45.3401 47.5176H14.6582V50.8099H45.3401V47.5176Z" fill="white"/>
		<path d="M45.3401 54.8701H14.6582V58.1625H45.3401V54.8701Z" fill="white"/>
		<path d="M36.4781 62.2236H14.6582V65.516H36.4781V62.2236Z" fill="white"/>
		<path d="M40.4053 21.4357L59.9999 29.2312V21.9118L48.8904 18.7441L40.4053 21.4357Z" fill="#3A5BBC"/>
		<path d="M59.9999 21.9118H42.6463C39.6983 21.9118 37.3096 19.6049 37.3096 16.7582V0L59.9999 21.9118Z" fill="#ACD1FC"/>
		</svg>

// ========== СТОИМОСТЬ ==========

section.price#price
	.container
		.header-group
			//.sale-icon.sale-icon--desk
				//span &#8722;20%
				//span.sale-text с 29 по 30 апреля
			.badge Старт 14 июня 2021
			h2.title-2 Стоимость обучения
			//.sale-icon.sale-icon--mob
				//span &#8722;20%
			//- 	span.sale-text с 6 по 8 марта
		//===== тариф Бесплатно
		.tariff-item.block-flex(itemscope itemtype="https://schema.org/ItemList")
			.price-card
				.text-group-30
					.head-box.mb-40
						h3(itemprop="name") Ознакомительный
						p.text-16 Начать обучение можно сразу
					p.text-20.text-bold Включает:
					.price-card-desk
						p.text-16 Полный первый модуль<br class="br-mobile">платного курса — 4 видеоурока продолжительностью<br> 2,5 часа, 2 практических задания, 2&nbsp;теста и дополнительные материалы;
						p.text-16 Доступ в личный кабинет не ограничен
					p.post-text.text-16 Без рабочей тетради, проверки домашних заданий и чата с куратором

				.footer-group.block-flex
					.price-value 0 &#8381;
					a(href='#' target="_blank").btn.btn-solid.popup-open13 Начать обучение
			.price-card__info
				.badge.badge-upper Не привязан к дате
				p #[span.text-red Прохождение бесплатного <br class="br-mobile"> модуля не&nbsp;обязывает вас <br class="br-mobile"> к покупке платной части курса] <br class="br-mobile"> Я&nbsp;хочу, чтобы перед покупкой, вы&nbsp;были уверены в том, что курс действительно вам подойдет
		//===== тариф Любитель
		.tariff-item.tariff-item--bg.block-flex.block-flex--center(itemscope itemtype="https://schema.org/ItemList")
			.price-card
				.text-group-30
					h3.mb-10(itemprop="name") Любитель
					p.text-20.text-bold Включает:
					.price-card-desk
						p.text-16 Полный курс из 7 модулей — <br class="br-mobile">25 видеоуроков продолжительностью 16,5 часов, 12&nbsp;практических заданий, 10 тестов и дополнительные материалы;
						p.text-16 Доступ в личный кабинет<br class="br-mobile"> на 3 месяца;
					p.post-text.text-16 С рабочей тетрадью, без проверки домашних заданий. Вы можете задавать вопросы, на которые получите квалифицированные ответы от кураторов курса

				.footer-group.block-flex
					.price-value.price-value--mob.text-green 5 500 &#8381;
						//span.old-price 4500 &#8381;
					a(href='#' target="_blank").btn.btn-solid.popup-open10  Перейти к оплате

					//a(href="https://investorway.getcourse.ru/page3" target="_blank").btn.btn-solid Перейти к оплате

				.subfooter-group
					//.badge.badge-round -20%
				//	.subfooter-text.block-flex
				//		p до 5 марта
				//		p 4500 &#8381; с 5 марта
				//		p 5000 &#8381; с 10 марта

			.price-card__info
				.badge.badge-upper c 14 июня
				p #[span.text-red Для тех, у кого все хорошо<br class="br-mobile">  с&nbsp;самоорганизацией.] <br class="br-mobile">  Кто хочет повысить<br class="br-mobile">  уровень финансовой грамотности&nbsp;и&nbsp;готов самостоятельно искать информацию и&nbsp;набивать «шишки»&nbsp;на&nbsp;практике
				.text-part
					p.text-bold Прохождение курса займет 
					p 1 месяц (около 30 часов)
				.payment-block
					p.text-16 Курс можно оплатить картой <br>или через сервисы
					.pay-logo 
						span
							+apple
						span
							+google
		//===== тариф Эксперт
		h3.title-3.text-red.tariff-item--title ТОП выбор среди&nbsp;учеников
		.tariff-item.tariff-item--bg.block-flex(itemscope itemtype="https://schema.org/ItemList")
			.price-card
				.text-group-30
					h3(itemprop="name") Эксперт
					p.text-20.text-bold Включает:
					.price-card-desk
						p.text-16 Полный курс из 9 модулей (+2&nbsp;бонусных) — 33 видеоурока продолжительностью<br class="br-mobile"> 20 часов, 12 практических заданий, 11 тестов и&nbsp;дополнительные материалы;
						p.text-16 Доступ в личный кабинет на&nbsp;3&nbsp;месяца и неограниченный доступ к видеоурокам (можно скачать по ссылке);
						p.text-16 Рабочую тетрадь для выполнения практических заданий;
						p.text-16 Проверку домашних заданий и&nbsp;возможность общаться с&nbsp;куратором в чате;
					.price-card-benefits
						p.text-16.text-bold Доступ в закрытый клуб «Эффективные инвестиции»:
						p.text-16.text-offset Канал с оперативными торговыми идеями от лучших инвестиционных домов;
						p.text-16.text-offset Чат со свободным общением всех участников курса по&nbsp;теме&nbsp;инвестиций и&nbsp;обсуждением своих торговых идей

					.price-card-manual
						.info-block
							p #[span.text-bold Печатное учебное пособие,<br>] которое отправим бесплатно «Почтой России»
						.tutorial-block
							.img-block
								img(src="img/manual.png", alt="tutorial" width="76")
							a(href="https://askkutsenko.info/#training_manual").btn Узнать больше

				.footer-group.footer-group--proff.block-flex
					.price-value.price-value--mob.text-green 11 500 &#8381;
						//span.old-price 9800 &#8381;
					a(href='#' target="_blank").btn.btn-solid.popup-open11 Перейти к оплате
					//a(href="https://investorway.getcourse.ru/page5" target="_blank").btn.btn-solid Перейти к оплате
				.subfooter-group
					//.badge.badge-round -20%
				//- 	.subfooter-text.block-flex
				//- 		p до 5 марта
				//- 		p 8820 &#8381; с 5 марта
				//- 		p 9800 &#8381; с 10 марта
			.price-card__info.flex-column
				.block-col
					.badge.badge-upper c 14 июня
					p #[span.text-red Для тех, кому важна групповая<br class="br-mobile">  активность и обратная связь <br class="br-mobile"> от автора курса.] Кто хочет заложить прочный фундамент своей финансовой свободы и&nbsp;знать все нюансы, позволяющие на старте избежать ошибок новичков
					.text-part
						p.text-bold Прохождение курса займет 
						p 1,1 месяца (около 40 часов)
				.block-col
					.block-col__svg
						+docs
					.text-part.mt-20
						p.text-bold Рабочая тетрадь 
						p Гугл-документ с таблицами, графиками и&nbsp;полями. Нужна для&nbsp;выполнения практических заданий


		//===== тариф Профессионал
		.tariff-item.block-flex(itemscope itemtype="https://schema.org/ItemList")
			.price-card.price-card--black
				.text-group-30
					h3(itemprop="name") Профессионал (ваш личный куратор — Никита Куценко)
					p.text-20.text-bold Включает:
					.price-card-desk
						p.text-16 Полный курс из 10 модулей (+3&nbsp;бонусных) — 35 видеоуроков продолжительностью<br class="br-mobile"> 20 часов, 12 практических заданий, 11 тестов и&nbsp;дополнительные материалы;
						p.text-16 Доступ в личный кабинет на&nbsp;3&nbsp;месяца и неограниченный доступ к&nbsp;видеоурокам (можно скачать по ссылке);
						p.text-16 Рабочую тетрадь для выполнения практических заданий;
						p.text-16 Проверку домашних заданий и возможность общаться с&nbsp;куратором в чате;
					.price-card-benefits
						p.text-16.text-bold Доступ в закрытый клуб «Эффективные инвестиции»:
						p.text-16.text-offset Канал с оперативными торговыми идеями от лучших инвестиционных домов;
						p.text-16.text-offset Чат со свободным общением всех участников курса по&nbsp;теме&nbsp;инвестиций и обсуждением своих торговых&nbsp;идей

					.price-card-manual
						.info-block
							p #[span.text-bold Печатное учебное пособие,<br>] которое отправим бесплатно «Почтой России»
						.tutorial-block
							.img-block
								img(src="img/manual.png", alt="tutorial" width="76")
							a(href="https://askkutsenko.info#training_manual").btn Узнать больше

					p.text-16.text-bold.mt-20 2 часа личных консультаций, в том числе консультирую по составлению инвестиционного портфеля;
					p.text-16.text-bold.mt-20 Дополнительный модуль «Агрессивный прирост капитала»

				.footer-group.footer-group--proff.block-flex
					.price-value.price-value--mob.text-green 26 500 &#8381;
						//span.old-price 22800 &#8381;
					a(href='#' target="_blank").btn.btn-solid.popup-open12 Перейти к оплате
					//a(href="https://investorway.getcourse.ru/page4" target="_blank").btn.btn-solid Перейти к оплате
				.subfooter-group
					//.badge.badge-round -20%
				//- 	.subfooter-text.block-flex
				//- 		p до 5 марта
				//- 		p 20900 &#8381; с 5 марта
				//- 		p 22800 &#8381; с 10 марта

			.price-card__info.flex-column
				.block-col
					.badge.badge-upper c 14 июня
					p #[span.text-red Для тех, кому важен персональный подход автора курса и личная передача опыта.] На нем Никита Куценко лично является вашим куратором на курсе! Также имеется дополнительный 10 МОДУЛЬ! Как правило, этот тариф "отбивается" за 2-3 месяца с небольшим депозитом.
					.text-part
						p.text-bold Прохождение курса займет 
						p 1,2 месяца (около 40 часов)
				.block-col
					.block-col__img
						img(src="img/ava.png" width="120" alt="avatar")
					.text-part.mt-20
						p.text-bold Личная консультация
						p Помогаю сформировать оптимальный инвестиционный портфель под ваши требования. Проводится удаленно

// ========== КОНЕЦ СТОИМОСТЬ ==========