//===СВАЙП-КАРТОЧКИ МОДУЛЯ

.block
.block-card-wrapper.block-card__swipe
    .block-card
        .card.border-card
            .text-16 Акция
            p Ценная бумага, предоставляющая право на участие в управление компанией и право на получение части прибыли в форме дивидендов
        .card.green-card
            .text-16 ETF (Exchange Traded Funds)
            p Инвестиционный фонд, торгуемый на бирже. Самый популярный тип вложения пассивных инвесторов. Во всех ETF в мире насчитывается около $7 трлн денег частных инвесторов.
            p Мы учимся отбирать такие фонды на практике
        .card.bg-card
            .text-16 Инвестиционный портфель
            p Набор различных ценных бумаг (Акций, Облигаций, Фондов, др.) у инвестора, который составлен таким образом, чтобы решить конкретную финансовую цель человека Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in deserunt delectus officiis error, itaque qui suscipit cupiditate facere incidunt, ipsum non accusantium deleniti corrupti assumenda aliquid magnam. Provident, sunt?
        .card.bg-card
            .text-16 Инвестиционный портфель
            p Набор различных ценных бумаг (Акций, Облигаций, Фондов, др.) у инвестора, который составлен таким образом, чтобы решить конкретную финансовую цель человека Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat saepe autem voluptatem suscipit molestiae accusantium. Fugit qui quas quo voluptatum debitis corporis quisquam facere id molestiae cumque, laboriosam nulla sunt
        .clear_float    


