// ========== МОДУЛЬ ПРОГРАММЫ КУРСА POPUP ==========
//- mixin down
//- 	<svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
//- 		<path opacity="0.5" d="M17.5706 2.25856L8.99963 10L0.429251 2.25909C-0.143084 1.74155 -0.143084 0.903847 0.429251 0.387892C1.00159 -0.129121 1.92834 -0.128592 2.50067 0.387892L9.00022 6.25814L15.5009 0.387363C16.0733 -0.129121 17 -0.129121 17.5718 0.387363C18.1429 0.904376 18.1429 1.74155 17.5706 2.25856Z" fill="white"/>
//- 	</svg>
//- // ========== ПРОГРАММА ==========
//- //- .container
//- .fixed-toggle-menu
//- 	form
//- 		.toggle-menu__select
//- 			.toggle-menu__select__icon
//- 				+down
//- 			input(type="text" name="modul" autocomplete="off" value="Мод. 1")
//- 			ul.form-select__options
//- 				li Мод. 1
//- 				li Мод. 2    
//- 				li Мод. 3
//- 				li Мод. 4
//- 				li Мод. 5
//- 				li Мод. 6
//- 				li Мод. 7
//- 				li Мод. 8
//- 				li Мод. 9
		




// ========== МОДУЛЬ ПРОГРАММЫ КУРСА СВАЙПОМ ==========
header.programms-header
	.container
		h1.page-title Программа курса
	.toggle-menu-wrapper.toggle-menu__programms
		.toggle-menu
			a(href="#").toggle-menu__btn Модуль 1
			a(href="#").toggle-menu__btn 2
			a(href="#").toggle-menu__btn 3
			a(href="#").toggle-menu__btn 4
			a(href="#").toggle-menu__btn 5
			a(href="#").toggle-menu__btn 6
			a(href="#").toggle-menu__btn 7
			a(href="#").toggle-menu__btn 8
			a(href="#").toggle-menu__btn 9

	