// ========== ПРОГРАММА ==========
.fixed-toggle-menu
    




header.programms-header
    .container
        h1.page-title Программа курса
    .toggle-menu-wrapper.toggle-menu__programms
        .toggle-menu
            button.toggle-menu__btn Модуль 1
            button.toggle-menu__btn 2
            button.toggle-menu__btn 3
            button.toggle-menu__btn 4
            button.toggle-menu__btn 5
            button.toggle-menu__btn 6
            button.toggle-menu__btn 7
            button.toggle-menu__btn 8
            button.toggle-menu__btn 9

    