// ========== ПРОГРАММЫ КУРСА ==========
section.programms
	.container
		h2.title-2 в программе курса
		.programms-list
			.programms-list__item
				.number.number--red
					span 9
				.programm-text.text-50
					p учебных модулей,<br> первый из которых бесплатный
			include _modul-1.pug			
			.programms-list__item
				.pr-icon.pr-icon--play
					.icon-play
						img(src="img/play.png" srcset='img/play@2x.png 2x' alt="icon")
				.number
					span 30
				.programm-text.text-50
					p видеоуроков, средней<br class="br-desktop"> продол&shy;жительностью в&nbsp;40&nbsp;минут
			
			.programms-list__item
				.number.number--border
					span.offset-left 15
				.programm-text.text-50
					span практических занятий,<br class="br-desktop">которые выполняются в&nbsp;рабочей тетради 
					span.google-doc в Гугл-документе
			
			.programms-list__item
				.number
					span.offset-left 17
				.programm-text.text-50.programm-text--offset
					p мини-презентаций для наглядного пояснения уроков и заданий
					.img-slides
						a(href="img/gallery1.jpg" data-fancybox="gallery")
							img(src="img/miniature1.jpg" alt="img")
						a(href="img/gallery2.jpg" data-fancybox="gallery")
							img(src="img/miniature2.jpg" alt="img")
						a(href="img/gallery3.jpg" data-fancybox="gallery")
							img(src="img/miniature3.jpg" alt="img")
						a(href="img/gallery4.jpg" data-fancybox="gallery")
							img(src="img/miniature4.jpg" alt="img")
						a(href="img/gallery5.jpg" data-fancybox="gallery")
							img(src="img/miniature5.jpg" alt="img")
						
			.programms-list__item
				.pr-icon.pr-icon--book
					.icon-book
						img(src="img/book.png", alt="icon")
				.number
					span 54
				.programm-text.text-50
					p дополнительных материала<br> и полезных ссылок

			.programms-list__item
				.number.number--dashed
					span.offset-left 16
				.programm-text.text-50
					p проверенных временем книг об&nbsp;инвестициях и&nbsp;фондовом рынке
					p.text-20.mt-mob После окончания курса делюсь списком действительно полезных книг,<br class="br-desktop "> которые помогут закрепить&nbsp;полученные&nbsp;навыки

		.programms-footer
			.programms-footer__col
				a(href="https://docs.google.com/document/d/1TEaNvsf_IALScPpXX8-K4JVcJ8mzjrUa5JNdKPGrokI/edit" target="_blank").btn  
					span.btn-text-desktop Посмотреть полную программу курса
					span.btn-text-mobile Программа курса
				p Программа еще «шлифуется» и будет закончена в ближайшее время. <br class="br-desktop"> Возможны изменения. Откроется в Гугл-документе 
			.programms-footer__blank
				.add-wrapper
					img(src="img/blank.png" alt="blank")
			

// ========== КОНЕЦ ПРОГРАММЫ КУРСА ==========
				