// ========== ПРОГРАММА ==========
//- .container
.fixed-toggle-menu
	form
		.toggle-menu__select
			.toggle-menu__select__icon
				i.fas.fa-arrow-down
			input(type="text" name="modul" autocomplete="off" value="Мод.1")
			ul.form-select__options
				li Мод. 1
				li Мод. 2    
				li Мод. 3
				li Мод. 4
				li Мод. 5
				li Мод. 6
				li Мод. 7
				li Мод. 8
				li Мод. 9
		




header.programms-header
	.container
		h1.page-title Программа курса
	.toggle-menu-wrapper.toggle-menu__programms
		.toggle-menu
			a(href="#").toggle-menu__btn Модуль 1
			a(href="#").toggle-menu__btn 2
			a(href="#").toggle-menu__btn 3
			a(href="#").toggle-menu__btn 4
			a(href="#").toggle-menu__btn 5
			a(href="#").toggle-menu__btn 6
			a(href="#").toggle-menu__btn 7
			a(href="#").toggle-menu__btn 8
			a(href="#").toggle-menu__btn 9

	