mixin docs
	<svg width="36" height="48" viewBox="0 0 36 48" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M35.3823 13.147V44.9077C35.3823 46.6158 33.9969 47.9999 32.2902 47.9999H3.70983C2.0018 47.9999 0.617676 46.6158 0.617676 44.9077V3.09216C0.617582 1.38413 2.00171 0 3.70983 0H22.2353L35.3823 13.147Z" fill="#518EF8"/>
		<path d="M26.888 24.0989H9.1106V26.0743H26.888V24.0989Z" fill="white"/>
		<path d="M26.888 28.5107H9.1106V30.4861H26.888V28.5107Z" fill="white"/>
		<path d="M26.888 32.9224H9.1106V34.8978H26.888V32.9224Z" fill="white"/>
		<path d="M21.7533 37.334H9.1106V39.3094H21.7533V37.334Z" fill="white"/>
		<path d="M24.0291 12.8615L35.3824 17.5388V13.1472L28.9454 11.2466L24.0291 12.8615Z" fill="#3A5BBC"/>
		<path d="M35.3824 13.147H25.3275C23.6194 13.147 22.2354 11.7629 22.2354 10.0549V0L35.3824 13.147Z" fill="#ACD1FC"/>
		</svg>

mixin gift
	<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M17.1805 3.99963H16.791C16.9107 3.67955 16.9749 3.34135 16.9808 2.99963C16.9598 2.18622 16.6182 1.41415 16.0306 0.852056C15.443 0.28996 14.6571 -0.0164926 13.8446 -0.000371237C13.0461 0.0168942 12.2669 0.248783 11.5886 0.671014C10.9104 1.09325 10.358 1.69029 9.98926 2.39963C9.62055 1.69029 9.06814 1.09325 8.38988 0.671014C7.71161 0.248783 6.93244 0.0168942 6.13395 -0.000371237C5.32141 -0.0164926 4.53552 0.28996 3.9479 0.852056C3.36029 1.41415 3.01871 2.18622 2.99776 2.99963C3.00366 3.34135 3.06784 3.67955 3.18753 3.99963H2.798C2.53518 4.02462 2.27991 4.10152 2.04695 4.22588C1.814 4.35025 1.60797 4.51962 1.44079 4.7242C1.27362 4.92878 1.1486 5.1645 1.07297 5.41775C0.997345 5.671 0.972607 5.93675 1.00019 6.19963V9.79963C0.953531 10.2839 1.07788 10.7692 1.3516 11.1711C1.62532 11.5731 2.0311 11.8662 2.49837 11.9996V16.3696C2.5292 16.8232 2.73513 17.247 3.07255 17.5512C3.40997 17.8554 3.8524 18.0163 4.30617 17.9996H15.6723C16.1327 18.0159 16.5808 17.8496 16.9193 17.5369C17.2578 17.2242 17.4594 16.7903 17.4801 16.3296V11.9996C17.9474 11.8662 18.3532 11.5731 18.6269 11.1711C18.9006 10.7692 19.025 10.2839 18.9783 9.79963V6.19963C19.0059 5.93675 18.9812 5.671 18.9055 5.41775C18.8299 5.1645 18.7049 4.92878 18.5377 4.7242C18.3705 4.51962 18.1645 4.35025 17.9316 4.22588C17.6986 4.10152 17.4433 4.02462 17.1805 3.99963ZM16.9808 6.19963V9.79963C16.9927 9.86576 16.9927 9.9335 16.9808 9.99963H10.988V5.99963H16.9808C16.9927 6.06576 16.9927 6.1335 16.9808 6.19963ZM13.8446 1.99963C14.1275 1.98312 14.4056 2.07877 14.6187 2.2659C14.8317 2.45303 14.9627 2.7166 14.9832 2.99963C14.9627 3.28266 14.8317 3.54623 14.6187 3.73336C14.4056 3.92049 14.1275 4.01614 13.8446 3.99963H11.3876C11.5623 3.4654 11.8869 2.99278 12.3225 2.63816C12.7582 2.28354 13.2866 2.06188 13.8446 1.99963ZM4.99533 2.99963C5.01585 2.7166 5.14679 2.45303 5.35986 2.2659C5.57293 2.07877 5.851 1.98312 6.13395 1.99963C6.69018 2.06369 7.21639 2.28617 7.65013 2.64068C8.08386 2.99518 8.40692 3.46682 8.58097 3.99963H6.13395C5.851 4.01614 5.57293 3.92049 5.35986 3.73336C5.14679 3.54623 5.01585 3.28266 4.99533 2.99963ZM2.99776 6.19963C2.98577 6.1335 2.98577 6.06576 2.99776 5.99963H8.99047V9.99963H2.99776C2.98577 9.9335 2.98577 9.86576 2.99776 9.79963V6.19963ZM4.49594 11.9996H8.99047V15.9996H4.49594V11.9996ZM10.988 15.9996V11.9996H15.4826V15.9996H10.988Z" fill="white"/>
	</svg>

// ========== ПРОГРАММЫ КУРСА ==========
section.programms
	.container
		h2.title-2 в программе курса
		.programms-list
			.programms-list__item
				.number.number--red 10
				.programm-text.text-50
					p учебных модулей,<br> первый из которых бесплатный
			include _modul-1.pug			
			.programms-list__item
				.pr-icon.pr-icon--play
					.icon-play
						img(src="img/play.png" srcset='img/play@2x.png 2x' alt="icon")
				.number
					span 35
				.programm-text.text-50
					p видеоуроков, средней<br class="br-desktop"> продол&shy;жительностью в&nbsp;40&nbsp;минут

			.programms-list__item
				.number.number--border
					span.offset-left 13
				.programm-text.text-50
					span практических занятий, <br class="br-desktop">которые выполняются в&nbsp;рабочей&nbsp;тетради
					span.relative-span в&nbsp;Гугл-документе
						span.google-doc 
							+docs

			.training_manual
				.col-left
					.header-group
						.text-30 Авторское учебное пособие студента курса
						p.text-16 Держите материалы курса всегда под рукой и занимайтесь в любом месте
					.text-group
						.title-5 Содержит:
							ul
								li Конспект курса;
								li Схемы, таблицы и дополнительные материалы;
								li Справочник из более чем 50 компаний России и США;
								li QR-коды с важными сайтами для инвестора;
								li Ключевые мысли, определения и структура работы инвестиционных инструментов
				.col-center
					.tutorial-img
						img(src="img/tutorial.png", alt="tutorial" width="520")
				.col-right
					.text-group
						p Поможет освоить всю необходимую базу для эффективной работы на фондовом рынке, построения инвестиционного портфеля и достижения финансовых целей
					.footer-group
						.text-20 Для тарифов «Эксперт» и «Профессионал»
						p.text-16 Учебные пособия высылаем бесплатно «Почтой России» в любую точку мира
						.text-group
							p.text-16 Фирменные блокнот и карандаш
							.icon-gift
								+gift

			.programms-list__item
				.number 17
				.programm-text.text-50.programm-text--offset
					p мини-презентаций для наглядного пояснения уроков и заданий
					.img-slides
						a(href="img/gallery1.jpg" data-fancybox="gallery")
							img(src="img/miniature1.jpg" alt="img")
						a(href="img/gallery2.jpg" data-fancybox="gallery")
							img(src="img/miniature2.jpg" alt="img")
						a(href="img/gallery3.jpg" data-fancybox="gallery")
							img(src="img/miniature3.jpg" alt="img")
						a(href="img/gallery4.jpg" data-fancybox="gallery")
							img(src="img/miniature4.jpg" alt="img")
						a(href="img/gallery5.jpg" data-fancybox="gallery")
							img(src="img/miniature5.jpg" alt="img")

			.programms-list__item
				.pr-icon.pr-icon--book
					.icon-book
						img(src="img/book.png" srcset='img/book@2x.png 2x' alt="icon")
				.number
					span 54
				.programm-text.text-50
					p дополнительных материала<br> и полезных ссылок

			.programms-list__item
				.number.number--solid 16
				.programm-text.text-50
					p проверенных временем книг об&nbsp;инвестициях и&nbsp;фондовом рынке
					p.text-20.mt-mob После окончания курса делюсь списком действительно полезных книг,<br class="br-desktop "> которые помогут закрепить&nbsp;полученные&nbsp;навыки

		.programms-footer
			a.btn.btn-solid.btn-desc(href="programms.html") Посмотреть полную программу курса
			a.btn.btn-solid.btn-mob(href="programms.html") Полная программа курса

			//- a(href="https://docs.google.com/document/d/1TEaNvsf_IALScPpXX8-K4JVcJ8mzjrUa5JNdKPGrokI/edit" target="_blank").btn  
			//- 	span.btn-text-desktop Посмотреть полную программу курса
			//- 	span.btn-text-mobile Программа курса
			p Девять учебных модулей. Тридцать видеоуроков общей продолительностью около 20 часов.<br class="br-desktop"> И 15 практических занятий, которые выполняются в рабочей тетради в Гугл-документе 
			//- .programms-footer__blank
			//- 	.add-wrapper
			//- 		img(src="img/blank.png" srcset='img/blank@2x.png 2x' alt="blank")


// ========== КОНЕЦ ПРОГРАММЫ КУРСА ==========
