mixin check
	svg(width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M12.8168 24.742C12.543 25.0634 12.0696 25.0879 11.7646 24.7965L0.237683 13.7779C-0.067244 13.4865 -0.0805017 12.9961 0.207896 12.6881L3.88045 8.76875C4.16902 8.46079 4.65456 8.4474 4.95948 8.73867L11.2562 14.7573C11.5611 15.0487 12.0346 15.0242 12.3084 14.7028L24.6099 0.26713C24.8837 -0.0542246 25.3682 -0.0909157 25.6862 0.185748L29.7355 3.70569C30.0537 3.98218 30.09 4.47151 29.8161 4.79287L12.8168 24.742Z" fill="#50B16D")
mixin docs
	<svg width="120" height="158" viewBox="0 0 120 158" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M120 45.4669V155.306C120 161.213 115.218 166 109.327 166H10.6734C4.7777 166 1.64379e-08 161.213 1.64379e-08 155.306V10.6937C-0.000323588 4.78678 4.77737 0 10.6734 0H74.6193L120 45.4669Z" fill="#518EF8"/>
		<path d="M90.6793 83.3422H29.3154V90.1738H90.6793V83.3422Z" fill="white"/>
		<path d="M90.6793 98.5999H29.3154V105.431H90.6793V98.5999Z" fill="white"/>
		<path d="M90.6793 113.857H29.3154V120.688H90.6793V113.857Z" fill="white"/>
		<path d="M72.9551 129.114H29.3154V135.945H72.9551V129.114Z" fill="white"/>
		<path d="M80.811 44.4795L120 60.6552V45.4674L97.7812 38.8945L80.811 44.4795Z" fill="#3A5BBC"/>
		<path d="M120 45.4669H85.2931C79.397 45.4669 74.6196 40.6801 74.6196 34.7732V0L120 45.4669Z" fill="#ACD1FC"/>
		</svg>

section.programms-module
	.label-free.label-free-mob
		img(src="img/free.png"  srcset="img/free@2x.png 2x", alt="label" width="260")
	.container
		.module-content
			.label-free
				img(src="img/free.png"  srcset="img/free@2x.png 2x", alt="label" width="539")
			h2.title-2.pb-20.bottom-line Модуль 1
			.subtitle-block.mb-60
				h3.title-3 Инвестиции как&nbsp;способ&nbsp;достижения<br>финансовых целей
				p.text-16 В рамках марафона  «Путь Инвестора»
			//-Модуль-1  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Почему важно начать свой путь инвестора<br> как можно раньше?
							p.text-20 Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в 2 раза быстрее. Выясним структуру работы фондового рынка.
					.col-4
						.text-box.text-box-pt
							p.text-16.text-bold.mb-10  Сложный процент 
							p.text-16 Прибыль, которая суммируется с основной суммой вклада и в дальнейшем уже сама производит новую прибыль. Та самая магия, которая делает людей богатыми
				.grid-row.mb-60
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__left
								h5.mb-16 Персональная рабочая тетрадь
								p.text-16.mb-16 На протяжении курса работаете и&nbsp;выполняете домашние задания в&nbsp;своей персональной рабочей тетради — специальный Гугл документ с&nbsp;таблицами. графиками и&nbsp;полями для заполнения.
								p.text-16.txt-opacity Чтобы ничего не забыть и&nbsp;иметь&nbsp;нужный материал под&nbsp;рукой
							.text-bg__right.mt-auto
								.decor-img.decor-docs
									+docs
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа
							.text-box_desk
								p Пройти тест; 
								p.check-icon Открыть брокерский счет и завести 1000&nbsp;&#8381;
									span 
										+check
			//-Модуль-1  Урок_2
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2. Виды финансовых инструментов на фондовом рынке
							p.text-20  Подробно изучим Акции, Облигации и Фонды как основные инструменты инвестора на фондовом рынке.
				
				.text-box-20
					p.text-20.text-bold.mb-10 Домашняя работа - #[span.text-20 Пройти тест; ]
			//-Модуль-1  Урок_3
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 3. Стратегии инвестирования в акции
							p.text-20 Разберем ТОП-5 пассивных стратегий инвестирования в фондовый рынок, а именно:
							ul
								li Покупку дивидендных акций; 
								li Покупку акций под дивиденды и их дальнейшая продажа; 
								li Равномерное усредненное инвестирование; 
								li Следование индексам через ETF фонды; 
								li Поиск недооцененных акций.
					.col-4
						.text-box.text-box-transform-top
							.decor-text 200%
							p.text-16.mb-16.text-bold больше доходности дают пассивные стратегии инвестирования по сравнению с активными хедж-фондами 
				.text-box-20
					p.text-20.text-bold.mb-10 Домашняя работа - #[span.text-20 Пройти тест; ]
			//-Модуль-1  Урок_4
			.lesson-wrapper.mb-120
				.grid-row.mb-40
					.col-8
						.lesson-desk
							h5.mb-10 Урок 4. Разбор торгового терминала брокера. Практическое занятие 
							p.text-20 На практике разберем как устроено приложение брокера и вместе купим Акцию, Облигацию и ETF.
				.text-box-20
					p.text-20.text-bold Домашняя работа - #[span.text-20  купить свою первую Акцию (Облигацию, Фонд)  ]
			.lesson-wrapper
				.grid-row.mb-40
					.col-8.col-md
						.tooltip
							p.text-20.text-bold.mb-10  После прохождения первого модуля вы сможете:
							ul
								li.text-16 Отличать основные финансовые инструменты: Акции, Облигации и Фонды;
								li.text-16 Разбираться в принципах работы фондового рынка и его субъектов;
								li.text-16 Работать по ТОП-5 стратегиям на фондовом рынке, которые дают доходность на 200% больше, чем активные хедж-фонды; 
								li.text-16 Самостоятельно без труда осуществлять покупку ценных бумаг в приложении брокера 
						a(href="#!").btn.btn-solid.mt-80.mb24.show-desktop Попробовать бесплатный модуль
						a(href="#!").btn.btn-solid.mt-80.mb24.show-mobile Попробовать бесплатно
						p.text-16.txt-opacity Прохождение бесплатного модуля не обязывает вас к покупке платной части курса. Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет 
//===МОДУЛЬ #2
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 2
			.subtitle-block.mb-60
				h3.title-3 Строим инвестиционный портфель
				
			//-Модуль-2  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10  Урок 1. Определяем цели финансового планирования 
							p.text-20 Учимся ставить понятные и прогнозируемые финансовые цели, а также соотносить их с инвестиционным планом
					.col-4
						.text-box.text-box-transform-bottom
							p.text-70.text-bold.text-green.mb-20  $800—1300
							p.text-16.text-bold пассивного дохода в месяц может получить обычный человек за 7—10 лет инвестирования
				
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.text-16 Определить свои финансовые цели; 
									li.check-icon.text-16 Построить финансовый план с конкретными суммами и сроками:<br> на год и на 10 лет
										span.ic-inner 
											+check
			//-Модуль-2  Урок_2
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2. Как снизить свои расходы и высвободить капитал для инвестиций?
							p.text-20  Рассмотрим ТОП-10 способов поиска у себя дополнительных денег для инвестирования. Только рабочие советы. Не нужно будет голодать, сдавать макулатуру, или ходить пешком, если у вас есть автомобиль
				
				
			//-Модуль-2  Урок_3
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 3. Учимся правильно оценивать доходность и риск ваших инвестиций
							p.text-20 Сможете прогнозировать доходность своего портфеля и находить способы снижения риска для капитала
							
					
				.text-box-20
					p.text-20.text-bold.mb-10 Домашняя работа - #[span.text-20 Пройти тест; ]
			//-Модуль-2  Урок_4
			.lesson-wrapper.mb-120
				.grid-row.mb-40
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 4. Диверсификация как способ уменьшения риска инвестирования
							p.text-20 Узнаете как правильно диверсифицировать портфель и сколько ценных бумаг в него нужно включать 
				
						.text-frame.mb-60
							.text-frame__content
								p.text-16.text-bold.mb-16 Диверсификация
								p.text-16.mb-14 Инвестирование средств в разные активы с целью снижения рисков. При этом в идеале снижение риска должно минимально влиять на доходность портфеля.
								p.text-16.text-green На курсе вы узнаете конкретные методики диверсификации
							.text-frame__img
								img(src="img/page-programms/1.png", width="280" alt="img")
				.text-box-20
					p.text-20.text-bold  Домашняя работа - #[span.text-20 Пройти тест; ]
			//-Модуль-2  Урок_5
			.lesson-wrapper.mb-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 5. Изучаем налоговые льготы, ИИС, инвестиции гос. служащим и нерезидентам
							p.text-20 Ищем способы как снизить налоговую нагрузку на инвестиционный портфель и использовать льготы от государства
				.grid-row.mb-60.grid-row--center.grid-row--lg
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 иис
								p.text-16 Индивидуальный инвестиционный счет для физических лиц, который позволяет получить налоговые льготы двух видов (поддержка государством начинающих в инвестициях)
					.col-4
						.text-box.mob-mt-50
							p.text-bold.text-16  Также расскажу о том,<br> как снизить налоги c дивидендов<br> по американским акциям
							p.text-16.text-green.text-bold с 30% до 13%
				.grid-row.mb-140
					.col-8
						.text-box-20
							p.text-20.text-bold  Домашняя работа - #[span.text-20 Пройти тест; ]
				.grid-row
					.col-8.col-md
						.text-frame.mb-60
							.text-frame__content
								p.text-20.text-bold.mb-16 После прохождения второго модуля вы сможете: 
								ul.text-16.block-list
									li Ставить измеримые и достижимые финансовые цели;
									li Понимать причины возникновения риска на финансовом рынк; 
									li Прогнозировать доходность своего портфеля и находить способы снижения риска для капитала;
									li Оценивать факторы, влияющие на изменение инвестиционной стратегии;
									li Понимать как правильно диверсифицировать портфель и сколько ценных бумаг в него нужно включать;
									li Находить способы снижения налоговой нагрузку на инвестиционный портфель и использовать льготы от государства
//===МОДУЛЬ #3
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 3
				span.text-red практический
			.subtitle-block.mb-60
				h3.title-3 Механизм принятия инвестиционных решений
			//-Модуль-3  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Учимся понимать экономические циклы рынка. Разбираемся, какие компании покупать на «дне» и продавать на «пике»
							p.text-20 Научитесь «читать» рынок. Станете понимать, что стоит включить в портфель в соответствии с условиями рынка, а что — нет
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.check-icon.text-20 Найти текущую фазу экономического цикла;
										span.ic-inner 
											+check
									li.text-20 Пройти тест
			//-Модуль-3  Урок_2
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2. Финансовая отчетность компаний. Учимся читать правильно
							p.text-20 Узнаете три способа поиска финансовую отчетность компаний, поймете ее разновидности и определите, какую пользу она может принести при отборе акций
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.check-icon.text-20 Найти финансовый отчет двух компаний на выбор и выписать по ним восемь основных показателей
										span.ic-inner 
											+check
			//-Модуль-3  Урок_3
			.lesson-wrapper.mb-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 3. Что такое фундаментальный анализ компаний? Работа с мультипликаторами
							p.text-20 Разберетесь как читать финансовые отчеты компаний и находить среди них недооцененные с большим потенциалом роста 
				.grid-row.mb-60.grid-row--center.grid-row--lg
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 Мультипликаторы
								p.text-16 Финансовые показатели компании, которые позволяют оценить ее бизнес и сравнить ее с конкурентами. На курсе вы научитесь шаг за шагом самостоятельно анализировать компании и отбирать лучшие из них
					.col-4
						.text-box.mob-mt-50
							p.text-bold.text-16  Также расскажу о том,<br> как снизить налоги c дивидендов<br> по американским акциям
							p.text-16.text-green.text-bold с 30% до 13%
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.check-icon.text-20 Провести фундаментальный анализ 3 нефтяных компаний;
										span.ic-inner 
											+check
									li.text-20 Пройти тест
			//-Модуль-3  Урок_4
			.lesson-wrapper.mb-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10  Что такое технический анализ компаний?
							p.text-20 Узнаете почему знание технического анализа — это ваше секретное оружие на рынке акций. Разберем построение графиков и японские свечи
				.grid-row.mb-60.grid-row--center.grid-row--lg
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 Технический анализ
								p.text-16 Перечень приемов прогнозирования изменения цен на основе закономерностей изменений их в прошлом. И вы сможете во всем этом разобраться, чтобы получать максимальную прибыль с рынка
					
				.grid-row.mb-60.grid-row--reverse
					.col-4
						.logo-wrapper.logo-aero
							img(src="img/page-programms/aero.png", width="390" alt="logo")
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.check-icon.text-20 Найти уровни поддержки цен, флэт и восходящий тренд с 2000 года в&nbsp;компании&nbsp;«Аэрофлот»
										span.ic-inner 
											+check
									li.text-20 Пройти тест
			//-Модуль-3  Урок_5
			.lesson-wrapper.mb-140
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10  Урок 5. Обзор инструментов технического анализа. Работа с графиками
							p.text-20  Научитесь строить линии поддержки, сопротивлений, выявлять ценовые тренды и правильно читать осцилляторы и индикаторы для покупки компаний на «дне»
				.lesson-part
					.lesson-part-wrapper
						.col-8
							.lesson-part-title.text-20.mb-20
								p
								| #[span.text-bold Часть 1.] Графический анализ: линии поддержки и сопротивлений
						.grid-row.mb-60.grid-row--reverse
							.col-4
								.logo-wrapper.logo-rusgidro
									img(src="img/page-programms/rusgidro.png", width="320" alt="logo")
							.col-8
								.text-box-20
									p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
									.text-box_desk
										ul
											li.check-icon.text-20 Найти зеркальный уровень, а также нарисовать трендовый канал <br>(по линиям поддержки и сопротивления) в акциях компании «РусГидро», тикер HYDR на недельном таймфрейме 
												span.ic-inner 
													+check
											li.text-20 Пройти тест
					.lesson-part-wrapper.mb-60
						.grid-row
							.col-8
								.lesson-part-title.text-20.mb-20
									p
									| #[span.text-bold Часть 2.] Графический анализ: разворот и продолжение тренда
						
								p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
									ul
										li.text-20 Найти разворотную фигуру голова и плечи, а также фигуры треугольник и флаг на дневном таймфрейме в акциях компании «РусГидро» HYDR
					.lesson-part-wrapper
						.grid-row
							.col-8
								.lesson-part-title.text-20.mb-20
									p
									| #[span.text-bold Часть 3.] Индикаторный анализ. Индикаторы тренда
			.grid-row
				.col-8.col-md
					.text-frame.mb-60
						.text-frame__content.w-100
							p.text-20.text-bold.mb-16 После прохождения третьего модуля вы сможете: 
							ul.text-16.block-list
								li «Читать» рынок и понимать, что стоит включить в ваш портфель в соответствии с&nbsp;условиями рынка, а что — нет;
								li Читать финансовые отчеты компаний и находить среди них недооцененные с&nbsp;большим потенциалом роста;
								li Использовать секретное оружие на рынке акций — технический анализ, а также понимать построение графиков и&nbsp;японские свечи;
								li Строить линии поддержки, сопротивлений, выявлять ценовые тренды и&nbsp;правильно читать осцилляторы и индикаторы для&nbsp;покупки компаний на «дне»; 
								li Распознавать, когда следует покупать хорошую недооцененную компанию на&nbsp;начале роста и&nbsp;продавать в конце роста
//===МОДУЛЬ #4
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 4
				span.text-red практический
			.subtitle-block.mb-60
				h3.title-3 Разбор основных инструментов фондового рынка
			//-Модуль-4  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1.  Как эффективно искать и отбирать Акции
							p.text-20  Определитесь со стратегией вашего инвестиционного портфеля и научитесь пользоваться специальными инструментами (сайтами) для отбора акций.
			//-Модуль-4  Урок_2
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2.  Как эффективно искать и отбирать Облигации
							p.text-20  Изучим 4 инструмента для эффективного отбора облигаций и облигационных фондов в ваш портфель, а именно:
							ul.block-list
								li Rusbonds.ru, Dohod.ru, Smart-lab.ru и Moex.ru
			//-Модуль-4  Урок_3
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 3.  Как эффективно искать и отбирать Фонды
							p.text-20  Научитесь отбирать фонды в соответствии с вашей инвестиционной стратегией
			.grid-row
				.col-8.col-md
					.text-frame.mb-60
						.text-frame__content.w-100
							p.text-20.text-bold.mb-16 После прохождения 4 модуля вы сможете: 
							ul.text-16.block-list
								li Определиться со стратегией вашего инвестестиционного портфеля и научитесь пользоваться специальными инструментами (сайтами) для отбора акций;
								li Пользоваться 5 инструментами для эффективного отбора облигаций и облигационных фондов в ваш портфель;
								li Научитесь отбирать фонды в соответствии с вашей инвестиционной стратегией
//===МОДУЛЬ #5
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 5
			.subtitle-block.mb-60
				h3.title-3 Структура и принципы формирования эффективных инвестиционных портфелей
			//-Модуль-5  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Классификации инвестиционных портфелей
							p.text-20  Точно определите какой вид инвестиционного портфеля нужен именно вам. И какую стратегию его управления выбрать — активную или пассивную 
			//-Модуль-5  Урок_5
			.lesson-wrapper.mb-120
				.grid-row.mb-40
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 2. Стратегия формирования портфеля Asset Allocation
							p.text-20 Посмотрим все известные пропорции формирования портфеля и посчитаем их доходность
				
						.text-frame.mb-60
							.text-frame__content
								p.text-16.text-bold.mb-16  Asset Allocation (Распределение Активов)
								p.text-16.mb-14 Позволяет сбалансировать риск и вознаграждение путем корректировки доли каждого актива в инвестиционном портфеле в соответствии с допустимым уровнем риска, целями и сроками инвестирования
								p.text-16.txt-opacity  Широко известная на Западе специальная инвестиционная стратегия
							.text-frame__img
								img(src="img/page-programms/2.jpg", width="180" alt="img")
				.grid-row.mb-120.grid-row--reverse
					.col-4
						.text-box.text-box.text-box-pt-10
							p.text-16.text-bold.mb-10  Риск-профилирование 
							p.text-16 Отношение инвестора к риску. Риск-профиль зависит от личности инвестора, целей и сроков инвестирования
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.text-20 Пройти тест на риск-профилирование;
									li.check-icon.text-20 Написать в рабочей тетради, в какой пропорции вам рекомендуется распределить ваши активы 
										span.ic-inner
											+check
									
				.grid-row.mb-60.grid-row--reverse
					.col-4
						.logo-wrapper.logo-translate
							img(src="img/page-programms/3.png", width="184" alt="logo")
					.col-8
						.text-box-20
							.lesson-desk.mb-60
								h5.mb-10 Урок 3. Ребалансировка инвестиционных портфелей
								p.text-20 Рассмотрим процесс поддержания баланса выбранного ранее распределения активов в портфеле по мере изменения его стоимости с течением времени. Это и есть «ребалансировка»
				//- .grid-row.mb-60.grid-row--center.grid-row--lg
				.grid-row.mb-60
					.col-8.col-md
						.text-bg.text-bg--dark.padding-1
							.text-bg__content
								p.text-20.text-bold.mb-16  После прохождения 5 модуля вы сможете:
								ul.text-16.block-list
									li Составлять инвестиционные портфели под разные цели;
									li Проводить ребалансировку портфелей;
									li Определять свой риск-профиль для эффективного составления портфелей
//===МОДУЛЬ #6
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 6
				span.text-red практический
			.subtitle-block.mb-60
				h3.title-3 Моделируем свой эффективный инвестиционный портфель в программах
		//модуль-6 урок-1
		.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10  Урок 1. Пошаговое составление инвестиционного портфеля по принципам Asset Allocation и его компьютерное моделирование на практике 
							p.text-20 Ваш инвестиционный портфель будет составлен
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа(в рабочей тетради)
							.text-box_desk
								ul
									li.check-icon.text-20 Составить свой инвестиционный портфель
										span.ic-inner 
		//модуль-6 урок-2									+check
		.lesson-wrapper.mb-120
			.grid-row.mb-60
				.col-8
					.lesson-desk
						h5.mb-10  Урок 2. Пошаговая ребалансировка портфелей на практике
						
			.grid-row.mb-60
				.col-8.col-md
					.text-bg.text-bg--dark.padding-1
						.text-bg__content
							p.text-20.text-bold.mb-16  После прохождения 6 модуля вы сможете:
							ul.text-16.block-list
								li Пользоваться всеми изученными инструментами для формирования инвест. портфеля;
								li Моделировать разные портфели и определять их риск/доходность

//===МОДУЛЬ #7
section.programms-module
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 7
			.subtitle-block.mb-60
				h3.title-3 Психологические особенности инвестиционного процесса 
		//модуль-7 урок-1
		.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10  Урок 1. Главные ошибки инвесторов и способы их решения 
							p.text-20 Рассмотрим следующие ошибки:
							ul.block-list
								li.text-20 Сделки на эмоциях и под влиянием толпы;
								li.text-20 Желание купить бумагу по наилучшей цене (страх снижения цены в будущем);
								li.text-20 FoMO, «Fear of Missing Out», «Синдром упущенной выгоды»; 
								li.text-20 Чрезмерное увлечение рынком и зацикливание накотировках; 
								li.text-20 Привязка к сумме дохода в день и цель «получить доход любой ценой» 

				.grid-row.mb-60
					.col-8.col-md
						.text-bg.text-bg--dark.padding-1
							.text-bg__content
								p.text-20.text-bold.mb-16  После прохождения 7 модуля вы сможете:
								ul.text-16.block-list
									li Сохранять и приумножать свой капитал, так как в инвестировании 80% успеха обеспечивает именно психология и правильный ментальный настрой инвестора;
									li  Вовремя выявлять и устранять первые предвестники «неинвестиционного поведения