// ========== МОДУЛЬ ПРОГРАММЫ КУРСА СВАЙПОМ ==========

header.programms-header
	.container
		h1.page-title Программа курса
		.toggle-menu-wrapper.toggle-menu__programms
			.toggle-menu
				a(href="#").toggle-menu__btn Модуль 1
				a(href="#").toggle-menu__btn 2
				a(href="#").toggle-menu__btn 3
				a(href="#").toggle-menu__btn 4
				a(href="#").toggle-menu__btn 5
				a(href="#").toggle-menu__btn 6
				a(href="#").toggle-menu__btn 7
				a(href="#").toggle-menu__btn 8
				a(href="#").toggle-menu__btn 9