mixin check
	svg(width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M12.8168 24.742C12.543 25.0634 12.0696 25.0879 11.7646 24.7965L0.237683 13.7779C-0.067244 13.4865 -0.0805017 12.9961 0.207896 12.6881L3.88045 8.76875C4.16902 8.46079 4.65456 8.4474 4.95948 8.73867L11.2562 14.7573C11.5611 15.0487 12.0346 15.0242 12.3084 14.7028L24.6099 0.26713C24.8837 -0.0542246 25.3682 -0.0909157 25.6862 0.185748L29.7355 3.70569C30.0537 3.98218 30.09 4.47151 29.8161 4.79287L12.8168 24.742Z" fill="#50B16D")
mixin docs
	<svg width="120" height="158" viewBox="0 0 120 158" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M120 45.4669V155.306C120 161.213 115.218 166 109.327 166H10.6734C4.7777 166 1.64379e-08 161.213 1.64379e-08 155.306V10.6937C-0.000323588 4.78678 4.77737 0 10.6734 0H74.6193L120 45.4669Z" fill="#518EF8"/>
		<path d="M90.6793 83.3422H29.3154V90.1738H90.6793V83.3422Z" fill="white"/>
		<path d="M90.6793 98.5999H29.3154V105.431H90.6793V98.5999Z" fill="white"/>
		<path d="M90.6793 113.857H29.3154V120.688H90.6793V113.857Z" fill="white"/>
		<path d="M72.9551 129.114H29.3154V135.945H72.9551V129.114Z" fill="white"/>
		<path d="M80.811 44.4795L120 60.6552V45.4674L97.7812 38.8945L80.811 44.4795Z" fill="#3A5BBC"/>
		<path d="M120 45.4669H85.2931C79.397 45.4669 74.6196 40.6801 74.6196 34.7732V0L120 45.4669Z" fill="#ACD1FC"/>
		</svg>
mixin loop
	<svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d)">
		<path d="M79.4242 61.2188C78.1551 60.2533 76.345 60.5007 75.3809 61.771C75.1959 62.0148 75.0062 62.2555 74.8121 62.4933C71.9179 66.0384 68.0189 68.9169 63.2087 71.057C63.1849 71.0676 63.1612 71.0783 63.1378 71.0897C55.548 74.7157 46.6682 75.2113 38.1509 72.4903C30.6729 70.0532 24.5885 65.3346 20.0657 58.4652C16.7068 53.0742 14.9465 47.2146 14.8212 41.0344C14.8182 40.884 14.8183 40.7332 14.8172 40.5826H18.357C19.688 40.5826 20.3545 38.9719 19.4133 38.0299L12.9832 31.5934C12.3998 31.0094 11.454 31.0094 10.8705 31.5934L4.4405 38.0299C3.49947 38.9719 4.166 40.5826 5.49675 40.5826H9.04176C9.08793 48.0387 11.1545 55.0918 15.1902 61.5557C15.2021 61.5748 15.2142 61.5935 15.2263 61.6123C20.4886 69.619 27.6003 75.127 36.3804 77.9884C40.5873 79.3322 44.8735 80 49.0958 80C54.8345 79.9998 60.4538 78.7663 65.5882 76.3197C71.6028 73.6376 76.4435 69.9186 79.9755 65.2661C80.9398 63.996 80.6928 62.184 79.4242 61.2188Z" fill="#50B16D"/>
		<path d="M92.5031 39.9886H88.9583C88.9581 39.1968 88.9346 38.396 88.8883 37.6082C88.5203 31.3673 86.6631 25.2219 83.5174 19.8363C80.4502 14.5852 76.1515 10.0291 71.0859 6.66058C65.9356 3.2356 59.9725 1.03296 53.841 0.291046C47.0264 -0.533668 40.0964 0.402342 33.7999 2.99683C27.6251 5.54106 22.1327 9.64422 17.9163 14.8627C16.9141 16.1027 17.1063 17.9216 18.3451 18.9248C19.5843 19.9278 21.4009 19.7356 22.4031 18.4954C22.6186 18.2287 22.8386 17.9659 23.0618 17.7059C26.577 13.6135 31.0289 10.3857 35.9965 8.33889C41.3816 6.12007 47.313 5.32001 53.1485 6.02611C58.3903 6.66038 63.4886 8.54357 67.8925 11.4723C72.2295 14.3566 75.9099 18.2568 78.5356 22.7522C81.2248 27.3562 82.8128 32.611 83.1275 37.9487C83.1475 38.2881 83.1625 38.6303 83.1727 38.9731C83.1827 39.312 83.1875 39.6512 83.1877 39.9888H79.6433C78.3123 39.9888 77.6458 41.5995 78.587 42.5415L85.017 48.978C85.6005 49.562 86.5463 49.562 87.1297 48.978L93.5598 42.5415C94.5004 41.5993 93.8339 39.9886 92.5031 39.9886Z" fill="#50B16D"/>
		</g>
		<defs>
		<filter id="filter0_d" x="0" y="0" width="98" height="88" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset dy="4"/>
		<feGaussianBlur stdDeviation="2"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		</defs>
		</svg>
mixin times
	<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g opacity="0.3">
		<path d="M2.05691 40C1.53 40 1.00309 39.7996 0.602758 39.3963C-0.200919 38.5926 -0.200919 37.2897 0.602758 36.486L36.4869 0.602742C37.2906 -0.200914 38.5936 -0.200914 39.3972 0.602742C40.2009 1.4064 40.2009 2.70933 39.3972 3.51349L3.51357 39.3963C3.11023 39.7971 2.58332 40 2.05691 40Z" fill="white"/>
		<path d="M37.9436 40C37.4167 40 36.8903 39.7996 36.4894 39.3963L0.602758 3.51349C-0.200919 2.70933 -0.200919 1.4064 0.602758 0.602742C1.40643 -0.200914 2.7094 -0.200914 3.51357 0.602742L39.3972 36.486C40.2009 37.2897 40.2009 38.5926 39.3972 39.3963C38.9939 39.7971 38.4675 40 37.9436 40Z" fill="white"/>
		</g>
		</svg>
mixin play
	<svg width="156" height="170" viewBox="0 0 156 170" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d1)">
		<path d="M132.819 69.5186L29.543 10.8413C25.3016 8.43997 20 11.4678 20 16.2706V133.729C20 138.532 25.3016 141.56 29.543 139.159L132.819 80.4814C137.06 77.9746 137.06 71.92 132.819 69.5186Z" fill="#DD4F48"/>
		</g>
		<defs>
		<filter id="filter0_d1" x="0" y="0" width="156" height="170" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset dy="10"/>
		<feGaussianBlur stdDeviation="10"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0.866667 0 0 0 0 0.309804 0 0 0 0 0.282353 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		</defs>
		</svg>

.fix-top-menu
	.container
		.fix-top-menu__content
			.toggle-menu-wrapper.toggle-menu__programms
				ul.toggle-menu#page-nav
					li.toggle-menu__btn.active
						a(href="#modul-1") Модуль 1
					li.toggle-menu__btn
						a(href="#modul-2") 2
					li.toggle-menu__btn
						a(href="#modul-3") 3
					li.toggle-menu__btn
						a(href="#modul-4") 4
					li.toggle-menu__btn
						a(href="#modul-5") 5
					li.toggle-menu__btn
						a(href="#modul-6") 6
					li.toggle-menu__btn
						a(href="#modul-7") 7
					li.toggle-menu__btn
						a(href="#modul-8") 8
					li.toggle-menu__btn
						a(href="#modul-9") 9
			.fix-top-btn
				a(href="#price").btn.btn-red Стоимость	
			.fix-top-close.fix-desk
				a(href="index.html").btn Закрыть
			.fix-close-mob
				a(href="index.html")
					+times


header.programms-header
	.container
		h1.page-title Программа курса
		.toggle-menu-wrapper.toggle-menu__programms
			.toggle-menu
				a(href="#modul-1").toggle-menu__btn.active Модуль 1
				a(href="#modul-2").toggle-menu__btn 2
				a(href="#modul-3").toggle-menu__btn 3
				a(href="#modul-4").toggle-menu__btn 4
				a(href="#modul-5").toggle-menu__btn 5
				a(href="#modul-6").toggle-menu__btn 6
				a(href="#modul-7").toggle-menu__btn 7
				a(href="#modul-8").toggle-menu__btn 8
				a(href="#modul-9").toggle-menu__btn 9
section.programms-module.pt-100#modul-1
	.label-free.label-free-mob
		img(src="img/free.png" srcset="img/free@2x.png 2x" alt="label" width="260")
	.container
		.module-content
			.label-free
				img(src="img/free.png" srcset="img/free@2x.png 2x" alt="label" width="539")
			h2.title-2.pb-20.bottom-line Модуль 1
			.subtitle-block.mb-60
				h3.title-3 Инвестиции как&nbsp;способ&nbsp;достижения<br>финансовых целей
				p.text-16 В рамках марафона  «Путь Инвестора»
			//-Модуль-1  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Почему важно начать свой путь инвестора<br> как можно раньше?
							p.text-20 Разберем 4 мифа инвестиций. Изучим как сложный процент может помочь вам достигать ваших финансовых целей в 2 раза быстрее. Выясним структуру работы фондового рынка.
					.col-4
						.text-box.text-box-pt
							p.text-16.text-bold.mb-10  Сложный процент 
							p.text-16 Прибыль, которая суммируется с основной суммой вклада и в дальнейшем уже сама производит новую прибыль. Та самая магия, которая делает людей богатыми
				.grid-row.mb-60
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__left
								p.text-bold.text-16.mb-16 Персональная рабочая тетрадь
								p.text-16.mb-16 На протяжении курса работаете и&nbsp;выполняете домашние задания в&nbsp;своей персональной рабочей тетради — специальный Гугл документ с&nbsp;таблицами. графиками и&nbsp;полями для заполнения.
								p.text-16.txt-opacity Чтобы ничего не забыть и&nbsp;иметь&nbsp;нужный материал под&nbsp;рукой
							.text-bg__right.mt-auto
								.decor-img.decor-docs
									+docs
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа
							.text-box_desk
								p Пройти тест; 
								p.check-icon Открыть брокерский счет и завести 1000&nbsp;&#8381;
									span 
										+check
			//-Модуль-1  Урок_2
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2. Виды финансовых инструментов на фондовом рынке
							p.text-20  Подробно изучим Акции, Облигации и Фонды как основные инструменты инвестора на фондовом рынке.
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--33
			.card.border-card
				.text-16.mb-16 Акция
				p Ценная бумага, предоставляющая право на участие в управление компанией и право на получение части прибыли в форме дивидендов
			.card.border-card
				.text-16.mb-16 Облигация
				p Ценная бумага, которую выпускает компания, которой нужны деньги. По сути, при покупке облигации, вы даете деньги в долг этой компании
			.card.border-card
				.text-16.mb-16 Инвестиционный фонд
				p Компания, которая занимается профессиональным управлением денежными средствами других инвесторов, а также своими собственными

	.lesson-continue
		.container
			.text-box-20
				p.text-20.text-bold.mb-10 Домашняя работа &mdash; #[span.text-20 Пройти тест; ]
			//-Модуль-1  Урок_3
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 3. Стратегии инвестирования в акции
							p.text-20 Разберем ТОП-5 пассивных стратегий инвестирования в фондовый рынок, а именно:
							ul
								li Покупку дивидендных акций; 
								li Покупку акций под дивиденды и их дальнейшая продажа; 
								li Равномерное усредненное инвестирование; 
								li Следование индексам через ETF фонды; 
								li Поиск недооцененных акций.
					.col-4
						.text-box.text-box-transform-top
							.decor-text #[span.text-60 на ] 200%
							p.text-16.mb-16.text-bold больше доходности дают пассивные стратегии инвестирования по сравнению с активными хедж-фондами 
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--50
			.card.green-card
				.text-16.mb-16 ETF (Exchange Traded Funds)
				p Инвестиционный фонд, торгуемый на бирже. Самый популярный тип вложения пассивных инвесторов. Во всех ETF в мире насчитывается около $7 трлн денег частных инвесторов.
				p Мы учимся отбирать такие фонды на практике
			.card.bg-card
				.text-16.mb-16 Хэдж-фонды
				p Инвестиционные фонды, ориентированные на максимальную доходность инвестора за счет активной купли-продажи<br> ценных бумаг.
				p.opacity Распространены в США			
			//-Модуль-1  Урок_4
	.lesson-continue
		.container
			.text-box-20
				p.text-20.text-bold.mb-10 Домашняя работа &mdash; #[span.text-20 Пройти тест; ]
			.lesson-wrapper.mb-140.mt-120
				.grid-row.mb-40
					.col-8
						.lesson-desk
							h5.mb-10 Урок 4. Разбор торгового терминала брокера. Практическое занятие 
							p.text-20 На практике разберем как устроено приложение брокера и вместе купим Акцию, Облигацию и ETF.
				.text-box-20
					p.check-icon.text-20.text-bold Домашняя работа &mdash; #[span.text-20  купить свою первую Акцию (Облигацию, Фонд)  ]
						span.ic-inner 
							+check
			.lesson-wrapper
				.grid-row
					.col-8.col-md
						.tooltip
							p.text-20.text-bold.mb-10  После прохождения первого модуля вы сможете:
							ul
								li.text-16 Отличать основные финансовые инструменты: Акции, Облигации и Фонды;
								li.text-16 Разбираться в принципах работы фондового рынка и его субъектов;
								li.text-16 Работать по ТОП-5 стратегиям на фондовом рынке, которые дают доходность на&nbsp;200%&nbsp;больше, чем активные хедж-фонды; 
								li.text-16 Самостоятельно без труда осуществлять покупку ценных бумаг в приложении брокера 
						a(href="#!").btn.btn-solid.mt-80.mb24.show-desktop Попробовать бесплатный модуль
						a(href="#!").btn.btn-solid.mt-80.mb24.show-mobile Попробовать бесплатно
						p.text-16.txt-opacity Прохождение бесплатного модуля не обязывает вас к покупке платной части курса.<br> Я хочу, чтобы перед покупкой, вы были уверены в том, что курс действительно вам подойдет 
//===МОДУЛЬ #2
section.programms-module#modul-2
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 2
			.subtitle-block.mb-60.mt-50
				h3.title-3 Строим инвестиционный портфель

			//-Модуль-2  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-40
					.col-8
						.lesson-desk
							h5.mb-10  Урок 1. Определяем цели финансового планирования 
							p.text-20 Учимся ставить понятные и прогнозируемые финансовые цели, а также соотносить их с инвестиционным планом
				.grid-row.grid-row--reverse 
					.col-4
						.text-box.text-box-transform
							p.text-70.text-bold.text-green  $800—1300
							p.text-16.text-bold пассивного дохода в месяц может получить обычный человек за 7—10 лет инвестирования

				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
							.text-box_desk
							ul
								li.text-20 Определить свои финансовые цели; 
								li.check-icon.text-20 Построить финансовый план с конкретными суммами и сроками:<br> на год и на 10 лет
									span.ic-inner 
										+check
			//-Модуль-2  Урок_2
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10.sp-nowr Урок 2. Как снизить свои расходы и высвободить капитал для инвестиций?
							p.text-20  Рассмотрим ТОП-10 способов поиска у себя дополнительных денег для инвестирования. Только рабочие советы. Не нужно будет голодать, сдавать макулатуру, или ходить пешком, если у вас есть автомобиль


			//-Модуль-2  Урок_3
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10.sp-nowr Урок 3. Учимся правильно оценивать доходность и риск ваших инвестиций
							p.text-20 Сможете прогнозировать доходность своего портфеля и находить способы снижения риска для капитала
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--66
			.card.bg-card
				.text-16.mb-16 Инвестиционный портфель
				p Набор различных ценных бумаг (Акций, Облигаций, Фондов, др.) у инвестора, который составлен таким образом, чтобы решить конкретную финансовую цель человека
			.card.green-card.bold
				p Цель курса — научить вас составлять именно такие сбалансированные портфели, которые переживут любой «шторм» на рынках	

	.lesson-continue
		.container
			.text-box-20
				p.text-20.text-bold.mb-10 Домашняя работа &mdash; #[span.text-20 Пройти тест; ]
			//-Модуль-2  Урок_4
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-40
					.col-8
						.lesson-desk.mb-60
							h5.mb-10.sp-nowr Урок 4. Диверсификация как способ уменьшения риска инвестирования
							p.text-20 Узнаете как правильно диверсифицировать портфель и сколько ценных бумаг в него нужно включать 

						.text-frame
							.text-frame__content
								p.text-16.text-bold.mb-16 Диверсификация
								p.text-16.mb-14 Инвестирование средств в разные активы с целью снижения рисков. При этом в идеале снижение риска должно минимально влиять на доходность портфеля.
								p.text-16.text-green На курсе вы узнаете конкретные методики диверсификации
							.text-frame__img
								img(src="img/page-programms/1.png" width="280" alt="img")
				.text-box-20
					p.text-20.text-bold  Домашняя работа &mdash; #[span.text-20 пройти тест; ]
			//-Модуль-2  Урок_5
			.lesson-wrapper.mt-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 5. Изучаем налоговые льготы, ИИС, инвестиции гос. служащим и&nbsp;нерезидентам
							p.text-20 Ищем способы как снизить налоговую нагрузку на инвестиционный портфель и&nbsp;использовать льготы от государства
				.grid-row.mb-60.grid-row--center.grid-row--lg
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 иис
								p.text-16 Индивидуальный инвестиционный счет для физических лиц, который позволяет получить налоговые льготы двух видов (поддержка государством начинающих в инвестициях)
					.col-4
						.text-box.mob-mt-50
							p.text-bold.text-16  Также расскажу о том,<br> как снизить налоги c дивидендов<br> по американским акциям
							p.text-16.text-green.text-bold с 30% до 13%
				.grid-row.mb-140
					.col-8
						.text-box-20
							p.text-20.text-bold  Домашняя работа &mdash; #[span.text-20 пройти тест; ]
				.grid-row
					.col-8.col-md
						.text-frame
							.text-frame__content
								p.text-20.text-bold.mb-16 После прохождения второго модуля вы сможете: 
								ul.text-16.block-list
									li Ставить измеримые и достижимые финансовые цели;
									li Понимать причины возникновения риска на финансовом рынк; 
									li Прогнозировать доходность своего портфеля и находить способы снижения риска для капитала;
									li Оценивать факторы, влияющие на изменение инвестиционной стратегии;
									li Понимать как правильно диверсифицировать портфель и сколько ценных бумаг в него нужно включать;
									li Находить способы снижения налоговой нагрузку на инвестиционный портфель и использовать льготы от государства
//===МОДУЛЬ #3
section.programms-module#modul-3
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 3
				span.text-red практический
			.subtitle-block.mt-50
				h3.title-3 Механизм принятия инвестиционных решений
			//-Модуль-3  Урок_1
			.lesson-wrapper.mb-120.mt-60
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Учимся понимать экономические циклы рынка. Разбираемся, какие компании покупать на «дне» и продавать на «пике»
							p.text-20 Научитесь «читать» рынок. Станете понимать, что стоит включить в портфель в соответствии с условиями рынка, а что — нет
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--50
			.card.bg-card
				.text-16.mb-16 Ценовое дно
				p Самая выгодная цена для покупки ценных бумаг. Инвесторы часто говорят: «Купил бумагу на дне». А затем добавляют: «Мечтаю продавать на пике» — то есть по самой выгодной цене
			.card.bg-card.text-frame
				.text-frame__content
					.text-16.mb-16 Экономический цикл
					p Четыре постоянно повторяющихся процесса в экономике: пик, спад, кризис, рост. Как круговорот воды в природе
				.text-frame__icon
					+loop
	.lesson-continue
		.container
			.grid-row.mb-60
				.col-8
					.text-box-20
						p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
						.text-box_desk
							ul
								li.check-icon.text-20 Найти текущую фазу экономического цикла;
									span.ic-inner
										+check
								li.text-20 Пройти тест
			//-Модуль-3  Урок_2
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-90
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2. Финансовая отчетность компаний. Учимся читать правильно
							p.text-20 Узнаете три способа поиска финансовую отчетность компаний, поймете ее разновидности и определите, какую пользу она может принести при отборе акций
				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
							.text-box_desk
							ul
								li.check-icon.text-20 Найти финансовый отчет двух компаний на выбор и выписать по ним восемь основных&nbsp;показателей
									span.ic-inner 
										+check
			//-Модуль-3  Урок_3
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 3. Что такое фундаментальный анализ компаний?<br>Работа с мультипликаторами
							p.text-20 Разберетесь как читать финансовые отчеты компаний и находить среди них недооцененные с большим потенциалом роста 
				.grid-row.mb-60.grid-row--center.grid-row--lg
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 Мультипликаторы
								p.text-16 Финансовые показатели компании, которые позволяют оценить ее бизнес и сравнить ее с конкурентами. На курсе вы научитесь шаг за шагом самостоятельно анализировать компании и отбирать лучшие из них

				.grid-row.mb-60
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
							.text-box_desk
							ul
								li.check-icon.text-20 Провести фундаментальный анализ 3 нефтяных<br class="br-mobile"> компаний;
									span.ic-inner 
										+check
								li.text-20 Пройти тест
			//-Модуль-3  Урок_4
			.lesson-wrapper.mb-120.mt-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-20
							h5.mb-10  Урок 4. Что такое технический анализ компаний?
							p.text-20 Узнаете почему знание технического анализа — это ваше секретное оружие на рынке акций. Разберем построение графиков и японские свечи
				.grid-row.mb-60.grid-row--center.grid-row--lg.mt-60
					.col-8.col-md
						.text-bg.text-bg--dark
							.text-bg__content
								p.text-16.text-bold.mb-16 Технический анализ
								p.text-16 Перечень приемов прогнозирования изменения цен на основе закономерностей изменений их в прошлом. И вы сможете во всем этом разобраться, чтобы получать максимальную прибыль с рынка

				.grid-row.mb-60.grid-row--reverse
					.col-4
						.logo-wrapper.logo-aero
							img(src="img/page-programms/aero.png" width="390" alt="logo")
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
							.text-box_desk
							ul
								li.check-icon.text-20 Найти уровни поддержки цен, флэт и восходящий тренд с 2000 года в&nbsp;компании&nbsp;«Аэрофлот»
									span.ic-inner 
										+check
			//-Модуль-3  Урок_5
			.lesson-wrapper.mb-140.mt-120
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-20
							h5.mb-10  Урок 5. Обзор инструментов технического анализа. Работа с графиками
							p.text-20  Научитесь строить линии поддержки, сопротивлений, выявлять ценовые тренды и правильно читать осцилляторы и индикаторы для покупки компаний на&nbsp;«дне»
				.lesson-part.mt-60
					.lesson-part-wrapper
						.col-8
							.lesson-part-title.text-20.mb-20
								p
								| #[span.text-bold Часть 1.] Графический анализ: линии поддержки и сопротивлений
						.grid-row.mb-60.grid-row--reverse
							.col-4
								.logo-wrapper.logo-rusgidro
									img(src="img/page-programms/rusgidro.png" width="320" alt="logo")
							.col-8
								.text-box-20
									p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
									.text-box_desk
									ul
										li.check-icon.text-20 Найти зеркальный уровень, а также нарисовать трендовый канал <br>(по линиям поддержки и сопротивления) в акциях компании «РусГидро», тикер HYDR на недельном таймфрейме 
											span.ic-inner 
												+check
					.lesson-part-wrapper.mb-60
						.grid-row
							.col-8
								.lesson-part-title.text-20.mb-20
									p
									| #[span.text-bold Часть 2.] Графический анализ: разворот и продолжение тренда

								p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
									ul
										li.check-icon.text-20 Найти разворотную фигуру голова и плечи, а также фигуры треугольник и флаг на дневном таймфрейме в акциях компании «РусГидро» HYDR
											span.ic-inner 
												+check
					.lesson-part-wrapper
						.grid-row
							.col-8
								.lesson-part-title.text-20.mb-20
									p
									| #[span.text-bold Часть 3.] Индикаторный анализ. Индикаторы тренда
			//-Модуль-3  Урок_6
			.lesson-wrapper.mb-140
				.grid-row.mb-40-0
					.col-8
						.lesson-desk.mb-20
							h5.mb-10  Урок 6. Комбинирование фундаментального и технического анализа при работе на фондовом рынке
							p.text-20  После этого урока вы поймете, когда следует покупать хорошую недооцененную компанию на начале роста и продавать в конце

			.grid-row
				.col-8.col-md
					.text-frame.mb-40
						.text-frame__content.w-100
							p.text-20.text-bold.mb-16 После прохождения третьего модуля вы сможете: 
							ul.text-16.block-list
								li «Читать» рынок и понимать, что стоит включить в ваш портфель в соответствии с&nbsp;условиями рынка, а что — нет;
								li Читать финансовые отчеты компаний и находить среди них недооцененные с&nbsp;большим потенциалом роста;
								li Использовать секретное оружие на рынке акций — технический анализ, а также понимать построение графиков и&nbsp;японские свечи;
								li Строить линии поддержки, сопротивлений, выявлять ценовые тренды и&nbsp;правильно читать осцилляторы и индикаторы для&nbsp;покупки компаний на «дне»; 
								li Распознавать, когда следует покупать хорошую недооцененную компанию на&nbsp;начале роста и&nbsp;продавать в конце роста 
//===МОДУЛЬ #4
section.programms-module#modul-4
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 4
				span.text-red практический
			.subtitle-block.mb-50
				h3.title-3 Разбор основных инструментов фондового рынка
			//-Модуль-4  Урок_1
			.lesson-wrapper.mb-120.mt-60
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1.  Как эффективно искать и отбирать Акции
							p.text-20  Определитесь со стратегией вашего инвестиционного портфеля и научитесь пользоваться специальными инструментами (сайтами) для отбора акций.
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--50
			.card.bg-card
				.text-16.mb-16 Список ключевых сайтов для отбора акций
				.card-col.mb-16
					.item-col
						p Dohod.ru
						p Smart-lab.ru
					.item-col
						p Invest-idei.ru
						p TradingView.com
				p.green На практике обучаемся методикам работы с этими сайтами	
			.card.bg-card
				.text-16.mb-16 Основные стратегии инвестиционного портфеля
				ul
					li Стабильный денежный поток;
					li Устойчивый рост и защита капитала;
					li Агрессивный прирост капитала
			//-Модуль-4  Урок_2
	.lesson-continue
		.container
			.lesson-wrapper.mb-120.mt-100
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 2.  Как эффективно искать и отбирать Облигации
							p.text-20  Изучим 4 инструмента для эффективного отбора облигаций и облигационных фондов в ваш портфель, а именно:
							ul.block-list
								li.text-20 Rusbonds.ru, Dohod.ru, Smart-lab.ru и Moex.ru
			//-Модуль-4  Урок_3
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 3.  Как эффективно искать и отбирать Фонды
							p.text-20  Научитесь отбирать фонды в соответствии с вашей инвестиционной стратегией
			.grid-row
				.col-8.col-md
					.text-frame.mb-60.mt-100
						.text-frame__content.w-100
							p.text-20.text-bold.mb-16 После прохождения 4 модуля вы сможете:
							ul.text-16.block-list
								li Определиться со стратегией вашего инвестестиционного портфеля и научитесь пользоваться специальными инструментами (сайтами) для отбора акций;
								li Пользоваться 5 инструментами для эффективного отбора облигаций и облигационных фондов в ваш портфель;
								li Научитесь отбирать фонды в соответствии с вашей инвестиционной стратегией
//===МОДУЛЬ #5
section.programms-module#modul-5
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 5
			.subtitle-block.mb-60.mt-50
				h3.title-3 Структура и принципы формирования эффективных инвестиционных портфелей
			//-Модуль-5  Урок_1
			.lesson-wrapper.mb-120
				.grid-row.mb-60
					.col-8
						.lesson-desk
							h5.mb-10 Урок 1. Классификации инвестиционных портфелей
							p.text-20  Точно определите какой вид инвестиционного портфеля нужен именно вам. И какую стратегию его управления выбрать — активную или пассивную
	.grid-row.mb-60.grid-row--swipe
		.block-card.block-card--50
			.card.bg-card
				.text-16.mb-16 Активная стратегия управления портфелем
				p Заключается в постоянном наблюдении за состоянием фондового рынка и быстрой покупке выгодных бумаг. Структура портфеля глубоко анализируется и часто претерпевает изменения. Требует времени и экспертных знаний в торговле ценными бумагами
			.card.green-card
				.text-16.mb-16 Пассивная стратегия
				p Предполагает создание диверсифицированного портфеля, рассчитанного на длительное время. Он состоит из малорисковых бумаг, поэтому инвестору не требуется активно следить за ситуацией на рынке. Может не меняться годами						 
			//-Модуль-5  Урок_5
	.lesson-continue
		.container
			.lesson-wrapper.mt-120
				.grid-row.mb-40
					.col-8
						.lesson-desk.mb-60
							h5.mb-10 Урок 2. Стратегия формирования портфеля Asset Allocation
							p.text-20 Посмотрим все известные пропорции формирования портфеля и посчитаем их доходность

						.text-frame.mb-60
							.text-frame__content
								p.text-16.text-bold.mb-16  Asset Allocation (Распределение Активов)
								p.text-16.mb-14 Позволяет сбалансировать риск и вознаграждение путем корректировки доли каждого актива в инвестиционном портфеле в соответствии с допустимым уровнем риска, целями и сроками инвестирования
								p.text-16.txt-opacity  Широко известная на Западе специальная инвестиционная стратегия
							.text-frame__img.text-frame__img--180
								img(src="img/page-programms/2.jpg" width="280" alt="img")
				.grid-row.mb-120
					.col-8
						.text-box-20
							p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
							.text-box_desk
								ul
									li.text-20 Пройти тест на риск-профилирование;
									li.check-icon.text-20 Написать в рабочей тетради, в какой пропорции вам рекомендуется распределить<br class="br-mobile"> ваши активы 
										span.ic-inner
											+check
					.col-4
						.text-box.text-box.text-box-pt-10
							p.text-16.text-bold.mb-10  Риск-профилирование 
							p.text-16 Отношение инвестора к риску. Риск-профиль зависит от личности инвестора, целей и сроков инвестирования						
				.grid-row.mb-60
					.col-8
						.text-box-20
							.lesson-desk.mb-60
								h5.mb-10 Урок 3. Ребалансировка инвестиционных портфелей
								p.text-20 Рассмотрим процесс поддержания баланса выбранного ранее распределения активов в портфеле по мере изменения его стоимости с течением времени. Это и есть «ребалансировка»
					.col-4
						.logo-wrapper.logo-translate
							img(src="img/page-programms/3.png" width="280" alt="logo")
				.grid-row
					.col-8.col-md
						.text-bg.text-bg--dark.padding-1
							.text-bg__content
								p.text-20.text-bold.mb-16  После прохождения 5 модуля вы сможете:
								ul.text-16.block-list
									li Составлять инвестиционные портфели под разные цели;
									li Проводить ребалансировку портфелей;
									li Определять свой риск-профиль для эффективного составления портфелей
//===МОДУЛЬ #6
section.programms-module#modul-6
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 6
				span.text-red практический
			.subtitle-block.mb-60
				h3.title-3 Моделируем свой эффективный инвестиционный портфель в программах
		//модуль-6 урок-1
		.lesson-wrapper.mb-120
			.grid-row.mb-60
				.col-8
					.lesson-desk
						h5.mb-10  Урок 1. Пошаговое составление инвестиционного портфеля по принципам Asset Allocation и его компьютерное моделирование на практике 
						p.text-20 Ваш инвестиционный портфель будет составлен
			.grid-row.mb-60
				.col-8
					.text-box-20
						p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради)
						.text-box_desk
							ul
								li.check-icon.text-20 Составить свой инвестиционный портфель
									span.ic-inner 
										+check
		//модуль-6 урок-2									
		.lesson-wrapper
			.grid-row.mb-60
				.col-8
					.lesson-desk
						h5.mb-10  Урок 2. Пошаговая ребалансировка портфелей на практике

			.grid-row
				.col-8.col-md
					.text-bg.text-bg--dark.padding-1
						.text-bg__content
							p.text-20.text-bold.mb-16  После прохождения 6 модуля вы сможете:
							ul.text-16.block-list
								li Пользоваться всеми изученными инструментами для формирования инвест. портфеля;
								li Моделировать разные портфели и определять их риск/доходность

//===МОДУЛЬ #7
section.programms-module#modul-7
	.container
		.module-content
			h2.title-2.pb-20.bottom-line Модуль 7
			.subtitle-block.mb-60
				h3.title-3 Психологические особенности инвестиционного процесса 
		//модуль-7 урок-1
		.lesson-wrapper
			.grid-row.mb-60
				.col-8
					.lesson-desk
						h5.mb-10  Урок 1. Главные ошибки инвесторов и способы их решения 
						p.text-20 Рассмотрим следующие ошибки:
						ul.block-list
							li.text-20 Сделки на эмоциях и под влиянием толпы;
							li.text-20 Желание купить бумагу по наилучшей цене (страх снижения цены в будущем);
							li.text-20 FoMO, «Fear of Missing Out», «Синдром упущенной выгоды»; 
							li.text-20 Чрезмерное увлечение рынком и зацикливание накотировках; 
							li.text-20 Привязка к сумме дохода в день и цель «получить доход любой ценой» 

			.grid-row
				.col-8.col-md
					.text-bg.text-bg--dark.padding-1
						.text-bg__content
							p.text-20.text-bold.mb-16  После прохождения 7 модуля вы сможете:
							ul.text-16.block-list
								li Сохранять и приумножать свой капитал, так как в инвестировании 80% успеха обеспечивает именно психология и правильный ментальный настрой инвестора;
								li  Вовремя выявлять и устранять первые предвестники «неинвестиционного поведения

//===МОДУЛЬ #8
section.programms-module#modul-8
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 8
				span.text-green специалист+
			.subtitle-block.mb-60
				h3.title-3.mb-10 Работа с терминалом «Quik»
				p.text-16.text-red.mb-30 Только в тарифах «Специалист» и «Профессионал»
				p.text-20 Изучите продвинутую работу с торговым терминалом. Выставление заявок, стоп-ордеров, тейк-профитов
		//модуль-8 урок-1
		.lesson-wrapper
			.grid-row.mb-60
				.col-8
					.lesson-desk
						h5.mb-10 Урок 1. #[span.text-regular Строение торгового терминала «Quik»]
						h5.mb-100 Урок 2.#[span.text-regular Выставление торговых заявок, стоп-ордеров, тейк-профитов]
			.grid-row
				.col-8.col-md
					.text-bg.text-bg--dark.padding-1
						.text-bg__content
							p.text-20.text-bold.mb-16  После прохождения 8 модуля вы сможете:
							ul.text-16.block-list
								li Настроить торговый терминал под свои цели; 
								li Выставлять торговые заявки и контролировать свой убыток / прибыль

//===МОДУЛЬ #9
section.programms-module#modul-9
	.container
		.module-content
			h2.title-2.pb-20.bottom-line.flex-title
				span Модуль 9
				span.text-green Специалист+
			.subtitle-block.mb-60
				h3.title-3.mb-10 Как устроена работа высокорискованных и&nbsp;сложных инвестиционных продуктов (фьючерсы, опционы, структурные ноты, форекс&#8209;трейдинг и др.)
				p.text-16.text-red.mb-30 Только в тарифах «Специалист» и «Профессионал»
				p.text-20 Изучите продвинутую работу с торговым терминалом. Выставление заявок, стоп-ордеров, тейк-профитов
		//модуль-9 урок-1
		.lesson-wrapper
			.grid-row.mb-40
				.col-8
					.lesson-desk
						h5.mb-10 Урок 1. #[span.text-regular Принципы и нюансы работы фьючерсов]
						h5.mb-10 Урок 2. #[span.text-regular Принципы и нюансы работы опционов]
						h5 Урок 3. #[span.text-regular «Форекс» — что это такое? Как работает? И почему нужно держаться подальше ]
			.grid-row.mb-60
				.text-box-20
					p.text-20.text-bold.mb-10 Домашняя работа (в рабочей тетради) &mdash; #[span.text-20 Пройти тест; ]
			.grid-row
				.col-8.col-md
					.text-bg.text-bg--dark.padding-1
						.text-bg__content
							p.text-20.text-bold.mb-16  После прохождения 9 модуля вы сможете:
							ul.text-16.block-list
								li Знать как устроена работа сложных инвестиционных продуктов и деривативов
section.about
	.container
		.quote-block
			.quote-text
				.img-quote
					img(src="img/quote.png" alt="img")
				p.text-60 #[span.text-red За месяц научу вас] эффективно и&nbsp;безопасно инвестировать деньги в&nbsp;фондовый&nbsp;рынок и&nbsp;обеспечивать себя&nbsp;доходом в год в размере

			.super-big
				img(src="img/percent.png" srcset="img/percent@2x.png 2x" alt="img") 
		h2.title-2 об авторе
		.about-content
			.about-content__text
				.about-content-header.text-group-30
					h3 Никита Куценко
					p Действующий инвестор, трейдер и портфельный управляющий. Эксперт по инвестиционным продуктам
				.about-content-block
					.about-content__logo.content__logo--so
						img(src="img/so-logo.jpg" srcset="img/so-logo@2x.jpg 2x" width="300" alt="so-logo")
					.text-16
						p Со-основатель международного финансового финтех-стартапа STIPS|Oculus (партнеры IBM). Помогают трейдерам со всего мира агрегировать информацию об&nbsp;активах и принимать правильные торговые решения
					//- a(href="#!").btn.btn-small Перейти
				.block-flex
					.about-content-block.w-50
						.about-content__logo
							img(src="img/author-logo.png" alt="author-logo")
						.text-16
							p Автор образовательных курсов о&nbsp;финансовой грамотности и бесплатного марафона «Путь Инвестора», в котором приняли участие более 4000 человек
						a(href="https://investorway.getcourse.ru/page2" target="_blank").btn.btn-small Попробовать бесплатный модуль
					.about-content-block.w-50
						.about-content__logo
							img(src="img/diplom.jpg" srcset="img/diplom@2x.jpg 2x" alt="diplom")

						.text-16
							p Сертифицированный эксперт и риск&#8209;менеджер по глобальным финансовым рынкам и инвестицонным инструментам (Университет Райз, Хьюстон, США) 
						a(href="#!").popup-open3.btn.btn-small Проверить

			.about-content__video#videoPlay
				.video-text.text-30
					p Рассказываю почему каждый должен заниматься инвестированием
				.video-btn
					+play
					.video-duration 0:59
				.video-wrapper
					video#video(poster="img/video-poster.jpg" srcset="img/video-poster@2x.jpg 2x" alt='video')
						source(src="video.mp4" type="video/mp4")
						source(src="video.webm" type="video/webm")
						source(src="video.ogv" type="video/ogg")
//========== КОНЕЦ ОБ АВТОРЕ ==========
include _review.pug
include _price.pug
include _footer.pug