//========== ОТЗЫВЫ ==========
section.reviews
	.container
		h2.title-2 отзывы

		.warning-block
			h3.title-3.text-red Предупреждение
			.warning-block__row.block-flex.mb-20
				.left-col
					p В настоящий момент я дорабатываю курс: «шлифую» теоретическую часть, записываю недостающие видеоуроки и расширяю список дополнительных учебных материалов, перепроверяю тесты и практические задания.
				.right-col
					p Старт обучения в&nbsp;первой&nbsp;группе начнется в&nbsp;сентябре&#8209;октябре 2020&nbsp;года
			.warning-block__row.mb-40
				.left-col
					p Ориентировочный старт обучения первой группы будущих портфельных инвесторов начнется в сентябре&#8209;октябре 2020 года. Официальный старт продаж курса — скорее всего с 1 сентября.
			.warning-block__row
				.left-col.text-group
					h3  Доступен предзаказ
					p Для тех, кто был у меня на бесплатных марафонах, и для тех, кого не смущает отсутствие точной даты старта курса — доступен предзаказ. По нему сейчас скидка 25%. Действует до официального старта продаж в сентябре 
				

			
//========== КОНЕЦ ОТЗЫВЫ ==========