.container
	h2.title-2 Заголовок  секции
	.block
	pre.
		.title-2 Заголовок  секции
	.text-group-30
		h3 Обучение с нуля
		p Курс разработан для тех, кто ничего не понимает в инвестициях и фондовом рынке. Обучение длится месяц и занимает около 1 часа в день. Для работы с курсом понадобится компьютер и доступ в интернет
	pre.
		.text-group-30
			h3 Обучение с нуля
			p Курс разработан для тех, кто ничего не понимает в инвестициях и фондовом рынке. Обучение длится месяц и занимает около 1 часа в день. Для работы с курсом понадобится компьютер и доступ в интернет
	.block
	.text-group
		h4 Доступен предзаказ
		p Для тех, кто был у меня на бесплатных марафонах, и для тех, кого не смущает отсутствие точной даты старта курса — доступен предзаказ. По нему сейчас скидка 25%. Действует до официального старта продаж в сентябре
	pre.
		.text-group
			h4 Доступен предзаказ
			p Для тех, кто был у меня на бесплатных марафонах, и для тех, кого не смущает отсутствие точной даты старта курса — доступен предзаказ. По нему сейчас скидка 25%. Действует до официального старта продаж в сентябре
	.block
		.btn.btn-small Кнопка маленькая
		pre.
			.btn.btn-small Кнопка маленькая
		.btn Кнопка-1
		pre.
			.btn Кнопка-1
		.btn.btn-red Кнопка-2
		pre.
			.btn.btn-red Кнопка-2
		.btn.btn-green Кнопка-3
		pre.
			.btn.btn-green Кнопка-3

		.btn.btn-solid Кнопка-4
		pre.
			.btn.btn-solid Кнопка-4

