.about-content {
	display: flex;
	justify-content: space-between;
}

.about-content-header {
	margin-bottom: 80px;
}

.about-content__text {
	width: 60%;
	max-width: 720px;
}

.about-content-block {
	.text-16 {
		margin-top: 20px;
		margin-bottom: 24px;
	}
}

.about-content-block.w-50 {
	width: 49%;
	max-width: 340px;
}

.about-content__video {
	width: 37%;
	max-width: 438px;
	position: relative;
}

.about-content-block+.block-flex {
	margin-top: 60px;
}

.video-wrapper {
	max-width: 438px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;

}

.video-text.text-30,
.video-btn {
	position: absolute;
}

.video-text {
	bottom: 50px;
	left: 30px;
	z-index: 2;
}

.video-btn {
	z-index: 2;
	left: 25px;
	bottom: 26%;
	width: 115px;
	cursor: pointer;
	.tr;

	&:hover {
		opacity: .8;
	}

}

.video-duration {
	position: absolute;
	top: 45%;
	left: 40%;
	transform: translate(-50%, -50%);
	font-weight: 700;
}

.video-wrapper {
	background: url(../img/video-poster.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
}