.facts-text {
  margin-bottom: 60px;

  p + p {
    margin-top: 20px;
  }
}

.statistics {
  margin-bottom: 136px;
}

.statistics .text-20.text-bold,
.compared .text-20.text-bold {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 60%;
  margin-bottom: 40px;
}

.grid-row,
.conclusion,
.conclusion-2 {
  .col-8 {
    width: 61%;
  }
  .col-4 {
    width: 28%;
  }
}

.statistics-block {
  display: flex;
  justify-content: space-between;
}

.statistics-block__percent {
  // display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: @bb;
  font-size: 100px;
  span.white {
    color: @white;
  }

  span.red {
    color: @red;
  }

  span.text-20 {
    font-family: @m;
  }
  span.text-16{
    font-family: @m;
  }

  .op-6{
    opacity: @op06;
  }
}

p.text-16.text-bold {
  margin-bottom: 24px;
}

.card-color {
  min-width: 190px;
  height: 124px;
  border-radius: 10px;
  padding: 10px 20px 16px 10px;

  .card-color__green {
    background-color: @green;
  }

  .card-color__blue {
    background-color: @blue;
  }

  .card-color__red {
    background-color: @red;
  }

  .card-color__white {
    background-color: @white;
    color: @black;
  }
}

.card-color__block {
  display: flex;
  margin-bottom: 60px;
}

.factoid-money .text-70 {
  font-size: 70px;
  font-family: @b;
  white-space: nowrap;
}

.text-bold {
  font-family: @mb;
}

.conclusion {
  margin-bottom: 120px;
}


.conclusion-2 {
  margin-bottom: 60px;
  p + p {
    margin-top: 20px;
  }
}
