.facts-text {
  margin-bottom: 60px;
}
.facts-text p + p {
  margin-top: 20px;
}
.statistics .text-20 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
}
.grid-row {
  display: flex;
  justify-content: space-between;
}
.grid-row .col-8 {
  width: 66%;
}
.grid-row .col-4 {
  width: 33%;
}
