.faq {


  .question {
    position: relative;
    background-color: @bg;
    margin-bottom: 24px;
    //padding: ;
    border-radius: 10px;
  }

  .title-5 {
    margin: 0;
  }

  .question-header {
    padding: 20px 20px 22px 30px;
    border-bottom: 0;
    background-color: transparent;
    min-height: 72px;
    display: flex;
    align-items: center;
  }

  .accordion-icon svg {
    position: absolute;
    right: 27px;
    transition: 0.5s;
    top: 19px;
  }
}

