.price {

	.sale-icon {
		position: absolute;
		top: -10%;

		right: 0;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: @green;
		-webkit-animation-name: swingElement;
		animation-name: swingElement;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		z-index: 1;

		span {
			.title-2;
			font-family: @bb;
			margin-bottom: 0;

		}

		@media(max-width:1439px) {
			width: 240px;
			height: 240px;

		}

		@media(max-width:1199px) {
			top: -48%;
			z-index: -1;
			width: 200px;
			height: 200px;

			span {
				font-size: 70px;
			}
		}

		@media(max-width:991px) {
			width: 150px;
			height: 150px;


			span {
				font-size: 60px;
			}
		}
	}
}

.header-group {
	position: relative;

	.head-4 {
		margin-bottom: 20px;

	}

	.title-2 {
		border-bottom: 2px solid rgba(255, 255, 255, .2);
		position: relative;
		padding-bottom: 20px;
	}
}



@keyframes swingElement {
	0% {

		transform: rotate(-15deg);
	}


	50% {
		transform: rotate(15deg);
	}

	100% {
		transform: rotate(-15deg);
	}
}

.tariff-item {
	&+.tariff-item {
		margin-top: 100px;
	}

	@media(max-width:1199px) {
		display: block;
	}
}

.tariff-item.tariff-item--bg .price-card {
	background-color: @bg;
	border-color: transparent;
}

.price-card {
	padding-top: 34px;
	padding-right: 60px;
	padding-bottom: 34px;
	padding-left: 40px;
	border: 1px solid rgba(255, 255, 255, .6);
	border-radius: 10px;

}

.price-card {
	width: 67%;
	max-width: 850px;

	@media(max-width:1199px) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.price-card--black {
	background-color: #000;
	border-color: transparent;
}

.footer-group {
	align-items: center;
	margin-top: 70px;

	.price-value {
		.text-90;
		line-height: 1;
		position: relative;

		.old-price {
			position: absolute;
			right: -20px;
			transform: translateX(100%);
			top: 0;
			color: rgba(255, 255, 255, .5);
			font-size: 20px;
			text-decoration: line-through;
		}
	}
}

.price-card__info {
	width: 32%;
	max-width: 410px;

	@media(max-width:1199px) {
		width: 100%;
		max-width: 840px;
		margin-left: auto;
		margin-right: auto;
	}
}

.price-card__info {
	font-size: 18px;
	line-height: 1.5;
	padding-top: 34px;

	span {
		padding-right: 7px;
	}
}

.tariff-item--title {
	margin-top: 100px;
	margin-bottom: 20px;
}