// .fixed-toggle-menu {
// }

// form{
//   max-width: 117px;
// }

// .toggle-menu__select{
//   position: relative;

//   .toggle-menu__select__icon{
//     position: absolute;
//     top: 10px;
//     right: 14px;
//   }

//   input{
//     z-index: 3;
//     height: 40px;
//     border: 1px solid #FFFFFF;
//     background: rgba(37, 37, 46, 0.5);
//     border-radius: 5px;
//     color:@white;
//     max-width: 117px;
//     font-family: @mb;
//     font-size: 20px;
//   }
// }

// .form-select__options{
//   z-index: 1;
//   position: absolute;
//   left: 0;
//   bottom: 2px;
//   transform: translateY(100%);
//   padding: 6px;
//   padding-top: 12px;
//   background: #25252E;

//     li{
//     height: 36px;
//     line-height:36px;
//     color:@white;
//     cursor: pointer;
//   }
// }

.programms-header {
  h1.page-title {
    font-family: @bb;
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.toggle-menu-wrapper {
  width: fit-content;
  width: 100%;
  max-width: 645px;
  overflow-x: auto;
}

.toggle-menu__programms {
  position: relative;
  left: 16px;
  background-color: @bg;
  border-radius: 7px;
  padding: 4px 24px 4px 4px;

  @media (min-width: 767px) {
    left: 75px;
  }
}

.toggle-menu__programms::-webkit-scrollbar {
  display: none;
}

.toggle-menu {
  height: 58px;
  white-space: nowrap;
}

.toggle-menu__btn {
  display: inline-block;
  line-height: 3;
  text-align: center;
  height: 58px;
  width: 50px;
  font-family: @mb;
  color: @white;
  font-size: 20px;
  border-radius: 5px;
  //   margin-right: 10px;

  &:hover {
    color: #dd4f48;
    background-color: transparent;
  }

  &.active {
    background-color: @white;
    color: @bg;
  }

  &:first-child {
    width: 140px;
  }
}

// .toggle-menu__btn :first-child {
//   width: 140px;
// }
