// .fixed-toggle-menu {
// }

// form{
//   max-width: 117px;
// }

// .toggle-menu__select{
//   position: relative;

//   .toggle-menu__select__icon{
//     position: absolute;
//     top: 10px;
//     right: 14px;
//   }

//   input{
//     z-index: 3;
//     height: 40px;
//     border: 1px solid #FFFFFF;
//     background: rgba(37, 37, 46, 0.5);
//     border-radius: 5px;
//     color:@white;
//     max-width: 117px;
//     font-family: @mb;
//     font-size: 20px;
//   }
// }

// .form-select__options{
//   z-index: 1;
//   position: absolute;
//   left: 0;
//   bottom: 2px;
//   transform: translateY(100%);
//   padding: 6px;
//   padding-top: 12px;
//   background: #25252E;

//     li{
//     height: 36px;
//     line-height:36px;
//     color:@white;
//     cursor: pointer;
//   }
// }

.programms-header {
  padding-top: 75px;

  @media(max-width:767px) {

    padding-top: 30px;
  }

  h1.page-title {
    font-family: @bb;
    font-size: 120px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media(max-width:767px) {
      font-size: 60px;

    }

  }
}

.toggle-menu-wrapper {
  width: fit-content;
  width: 100%;
  max-width: 645px;
  overflow-x: auto;
}

.toggle-menu__programms {
  position: sticky;
  top: 20px;
  background-color: @bg;
  border-radius: 7px;
  padding: 4px 24px 4px 4px;
  z-index: 20;


}

.toggle-menu__programms::-webkit-scrollbar {
  display: none;
}

.toggle-menu {
  height: 58px;
  white-space: nowrap;
}

.toggle-menu__btn {
  display: inline-block;
  line-height: 3;
  text-align: center;
  height: 58px;
  width: 50px;
  font-family: @mb;
  color: @white;
  font-size: 20px;
  border-radius: 5px;
  //   margin-right: 10px;

  &:hover {
    color: #dd4f48;
    background-color: transparent;
  }

  &.active {
    background-color: @white;
    color: @bg;
  }

  &:first-child {
    width: 140px;
  }
}

.fix-top-menu {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.fix-top-menu.active {
  display: block;
}


.fix-top-menu__content {
  display: flex;

  @media(max-width: 991px) {
    .toggle-menu__programms {
      display: none;
    }

    justify-content: flex-end;

    .fix-close-mob {
      margin-left: 30px;
    }
  }

}

.fix-top-btn {
  margin-left: 40px;

  .btn {
    background: rgba(221, 79, 72, .9);
    color: #fff;
    .tr;

    &:hover {
      color: rgba(221, 79, 72, 1);
      color: #fff;
    }
  }
}

.fix-top-close {
  margin-left: auto;

  .btn {
    background-color: rgba(17, 17, 21, .9);

    &:hover {
      color: rgba(17, 17, 21, 1);
      color: #fff;
    }
  }
}

.fix-desk {
  display: block;

  @media(max-width:767px) {
    display: none;
  }
}

.fix-close-mob {
  display: none;

  @media(max-width:767px) {
    display: block;
  }
}