.fixed-toggle-menu{

}



.programms-header{
    h1.page-title{
        font-family: @bb;
        font-size: 60px;
        text-transform: uppercase;
    }
}

.toggle-menu-wrapper{
    width: 100%;
    overflow-x: auto;
}
.toggle-menu__programms{

}

.toggle-menu{
    white-space: nowrap;
}

.toggle-menu__btn{
    
    &:active{

    }
}

// .header-menu::-webkit-scrollbar {
//     display: none;
//   }