.reviews-wrapper {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;

	@media(max-width:767px) {
		display: block;
	}
}

.review-col {
	height: 850px;
	overflow: hidden;
	position: relative;
	transition: .5s;

	@media(max-width:767px) {
		height: auto;

		&:last-child {
			height: 600px;
		}

		&:first-child:after {
			display: none;
		}
	}

}

.review-item {
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 50px;
}

.review-btn {
	text-align: center;

	.btn {
		@media(max-width:767px) {
			width: 100%;
			max-width: 335px;
			height: 60px;
			line-height: 60px;
			position: relative;
			top: -5px;
		}
	}

	&.hide {
		display: none;
	}
}

.review-col:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	height: 5.0em;
	background-color: #111115;
	background: linear-gradient(180deg, rgba(17, 17, 21, 0) 0%, #111115 100%);
}

.warning-block {
	padding-top: 50px;
	padding-left: 60px;
	padding-right: 70px;
	padding-bottom: 90px;
	border: 2px solid @red;
	border-radius: 10px;
	width: 100%;
	margin-top: 200px;

	@media(max-width:767px) {
		padding-left: 20px;
		padding-right: 10px;
		padding-top: 30px;
		padding-bottom: 70px;
		margin-left: -10px;
		min-width: 355px;
	}

	.title-3 {
		margin-bottom: 1.12em;

		@media(max-width:767px) {
			font-size: 50px;
			line-height: 1;
			margin-bottom: 70px;
		}
	}

	.block-flex {
		@media(max-width:1199px) {
			display: block;
		}
	}

	.left-col {
		width: 60%;

		max-width: 740px;

		p {
			line-height: 1.5;
		}

		@media(max-width:1199px) {
			width: 100%;
			max-width: 100%;
		}
	}

	.right-col {
		width: 37%;
		max-width: 370px;

		p {
			font-weight: 700;
			.text-24;
			line-height: 1.4;

			@media(max-width:767px) {
				font-size: 20px;
				margin-top: 40px;
				font-weight: 700;
			}
		}

		@media(max-width:1199px) {
			width: 100%;
			max-width: 100%;

			margin-top: 20px;
		}
	}

	.text-group h3 {
		font-family: @mb;
		margin-bottom: 11px;
	}
}