extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_facts.pug
	include ../sections/_programms.pug
	include ../sections/_for-whom.pug
	include ../sections/_about.pug
	include ../sections/_review.pug
	include ../sections/_price.pug
	include ../sections/_discount.pug
	include ../sections/_footer.pug
	include ../sections/_modal.pug
	include ../sections/_modal-modul1.pug


	






block variables
	-var title = "Путь Инвестора";
	